- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/questions_subnav'

#col_left
  .panel_2
    .panelBar
      %h2 Ask a question
    .formBox
      - unless current_user.present?
        %p== #{t 'questions.logged_in_error'} #{link_to 'Login now', login_path}
      - else
        - semantic_form_for Question.new do |form|
          - form.inputs do
            = form.input :question, :required => false, :label => false
          .fullQuestionForm.hide
            - form.inputs do
              = form.input :details, :required => false, :label => t('please_elaborate'), :input_html => { :class => 'asdf' }
              = form.input :tags_string, :label => t('tags'), :required => false, :hint => t('tags_hint')
            - form.buttons do
              = form.commit_button :button_html => { :class => "btn_1" }

  = render_ad(:banner, @ad_layout, @ad_banner)
  - cache "questions_list_#{@page}html" do
    - questions ||= Question.active.paginate :page => params[:page], :per_page => Question.per_page, :order => "created_at desc"
    - @paginate ||= false
    - unless questions.empty?
      .panel_2
        .panelBar
          %h2= t('questions.list_title')
          - if questions.present? and questions.first.refineable?
            .refine_link
              = render :partial => 'shared/forms/refine_dropdown', :locals => { :select_options => Question.refineable_select_options }
        .subtitle
          %span= t('questions.list_subtitle')
        .itemListWrap
          #front-stories.list_items
            %ul
              - questions.each do |question|
                %li.askQuestionWrap{'data-id' => question.cache_key}
                  .item_1
                    .thumb
                      - if question.images.present?
                        = image_tag question.images.first.url(:thumb)
                      - else
                        = image_tag ('default/watermark.jpg')
                    .itemBlock
                      %h2= link_to question.question, question
                      %p= linked_item_details question
                      .profilePic= local_linked_profile_pic question.user
                      .itemMeta
                        %h3= t('asked_by', :fb_name => local_linked_profile_name(question.user), :date => timeago(question.created_at))
                        %span.btnComment== #{like_link question} #{question.votes.size}
                        %span.btnComment== #{link_to answer_translate(question.answers.count), question_path(question, :anchor => "commentListTop")}
                        %span.btnComment= fb_share_item_button question

      - if @paginate
        .clearfix
          = will_paginate questions
          %br

#col_right
  = render :partial => 'shared/sidebar/questions_whatisthis'
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'
  = render :partial => 'shared/sidebar/newest_answers'
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Question , :locale_var => 'popular_tags' }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
