- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/questions_subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  - @questions ||= Question.active.newest
  - @paginate ||= false
  .panel_2
    .panelBar
      %h2= t('questions.my_list_title')
      - if @questions.present? and @questions.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown', :locals => { :select_options => Question.refineable_select_options }
    .subtitle
      %span= t('questions.my_list_subtitle')
    - unless @questions.empty?
      .itemListWrap
        #front-stories.list_items
          %ul
            - @questions.each do |question|
              %li.askQuestionWrap{'data-id' => question.cache_key}
                .thumb
                  - if question.images.present?
                    = image_tag question.images.first.url(:thumb)
                  - else
                    = image_tag ('default/watermark.jpg')
                .itemBlock
                  %h2= link_to question.question, question
                  %p= linked_item_details question
                  .profilePic= local_linked_profile_pic question.user
                  .itemMeta
                    %h3= t('asked_by', :fb_name => local_linked_profile_name(question.user), :date => timeago(question.created_at))
                    %span.btnComment== #{like_link question} #{question.votes.size}
                    %span.btnComment== #{link_to answer_translate(question.answers.count), question_path(question, :anchor => "commentListTop")}
                    %span.btnComment= fb_share_item_button question

      - if @paginate
        .clearfix
          = will_paginate @questions
          %br

#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'
  = render :partial => 'shared/sidebar/newest_answers'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
