- content_for :sub_nav do
  = render :partial => 'shared/subnav/questions_subnav'

#col_left
  %h1 Ask a question
  - semantic_form_for Question.new do |form|
    %p= form.input :question, :required => false, :label => false
    %p
      %b= t('please_elaborate')
      = form.input :details, :required => false, :label => false
    %p= form.input :tags_string, :label => t('tags'), :required => false, :hint => t('tags_hint')
    - form.buttons do
      = form.commit_button :button_html => { :class => "btn_1" }

#col_right
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/top_questions'
