- content_for :sub_nav do
  = render :partial => 'shared/subnav/questions_subnav'

#col_left
  .panel_2
    .panelBar
      %h2 Ask a question
    .formBox
      - unless current_user.present?
        %p== #{t 'questions.logged_in_error'} #{link_to 'Login now', login_path}
      - else
        - semantic_form_for Question.new do |form|
          - form.inputs do
            = form.input :question, :required => false, :label => t('What is your Question?')
            = form.input :details, :required => false, :label => t('please_elaborate'), :input_html => { :class => 'asdf' }
            = form.input :tags_string, :label => t('tags'), :required => false, :hint => t('tags_hint')
            = render :partial => 'shared/forms/wall_postable', :locals => { :form => form }
          - form.buttons do
            = form.commit_button  :class => 'float_right', :button_html => { :class => "btn" }

#col_right
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/top_questions'
