- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/questions_subnav'

#col_left
  #itemDetails.panel_2
    - cache "#{@question.cache_key}_top_html" do
      .topBar
        %ul
          %li
            %a== #{like_link @question} #{@question.votes_tally}
          %li
            %a= link_to t('answer_question'), '#', :class => "answer_link"
          %li= fb_share_item_button(@question)
          %li
            %a= twitter_share_item_link @question, @question.question
          %li
            = render :partial => 'shared/add_this'
      .itemBlock
        .half-panel
          - if @question.images.present?
            .thumb= image_tag @question.images.first.url(:medium)
        %h1.askQuestionHead= @question.question
        .itemMeta
          %h3= t('asked_by', :fb_name => local_linked_profile_name(@question.user), :date => timeago(@question.created_at))
          - if @tags.present?
            %h3== #{tag_list(@tags, @question)}
          - if @question.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @question }
      %div.itemBlock= sanitize @question.details
      - if @question.media_item?
        = render_media_items @question
      = render_ad(:banner, @ad_layout, @ad_banner)
  #answerForm.panel_2.hide
    .panelBar
      %h2 
        Answer this question
    .formBox
      - unless current_user.present?
        %p== #{t 'questions.logged_in_error'} #{link_to 'Login now', login_path}
      - else
        - semantic_form_for @answer, :url => create_answer_question_path(@question) do |form|
          - form.inputs do
            = form.input :answer, :label => false
          - form.buttons do
            = form.commit_button :button_html => { :class => "btn_1" }
  - cache "#{@question.cache_key}_bottom_html" do
    #answersList.panel_2
      - unless @question.answers.present?
        .panelBar
          %h2
            This question has not yet been answered, 
            %a= link_to t('answer_it'), '#', :class => "answer_link"
      - else
        .panelBar
          %h2== Showing #{pluralize @question.answers.size, 'Answer'}
        .itemListWrap
          .list_items
            %ul
              - @question.answers.each do |answer|
                = render :partial => 'shared/answer', :locals => { :answer => answer }
    - if @outbrain_item
      = render :partial => 'shared/external/outbrain_wrapper'
    = render :partial => 'shared/item_footer', :locals => { :item => @question,:title => @question.question }
    - if @question.moderatable?
      = render :partial => 'shared/moderate_form', :locals => { :moderatable => @question }

#col_right
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @question }
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
