- content_for :sub_nav do
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_leaderboard }
  = render :partial => 'shared/subnav/questions_subnav'

#col_left
  - cache "#{@question.cache_key}_html" do
    #readArticle.panel_1
      .topBar
        %ul
          %li
            %a== #{like_link @question} #{@question.votes_tally}
          %li
            %a= link_to t('answer_question'), '#', :class => "answer_link"
          %li
            %a= fb_share_button(question_url(@question))
          %li
            %a= twitter_share_item_link @question, @question.question

      .thumb
        - if @question.images.present?
          = image_tag @question.images.first.url(:medium)
      .storyBlockWrap
        %h1.storyHead.askQuestionHead= @question.question
        .storyBlockMeta
          %h3= t('asked_by', :fb_name => local_linked_profile_name(@question.user), :date => time_ago_in_words(@question.created_at))
          - if @tags.present?
            %h3== #{tag_list(@tags, @question)}
          - if @question.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @question }
      %div.bodyArticle= sanitize caption @question.details
      - if @question.media_item?
        = render_media_items @question
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_banner }
  #answerForm.hide
    - unless current_user.present?
      %p== #{t 'questions.logged_in_error'} #{link_to 'Login now', login_path}
    - else
      - semantic_form_for @answer, :url => create_answer_question_path(@question) do |form|
        - form.inputs do
          = form.input :answer
        - form.buttons do
          = form.commit_button :button_html => { :class => "btn" }
  #answersList
    - unless @question.answers.present?
      %p
        This question has not yet been answered, 
        %a= link_to t('answer_it'), '#', :class => "answer_link"
    - else
      %h2== Showing #{pluralize @question.answers.size, 'Answer'}
      .list_stories
        %ul
          - @question.answers.each do |answer|
            = render :partial => 'shared/answer', :locals => { :answer => answer }
  = render :partial => 'shared/item_footer', :locals => { :item => @question,:title => @question.question }
  - if @question.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @question }

#col_right
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'