-# @expects: local 'list_title, scores'
- list_title ||= "Top Users"
- item_type ||= "activity"
%div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
  .panelBar
    %h2= list_title
  .list_items
    %ul
      - unless scores.empty?
        - scores.each do |score|
          - user = score.user
          - if item_type == 'activity'
            - display_score = score.total_score
          - else if item_type == 'prediction'
            - display_score = accuracy << "%"
          %li
            .itemBlock
              .profilePic= local_linked_profile_pic user
              .float_left
                %h4== #{local_linked_profile_name(user)}
                -#TODO:: add something in here
                -#%h3= "City and State"
              .float_right
                %h4.userPoints= score.total_score
      - else
        %li
          .itemBlock
            .float_left
              %p= list_empty