.panel-1.float-right
  /change the class where "active" is to switch out the icon in the background.
  %div.panel-bar.top-secondary-corners{:class => vo.setting.css_class}
    .panel-full
      - if vo.setting and vo.setting.locale_title
        %h2.float-left= vt.t(vo.setting.locale_title)
        - if vo.setting.use_post_button
          = post_something vo.setting.klass_name, "center"
  .panel-content
    %ul.list-items
      - vo.dataset.each_with_index do |item, index|
        - if index == 0
          %li
            .item-with-image
              .item-thumb
                %a= image_tag(thumb_image_or_default(item))
              .item-text
                %h4
                  %span.ellipsis_title_3= link_to item.item_title, item.item_link, :class => 'ellipsis_text'
                .meta-data.clearfix
                  %h6= posted_by_with_topic(item)
                  %h6= action_links(item)

        - elsif index == 1
          %li
            .item-with-no-image
              .item-text
                %h3
                  %span.ellipsis_title_2= link_to item.item_title, item.item_link, :class => 'ellipsis_text'
              .meta-data
                .profile-pic
                  = local_linked_profile_pic item.item_user
                %h6= posted_by_with_date_and_topic(item)
                %h6= action_links(item)

        - else
          %li
            .item-with-no-image
              .item-text
                %h3
                  %span.ellipsis_title_2= link_to item.item_title, item.item_link, :class => 'ellipsis_text'
              .meta-data
                %h6= posted_by_with_date_and_topic(item)
                %h6= action_links(item)
