.panel-1
  .panel-content.meta-panel
    .panel-full
      - if current_user.present? and current_user.is_established?
        .profile-pic= local_linked_profile_pic current_user
        %h4= vt.t('welcome_name', :name => current_user.public_name)
        - unless current_user.combined_score < 20
          %h5= vt.t('karma_score', :score => current_user.karma_score)
          %h5= vt.t('activity_score', :score => current_user.activity_score)
        - else
          %h5= vt.t('newbie_headline')
        %span.clearfix
        %br
        - if vo.setting.use_post_button
          = link_to "Post to #{get_setting('site_title').try(:value)}", new_story_path, :class => "button-link"
      - else
        .profile-pic
          - case get_setting('welcome_layout').try(:value)
            - when 'host'
              - if user = User.get_welcome_host
                = local_linked_profile_pic(user)
              - else
                = image_tag('default/house-ad-profile.jpg')
            - when 'thumb'
              - image_url = get_setting('welcome_image_url').try(:value)
              - if image_url.present?
                = image_tag image_url
              - else
                = image_tag('default/house-ad-profile.jpg')
            - else
              = image_tag('default/house-ad-profile.jpg')
        %h4= vt.t('shared.sidebar.welcome_panel.welcome_panel_headline')
        %h5= vt.t('shared.sidebar.welcome_panel.welcome_panel_message_fbml')
