- item1 = vo.dataset.first
- item2 = vo.dataset[1]
- item3 = vo.dataset.last
.panel-3
  .panel-content.featured-panel
    .panel-twothird
      - if item1
        .item-with-image
          .item-thumb
            %a= image_tag(medium_image_or_default(item1))
          .item-text
            %h1
              %span.ellipsis_title_2= link_to item1.item_title, item1.item_link, :class => 'ellipsis_text'
            %p.ellipsis_caption_5
              %span.ellipsis_text= item1.item_description
            .meta-data
              .profile-pic
                = local_linked_profile_pic item1.item_user
              %h6= posted_by_with_topic item1

              %h6= action_links(item1)

    .panel-third.alpha
      %ul.list-items
        - if item2
          %li
            .item-with-image
              .item-thumb
                %a= image_tag(thumb_image_or_default(item2))
              .item-text
                %h3
                  %span.ellipsis_title_2= link_to item2.item_title, item2.item_link, :class => 'ellipsis_text'
                .meta-data
                  %h6= action_links(item2)

        - if item3
          %li.last
            .item-with-image
              .item-thumb
                %a= image_tag(thumb_image_or_default(item3))
              .item-text
                %h3
                  %span.ellipsis_title_2= link_to item3.item_title, item3.item_link, :class => 'ellipsis_text'
                .meta-data
                  %h6= action_links(item3)
