<div class="panel_2 left">
	<div class="panelBar"><h2>Sign In</h2></div>
	<div class="formBox login">
	<ul>
    <li>
	<span class="desc">Connect to our site using your Facebook login.</span>

    <div class="fb-login-btn"><%= fb_login_button('window.location = "/users/link_user_accounts";')%></div>
	</li>
    
    
    <% form_tag session_path do -%>
    <li><%= label_tag 'login', t('.login') %>
    <%= text_field_tag 'login', @login %></li>

    <li><%= label_tag 'password', t('.password') %>
    <%= password_field_tag 'password', nil %></li>

    <!-- Uncomment this if you want this functionality
    <li><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></li>-->

    <li class="submit-btn">
	<%= submit_tag t('.submit'), :class => "btn" %>
	</li>
    <% end -%>
	</ul>
	</div>
</div>
