<div class="panel_2 left">
	<div class="panelBar"><h2>Sign In</h2></div>
	<div class="formBox login">
    <p>Use your Facebook account for easy access to our community</p>
    <br /><br />
    <p><%= fb_login_button('window.location = "/users/link_user_accounts";')%></p>
    <br /><p>&nbsp;&nbsp;
    <%= fb_prompt_permission('offline_access', t('sessions.request_offline_access')) %>
    </p>
   <br /><br />

    <% if APP_CONFIG['allow_web_auth'].present? and APP_CONFIG['allow_web_auth'] %>
      <% form_tag session_path do -%>
      <p><%= label_tag 'login', t('.login') %><br />
      <%= text_field_tag 'login', @login %></p>

      <p><%= label_tag 'password', t('.password') %><br/>
      <%= password_field_tag 'password', nil %></p>

      <!-- Uncomment this if you want this functionality
      <p><%= label_tag 'remember_me', 'Remember me' %>
      <%= check_box_tag 'remember_me', '1', @remember_me %></p>
  -->
      <p><%= submit_tag t('.submit') %></p>
      <% end -%>
    <% end -%>
	</div>
</div>
<br />