-# content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  -# move topics breadcrumbs to here and test 
  
#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  = render :partial => 'shared/topics', :locals => { :forum => @forum, :topics => @topics, :page => @page, :paginate => @paginate }
  - if @forum.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @forum }

#col_right
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_topics'
  = render :partial => 'shared/sidebar/newest_topics'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
