- user = user_triggered_comment.originator
- comment = user_triggered_comment.participant
%p= caption((comment.comments.present?) ? "\"#{comment.comments}\"" : 'no comment',200)

.user-wrapper
  .profilePic= local_linked_profile_pic user, :width => '30px', :height => '30px', :only_path => false, :format => 'html'
  %h3
    = t('posted_by', :fb_name => local_linked_profile_name(user, :only_path => false, :format => 'html'), :date => timeago(comment.created_at))
  %h3
    Re: 
    = link_to caption(comment.commentable.item_title,120), polymorphic_path(comment.commentable, :only_path => false, :format => 'html')
