<h1>Editing locale</h1>

<% form_for [:admin, @locale] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag :code %><br />
    <%= text_field_tag "locale_form[code]", @locale.code %>
  </p>
  <p>
    <%= label_tag :name %><br />
    <%= text_field_tag "locale_form[name]", @locale.name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @locale] %> |
<%= link_to 'Back', admin_locales_path %>