- content_for :sub_nav do
  = render :partial => 'shared/subnav/stories_subnav'

#col_left
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @slot_data }
  = render :partial => 'shared/newswires', :locals => { :newswires => @newswires, :paginate => @paginate }

#col_right.clearfix
  = render :partial => 'shared/sidebar/post_story'
  = render :partial => 'shared/sidebar/top_stories', :locals => { :top_stories => @top_stories }
  = render :partial => 'shared/sidebar/top_discussed_stories', :locals => { :most_discussed_stories => @most_discussed_stories }
  = render :partial => 'shared/sidebar/top_users', :locals => { :top_users => @top_users }
  = render :partial => 'shared/sidebar/newest_users', :locals => { :newest_users => @newest_users }