#col_left
  .panel_1
    .panelBar.clearfix
      %h2= t '.title'
    .storyList
      - @newswires.each do |newswire|
        -# TODO:: remove inline css
        .storyBlockWrap{:style => "width: 490px; clear: left; word-wrap: break-word;"}
          %p.storyHead= link_to newswire.title, newswire.url, :target => "_cts"
          %p.storyCaption= linked_newswire_caption newswire
          .storyBlockMeta
            %p= t('.via', :title => newswire.feed.title, :date => time_ago_in_words((newswire.updated_at || newswire.created_at)))
            %span.btn_left= link_to t('.publish', :site_title => APP_CONFIG['site_title']), publish_newswire_path(newswire)
            %span.btn_right= link_to t('.read'), newswire.url, :target => "_cts"
#col_right
  = render :partial => 'shared/sidebar/post_story'
