- content_for :sub_nav do
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @slot_data }       
  = render :partial => 'shared/subnav/ideas_subnav'

#col_left
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @slot_data }
  = render :partial => 'shared/ideas', :locals => { :ideas => @ideas, :title => t('.ideas_title') }

#col_right
  = render :partial => 'shared/sidebar/ideas_whatisthis'
  = render :partial => 'shared/sidebar/idea_boards_list', :locals => { :idea_boards => @newest_idea_boards }
  = render :partial => 'shared/sidebar/top_ideas'
  = render :partial => 'shared/sidebar/newest_ideas'
