- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/ideas_subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)  
  = render :partial => 'shared/ideas', :locals => { :ideas => @ideas, :paginate => @paginate, :page => @page }

#col_right
  = render :partial => 'shared/sidebar/ideas_whatisthis'
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/idea_boards_list', :locals => { :idea_boards => @newest_idea_boards }
  = render :partial => 'shared/sidebar/top_ideas'
  = render :partial => 'shared/sidebar/newest_ideas'
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Idea , :locale_var => 'popular_tags' }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
  
