- content_for :sub_nav do
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_leaderboard }  
  = render :partial => 'shared/subnav/ideas_subnav'

#col_left
  = render :partial => 'shared/my_ideas', :locals => { :ideas => @ideas, :title => t('.my_ideas_title') }

#col_right
  = render :partial => 'shared/sidebar/top_ideas'
  = render :partial => 'shared/sidebar/newest_ideas'
