- content_for :sub_nav do
  - if @idea_board.present?
    = render :partial => 'shared/subnav/idea_boards_subnav'
  - else
    = render :partial => 'shared/subnav/ideas_subnav'

#col_left
  .panel_1
    .panelBar
      %h2 
        Suggest An Idea
    .formBox
      %h4.title== What's your idea for a #{APP_CONFIG['site_topic']}?

      - semantic_form_for @idea do |form|
        - form.inputs do
          = form.input :title, :hint => t('.hint_idea_title')
          = form.input :details, :input_html => { :rows => 5 }, :hint => t('.hint_idea_details') 
          = form.input :tags_string,:label => t('tags'),  :required => false, :hint => t('tags_hint')
          = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @idea }
          = form.input :idea_board, :label => t('.idea_board'), :required => true, :include_blank => false, :hint => t('.hint_idea_boards')
        - form.buttons do
          = form.commit_button  :button_html => { :class => 'btn' } 
#col_right
  = render :partial => 'shared/sidebar/ideas_list', :locals => { :ideas => @top_ideas, :title => t('.top_ideas') }
  = render :partial => 'shared/sidebar/ideas_list', :locals => { :ideas => @newest_ideas, :title => t('.newest_ideas') }
