- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  - if @idea_board.present?
    = render :partial => 'shared/subnav/idea_boards_subnav'
  - else
    = render :partial => 'shared/subnav/ideas_subnav'

#col_left
  - cache "#{@idea.cache_key}_html" do
    #itemDetails.panel_2
      .topBar
        %ul
          %li
            %a== #{like_link @idea} #{@idea.votes_tally}
          %li
            %a== #{link_to t('comment'), idea_path(@idea, :anchor => "postCommentBox")} #{@idea.comments_count}
          %li= fb_share_item_button(@idea)
          %li
            %a= twitter_share_item_link @idea, @idea.title
          %li
            = render :partial => 'shared/add_this'
      .itemBlock
        .thumb
          - if @idea.images.present?
            = image_tag @idea.images.first.url(:medium)
        %h1= @idea.title
        .itemMeta
          %h3
            = t('posted_by', :fb_name => local_linked_profile_name(@idea.user), :date => timeago(@idea.created_at))
            - if @idea.idea_board.present?
              in
              = link_to(@idea.idea_board.name, @idea.idea_board)
          - if @tags.present?
            %h3== #{tag_list(@tags,@idea)}
          - if @idea.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @idea }
      %div.itemBlock= sanitize @idea.details
    - if @idea.media_item?
      = render_media_items @idea
    = render_ad(:banner, @ad_layout, @ad_banner)
    = render :partial => 'shared/comments', :locals => { :comments => @idea.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @idea }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => @idea, :title => @idea.title }
  - if @idea.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @idea }

#col_right
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/bio', :locals => { :user => @idea.user }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @idea, :related_items => @idea.related_items }
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @idea }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
