- content_for :sub_nav do
  - if @idea_board.present?
    = render :partial => 'shared/subnav/idea_boards_subnav'
  - else
    = render :partial => 'shared/subnav/ideas_subnav'

#col_left
  .list_stories.clearfix
    %ul
      %li
        .storyBlockWrap
          .profilePicLarger
            = local_linked_profile_pic @idea.user
          %p.storyHead= @idea.title
          %p.storyCaption= sanitize @idea.details
          .storyBlockMeta
            %h3= t('.asked_by', :fb_name => local_linked_profile_name(@idea.user), :date => time_ago_in_words(@idea.created_at))
            - if @idea.idea_board.present?
              %h3= t('.asked_in_board', :board_link => link_to(@idea.idea_board.name, @idea.idea_board))
            %p
              %span.btn_left== #{link_to t('.like'), like_idea_path(@idea, :return_to => idea_path(@idea)), :class => "voteLink"} #{@idea.votes.size}
              %span.btn_mid== #{link_to t('.post_comment'), idea_path(@idea, :anchor => "postCommentBox")} #{@idea.comments_count}
              %span.btn_right= fb_share_button(idea_path(@idea))
            - if @tags.present?
              %h3== Tags #{tag_list(@tags,@idea)}
            - if @idea.moderatable?
              = render :partial => 'shared/flag_form', :locals => { :flaggable => @idea }

  - if @idea.media_item?
    = render_media_items @idea
  %br
  %br
  = render :partial => 'shared/comments', :locals => { :comments => @idea.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @idea }
  = render :partial => 'shared/item_footer', :locals => { :item => @idea, :title => @idea.title }

#col_right
