- limit_title = 100
- limit_caption = 300        
.half-panel
  .thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
  .itemBlock
    %h4
      %span.ellipsis_title_2
        = link_to caption(item.featured_title,limit_title), item.featured_url, { :class => 'ellipsis_text'}
    %p
      = caption(sanitize(strip_tags(primary1.featured_blurb)),limit_caption)
    %span.btnComment== #{like_link primary1} #{primary1.num_votes}
    %span.btnComment== #{link_to t("#{primary1.featured_related_locale}"), primary1} #{primary1.featured_related_count}
