- limit_title = 28
- limit_caption = 60
.panel_4
  .thumb= link_to image_tag(item.featured_image_url), item.featured_url
.panel_4
  .itemBlock
    %h4= link_to caption(item.featured_title,limit_title), item.featured_url
    %p
      = caption(sanitize(strip_tags(item.featured_blurb)),limit_caption)
      -# = link_to 'More...', item
    - unless item.featured_related_count == 0
      %span.btnComment== #{link_to t("#{item.featured_related_locale}"), item} #{item.featured_related_count}
    -else
      %span.btnComment== #{like_link item} #{item.num_votes}
