.half-panel
  .thumb
    - if item.video_item?
      = embed_video item.featured_video, :size => 'large'
    - else
      = link_to image_tag(item.featured_image_url), item.featured_url
.half-panel
  .itemBlock
    %h1
      %span.ellipsis_title_2
        = link_to item.featured_title, item.featured_url,{ :class => 'ellipsis_text'}
    %p.ellipsis_caption_4
      %span.ellipsis_text= caption(sanitize(strip_tags(item.featured_blurb)),300)
    %span.btnComment== #{like_link item} #{item.num_votes}
    %span.btnComment== #{link_to t("#{item.featured_related_locale}"), item} #{item.featured_related_count}

