.panel_1.featureWrap
  .panelBar
    %h2 
      Featured Stories
  .full-panel
    .thumb
      = image_tag('default/default_thumb.gif')
    .itemBlock
      %h1 
        %a.ellipsis_title_2
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %p.ellipsis_caption_5
        %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet

      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16


.panel_1.featureWrap
  .item_1.users
    .thumb.user
      = image_tag('default/test-profile-pic.jpg')
      = image_tag('default/icon-mod-badge.png', :class => 'moderator')  
    .itemBlock
      %h4 Welcome, Name!
      %h3 Participation: 10,000
      %h3 Appreciation: 10,000

.panel_1
  %h1
    One Column Widget Layouts

.panel_1
  .panelBar
    %h2 
      Top Articles
  .list_items
    %ul
      %li
        .item_1.topic
          .thumb.user
            = image_tag('default/test-profile-pic.jpg')
            = image_tag('default/icon-mod-badge.png', :class => 'moderator')  
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit

  .itemActions
    %a
      View More Items
.panel_1
  .panelBar
    %h2 
      top Stories
  .list_items
    %ul
      %li
        .item_1.article
          .thumb
            = image_tag('default/default_thumb.gif')
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit

  .itemActions
    %a
      View More Items


.panel_1
  .panelBar
    %h2 
      Newest Stories
  .list_items
    %ul
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            %p
              1:45PM Officials shut down an N.C. port and urged people to leave the area after...
              %a
                More...

            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit


  .itemActions
    %a
      View More Items


.panel_1
  %h1
    Featured One Column Widget Layouts

.panel_1
  .panelBar
    %h2
      Featured Answer
  .list_items
    %ul
      %li
        .featured
          .item_2.answer
            .itemBlock
              %h4
                %a.ellipsis_title_1
                  %span.ellipsis_text Re: Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              %p.ellipsis_caption_3
                %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
              .itemMeta
                .profilePic
                  = image_tag('default/test-profile-pic.jpg')
                  = image_tag('default/icon-mod-badge.png', :class => 'moderator')  
                %h3 
                  Posted by
                  %a Bob Bobberson
                  5 hours ago
                %h3 
                  Re:
                  %a How to be awesome with just ...


.panel_1
  .panelBar
    %h2
      Featured article
  .list_items
    %ul
      %li
        .featured
          .item_1.article
            .thumb.user
              = image_tag('default/test-profile-pic.jpg')
              = image_tag('default/icon-mod-badge.png', :class => 'moderator')  
            .itemBlock
              %h4
                %a.ellipsis_title_2
                  %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              .itemMeta

                %h3 
                  Written by:
                  %a Bob Bobberson
                %span.btnComment
                  %a
                    Comment
                  16
                %span.btnComment
                  %a.voteUp
                    like
                  2
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %h3 
                Written by:
                %a Bob Bobberson
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %h3 
                Written by:
                %a Bob Bobberson

      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %h3 
                Written by:
                %a Bob Bobberson

  .itemActions
    %a
      View More Items

.panel_1
  .panelBar
    %h2
      Featured comment
  .list_items
    %ul
      %li
        .featured
          .item_2.comment
            .itemBlock
              %h4
                %a.ellipsis_title_1
                  %span.ellipsis_text Re: Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              %p.ellipsis_caption_3
                %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
              .itemMeta
                .profilePic
                  = image_tag('default/test-profile-pic.jpg')
                  = image_tag('default/icon-mod-badge.png', :class => 'moderator')  
                %h3 
                  Posted by
                  %a Bob Bobberson
                  5 hours ago
                %h3 
                  Re:
                  %a How to be awesome with just ...
.panel_1
  .panelBar
    %h2
      Featured Idea
  .list_items
    %ul
      %li
        .featured
          .item_2.idea
            .itemBlock
              %h2
                %a.ellipsis_title_2
                  %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              .itemMeta
                %span.btnComment
                  %a
                    View
                %span.btnComment
                  %a
                    Reply
                %span.btnComment
                  %a.voteUp
                    Like
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit

  .itemActions
    %a
      View More Items

.panel_1
  .panelBar
    %h2
      Featured Question
  .list_items
    %ul
      %li
        .featured
          .item_2.question
            .itemBlock
              %h2
                %a.ellipsis_title_2
                  %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              .itemMeta
                %span.btnComment
                  %a
                    View
                %span.btnComment
                  %a
                    Reply
                %span.btnComment
                  %a.voteUp
                    Like
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_2
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit

  .itemActions
    %a
      View More Items

.panel_1
  .panelBar
    %h2
      Featured Event
  .list_items
    %ul
      %li
        .featured
          .item_2.event
            .itemBlock
              %h2
                %a
              %h2
                %a.ellipsis_title_1
                  %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              .itemMeta
                %h3
                  Place: 123 N Carminite wy, Capitol Hill
                %h3
                  Time: 9:30pm
              .itemMeta
                %span.btnComment
                  %a
                    View Details
                %span.btnComment
                  %a
                    Comment
                %span.btnComment
                  %a.voteUp
                    Like
        %li
        .event
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %h3 Time: 9:30pm | Place: Capitol Hill
        %li
        .event
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %h3 Time: 9:30pm | Place: Capitol Hill
        %li
        .event
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
            .itemMeta
              %h3 Time: 9:30pm | Place: Capitol Hill

  .itemActions
    %a
      View More Items


.panel_1
  .panelBar
    %h2
      Featured Resource
  .list_items
    %ul
      %li
        .featured
          .item_1.resource
            .thumb
              = image_tag('default/default_thumb.gif')
            .itemBlock
              %h4
                %a.ellipsis_title_1
                  %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
              .itemMeta
                %span.btnComment
                  %a
                    Comment
                  16
                %span.btnComment
                  %a.voteUp
                    like
                  2
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %li
        .item_2
          .itemBlock
            %h4
              %a.ellipsis_title_1
                %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit

  .itemActions
    %a
      View More Items


.panel_1
  .panelBar
    %h2
      Featured Media
  .featured.media
    .thumb
      %a= image_tag('default/default_thumb.gif')
  .list_media
    %ul
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')
      %li
        %a= image_tag('default/default_thumb.gif')

  .itemActions
    %a
      View More Items