.panel_2
  .panelBar
    %h2 Resource Directory
    %span.bar_link
      %a Post Resource
      = pipe_spacer
      %a My Resources
  .subtitle
    Showing 1-4 of 4 Results
    .refine_link
      = render :partial => 'shared/forms/refine_dropdown'

.panel_2.sponsorbox
  .panelBar
    %h2 Sponsored

  %ul
    %li
      .itemBlock
        %h4 
          %a 
            Sponsored Resource 1
        %p Description of Resource 1 Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
    %li
      .itemBlock
        %h4 
          %a 
            Sponsored Resource 2
        %p Description of Resource 2 Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler

.panel_2
  .list_items
    %ul
      %li.featureWrap
        .thumb
          = image_tag('default/watermark.jpg')
        .itemBlock
          %h4 
            %a 
              Featured Resource
          %p Description of Resource Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
          %span.btnComment
            %a.voteUp Like
          %span.btnComment
            %a Comment
      %li.featureWrap
        .thumb
          = image_tag('default/watermark.jpg')
        .itemBlock
          %h4 
            %a 
              Featured Resource
          %p Description of Resource Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
          %span.btnComment
            %a.voteUp Like
          %span.btnComment
            %a Comment
      %li
        .thumb
          = image_tag('default/watermark.jpg')
        .itemBlock
          %h4 
            %a 
              Resource 1
          %p Description of Resource Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
          %span.btnComment
            %a.voteUp Like
          %span.btnComment
            %a Comment
      %li
        .thumb
          = image_tag('default/watermark.jpg')
        .itemBlock
          %h4 
            %a 
              Resource
          %p Description of Resource Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
          %span.btnComment
            %a.voteUp Like
          %span.btnComment
            %a Comment