.panel_2
  %h1
    One Large Story and Story Bullet list


.panel_1.left
  .panelBar
    %h2
      Blogs
  %ul
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_1.right
  .panelBar
    %h2
      Latest Comments

  %ul
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no ...More
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no ...More
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_2
  .panelBar
    %h2
      Recent Media     
  .list_media
    %ul
      %li.videoThumb
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb



.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .half-panel
    .thumb.nineSixteen
      = image_tag('default/default_thumb.gif')
    .itemBlock
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

  .half-panel
    .itemBlock
      .list_featured
        %ul
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
              %h4
                %a
                  Gores split after 40 years o...
              %p
                1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...


.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .itemBlock.header-top
    %h1
      Local News Title thats extra long goes here.
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .itemBlock
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an... 
      %a
        More 
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16
  