.panel_2
  %h1
    4 story layout

.panel_2.featureWrap
  .panelBar
    %h2
      Featured Stories
  .quarter-panel.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4.ellipsis_title_2 
        %a
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %span.btnComment
        %a
          Comment
  .quarter-panel
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4.ellipsis_title_2 
        %a
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %span.btnComment
        %a
          Comment
  .quarter-panel
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4.ellipsis_title_2 
        %a
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %span.btnComment
        %a
          Comment
  .quarter-panel.last
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4.ellipsis_title_2 
        %a
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %span.btnComment
        %a
          Comment
.panel_2
  %h1
    3 story layout

.panel_2.featureWrap
  .panelBar
    %h2
      Featured Stories
  .third-panel
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4 
        %a.ellipsis_title_2
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %p.ellipsis_caption_4
        %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
      %a
        More
      %span.btnComment
        %a
          Comment
        16
  .third-panel
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4 
        %a.ellipsis_title_2
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %p.ellipsis_caption_3
        %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
        %a
          More...
      %span.btnComment
        %a
          Comment
        16
  .third-panel
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h4 
        %a.ellipsis_title_2
          %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
      %p.ellipsis_caption_3
        %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
        %a
          More...
      %span.btnComment
        %a
          Comment
        16

.panel_2
  %h1
    2 story layouts

.panel_2.featureWrap
  .panelBar
    %h2
      Featured Stories
  .quarter-panel.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
  .quarter-panel
    .itemBlock
      %h4 
        %a Two story small layout - Two line title
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        16
        %a
          Comments
  .quarter-panel
    .thumb
      %a= image_tag('default/default_thumb.gif')
  .quarter-panel.last
    .itemBlock
      %h4 
        %a Two story small layout - Two line title
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        16
        %a
          Comments

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .half-panel
    .thumb
      .caption-note
        %h5 caption text goes here! caption text goes here! caption text goes here! caption text goes here! caption text goes here! caption text goes here! caption text goes here!
      = image_tag('default/default_thumb.gif')
    .itemBlock
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
  .half-panel
    .thumb
      .caption-note
        %h5 caption text goes here! caption text goes here! caption text goes here! caption text goes here! caption text goes here! caption text goes here! caption text goes here!
      = image_tag('default/default_thumb.gif')
    .itemBlock
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

.panel_2
  %h1
    1 story layout

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .half-panel
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')
  .half-panel
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM.  1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .half-panel
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')
  .half-panel
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %h4
              %a
                This bulleted item can only...
          %li
            %h4
              %a
                This bulleted item can only...

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .half-panel
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %h4
              %a
                This bulleted item can only...
          %li
            %h4
              %a
                This bulleted item can only...
  .half-panel
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')

.panel_2
  %h1
    1 Large Story & 3 Small Stories

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .half-panel
    .thumb.short
      = image_tag('default/default_thumb.gif')
  .half-panel
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
  .clearfix
    .third-panel-small
      .thumb
        %a= image_tag('default/default_thumb.gif')
      .itemBlock
        %h4 
          %a Title text for sky box goes here
    .third-panel-small
      .thumb
        %a= image_tag('default/default_thumb.gif')
      .itemBlock
        %h4 
          %a Title text for sky box goes here
    .third-panel-small
      .thumb
        %a= image_tag('default/default_thumb.gif')
      .itemBlock
        %h4 
          %a Title text for sky box goes here
 
.panel_2
  %h1
    1 Large Story with Wide pic

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .itemBlock
    %h1
      Local News Title thats extra long goes here.
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an... 
      %a
        More 
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16

.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .itemBlock.header-top
    %h1
      Local News Title thats extra long goes here.
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .itemBlock
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an... 
      %a
        More 
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16
