.panel_1
  %h1
    4 story layout

.panel_1.featureWrap
  .panelBar
    %h2
      Featured Stories
  .panel_4.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Three line title
      %span.btnComment
        %a
          Comment
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Three line title
      %span.btnComment
        %a
          Comment
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Three line title
      %span.btnComment
        %a
          Comment
  .panel_4.last
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Three line title
      %span.btnComment
        %a
          Comment

.panel_1
  %h1
    3 story layout

.panel_1.featureWrap
  .panelBar
    %h2
      Featured Stories
  .panel_5
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Three line title for kicks, giggles and pie
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        %a
          Comment
        16
  .panel_5
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Two line title
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        %a
          Comment
        16
  .panel_5
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .itemBlock
      %h2 
        %a Title text for sky box goes here - Two line title
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        %a
          Comment
        16

.panel_1
  %h1
    2 story layouts

.panel_1.featureWrap
  .panelBar
    %h2
      Featured Stories
  .panel_4.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
  .panel_4
    .itemBlock
      %h2 
        %a Two story small layout - Two line title
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        16
        %a
          Comments
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
  .panel_4.last
    .itemBlock
      %h2 
        %a Two story small layout - Two line title
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        16
        %a
          Comments

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .panel_3
    .thumb.nineSixteen
      = image_tag('default/default_thumb.gif')
    .itemBlock
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
  .panel_3
    .thumb.nineSixteen
      = image_tag('default/default_thumb.gif')
    .itemBlock
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

.panel_1
  %h1
    1 story layout

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')
  .panel_3
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM.  1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')
  .panel_3
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %h4
              %a
                This bulleted item can only...
          %li
            %h4
              %a
                This bulleted item can only...

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .panel_3
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %h4
              %a
                This bulleted item can only...
          %li
            %h4
              %a
                This bulleted item can only...
  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')

.panel_1
  %h1
    1 Large Story & 3 Small Stories

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .panel_3
    .thumb.short
      = image_tag('default/default_thumb.gif')
  .panel_3
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
  .clearfix
    .panel_6
      .thumb
        %a= image_tag('default/default_thumb.gif')
      .itemBlock
        %h4 
          %a Title text for sky box goes here
    .panel_6
      .thumb
        %a= image_tag('default/default_thumb.gif')
      .itemBlock
        %h4 
          %a Title text for sky box goes here
    .panel_6
      .thumb
        %a= image_tag('default/default_thumb.gif')
      .itemBlock
        %h4 
          %a Title text for sky box goes here
 
.panel_1
  %h1
    1 Large Story with Wide pic

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .itemBlock
    %h1
      Local News Title thats extra long goes here.
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an... 
      %a
        More 
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16

.panel_1.featureWrap
  .panelBar
    %h2
      Featured News
  .itemBlock.header-top
    %h1
      Local News Title thats extra long goes here.
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .itemBlock
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an... 
      %a
        More 
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16