- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/predictions_subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  - @paginate ||= false
  .panel_2
    .panelBar
      %h2= t('predictions.my_list_title')
      - if @prediction_guesses.present? and @prediction_guesses.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown', :locals => { :select_options => PredictionGuess.refineable_select_options }
    - unless @prediction_guesses.empty?
      .itemListWrap
        .list_items
          %ul
            - @prediction_guesses.each do |prediction_guess|
              %li.askPredictionGuessWrap{'data-id' => prediction_guess.cache_key}
                = render :partial => 'shared/items/prediction_guess', :locals => { :prediction_guess => prediction_guess}

#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
