- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/predictions_subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  - @guesses ||= current_user.prediction_guesses
  - @paginate ||= false
  .panel_2
    .panelBar
      %h2= t('predictions.my_list_title')
      - if @guesses.present? and @guesses.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown', :locals => { :select_options => PredictionGuess.refineable_select_options }
    - unless @guesses.empty?
      .itemListWrap
        .list_items
          %ul
            - @guesses.each do |prediction_guess|
              %li.askPredictionGuessWrap{'data-id' => prediction_guess.cache_key}

#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)

= render :partial => 'shared/index_footer', :locals => { :index_path => my_predictions_predictions_path(:only_path => false,:canvas => iframe_facebook_request?), :title => t('predictions') }
