- form.inputs do
  - form.semantic_fields_for :content do |content_form|
    - content_form.inputs do
      = content_form.input :title
      %p= form.input :body
      = content_form.input :url, :required => false, :hint => t('article_url_hint')
      %ul#image_selector.jcarousel-skin-tango{:style => "left: 0px;"}
      = render :partial => 'shared/forms/media_items', :locals => { :form => content_form, :item => @article.content }
      = content_form.input :tags_string, :required => false, :hint => t('tags_hint')
      = render :partial => 'shared/forms/wall_postable', :locals => { :form => content_form }
