- form.inputs do
  - form.semantic_fields_for :content do |content_form|
    - content_form.inputs do
      = content_form.input :title
      = content_form.input :url, :required => false
      = content_form.input :tags_string, :required => false
      %ul#image_selector.jcarousel-skin-tango{:style => "left: 0px;"}
  = form.input :body
  %ul#image_selector.jcarousel-skin-tango{:style => "left: 0px;"}
    = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @article.content }