- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/news_subnav'
  
#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  .panel_2
    .panelBar
      %h2= t 'articles.drafts'
    %br
    %ul.bullet_list
      - unless @drafts.empty?
        - @drafts.each do |article|
          %li
            = article.title
            = pipe_spacer
            = link_to t('articles.edit_draft'), edit_article_path(article.article_id)
            = pipe_spacer
            = link_to t('articles.preview_draft'), story_path(article)
      - else
        %li= t('article.nodrafts')
  
#col_right
  = render :partial => 'shared/sidebar/post_article'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Article, :locale_var => 'top_article_tags' }
  = render :partial => 'shared/sidebar/moderator_users'
  = render :partial => 'shared/sidebar/top_articles'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)