- content_for :sub_nav do
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_leaderboard }
  
#col_left
  - if @article_images.present?
    = render_media_items @article_images
  = render :partial => 'shared/articles', :locals => { :contents => @articles, :paginate => @paginate, :page => @page }
  
#col_right
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Article, :locale_var => 'top_article_tags' }
  = render :partial => 'shared/sidebar/moderator_users'
  = render :partial => 'shared/sidebar/post_article'
  = render :partial => 'shared/sidebar/top_articles'
