- item.images.build if item.images.empty?
%h1= t('media.add_image')
%h3= t('media.add_image_title')
- form.semantic_fields_for :images do |image_form|
  .add-image
    = image_form.input :remote_image_url, :required => false, :label => false
    = image_form.input :image, :required => false, :as => :file, :label => false
    %p
      %a{:href=> "#"}= t('edit_caption')
    %p= add_image_simple(form)
%br
%br
