%h1= t('media.add_video')

%fieldset
  %p
    Add an video to display along with your story from another website i.e. YouTube

%h3= t('media.add_video_title')

%fieldset.inputs
  - item.videos.build if item.videos.empty?
  - form.semantic_fields_for :videos do |video_form|
    = video_form.input :remote_video_url, :label => false, :required => false
    = video_form.input :embed_code, :required => false, :input_html => {:class => 'hide embed-video'}
    %a.toggle-embed-video{:href=> "#"}= t('add_by_embed_code')
    -# = video_form.input :embed_code, :label => false, :required => false
    -#%a{:href=> "#"}= t('edit_caption')

%h1= t('media.add_audio')

%fieldset
  %p
    Add an audio track to display along with your story from another website.

%h3= t('media.add_audio_title')
%fieldset.inputs
  - item.audios.build if item.audios.empty?
  - form.semantic_fields_for :audios do |audio_form|
    = audio_form.input :url, :required => false, :label => false
    -#%a{:href=> "#"}= t('edit_caption')
    -#
      = audio_form.input :title, :required => false
      = audio_form.input :album, :required => false
      = audio_form.input :artist, :required => false

