- item.images.build if item.images.empty?
- form.semantic_fields_for :images do |image_form|
  = image_form.input :remote_image_url, :label => "Add an image from the Web", :required => false, :hint => "Provide the URL to an image hosted on the Web"
  = image_form.file_field :image, :label => "Add an image from your computer",:required => false, :hint => "Upload an image from your computer"
  %br
  %br
%h3.btn.hidden.unhide== #{link_to "Add video clip", '#', :class => 'toggle-form'}
.video-form.hide
  %h3 Embed or link to a video (YouTube, Vimeo and Vmixcore only):
  - item.videos.build if item.videos.empty?
  - form.semantic_fields_for :videos do |video_form|
    = video_form.input :remote_video_url, :label => "Remote video URL", :required => false, :hint => "e.g. http://youtube.com/watch?v=xpAg2gBkQ5c"
    = video_form.input :embed_code, :label => "Or, video embedding code", :required => false
%br
%h3.btn.hidden.unhide== #{link_to "Add audio clip", '#', :class => 'toggle-form'}
.audio-form.hide
  %h3 Link to an audio file (.mp3 only):
  - item.audios.build if item.audios.empty?
  - form.semantic_fields_for :audios do |audio_form|
    = audio_form.input :url, :required => false
    = audio_form.input :title, :required => false
    = audio_form.input :album, :required => false
    = audio_form.input :artist, :required => false

