#flowplayer-block
  %ul.tabs
    %li
      %a{:href => "#first"}= t('media.add_image')
    %li
      %a{:href => "#second"}= t('media.add_video')
    %li
      %a{:href => "#third"}= t('media.add_audio')
  .panes
    .image-form
      - item.images.build if item.images.empty?
      %h3= t('media.add_image_title')
      - form.semantic_fields_for :images do |image_form|
        = image_form.input :remote_image_url, :label => "Image web address (optional)", :required => false, :hint => "Either provide the web address (URL) of the image above or click the button below to upload the image from your computer"  
        = image_form.input :image, :required => false, :as => :file, :label=>"Image from file"
        %p= add_image(form)
      %br
    .video-form
      %h3= t('media.add_video_title')
      - item.videos.build if item.videos.empty?
      - form.semantic_fields_for :videos do |video_form|
        = video_form.input :remote_video_url, :label => "Remote video URL", :required => false, :hint => "e.g. http://youtube.com/watch?v=xpAg2gBkQ5c"
        = video_form.input :embed_code, :label => "Or, video embedding code", :required => false
      %br
    .audio-form
      %h3= t('media.add_audio_title')
      - item.audios.build if item.audios.empty?
      - form.semantic_fields_for :audios do |audio_form|
        = audio_form.input :url, :required => false
        = audio_form.input :title, :required => false
        = audio_form.input :album, :required => false
        = audio_form.input :artist, :required => false
      %br
:javascript
  $(function() {
  	$("ul.tabs").tabs("div.panes > div");
  });