-# @expects: local 'comment'

- cache :featured_comments_fbml, :expires_in => 15.seconds do
  - featured_comments ||= Comment.featured
  - unless featured_comments.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.featured_comment_title')
      %br
      .list_items
        %ul
          - featured_comments.each do |comment|
            %li
              .profilePic= local_linked_profile_pic comment.user
              -# TODO link to item page comment belongs to with bookmark to comment id
              = link_to comment.title, comment_path(comment)
              %p= (comment.comments.present?) ? comment.comments : 'no comment'