-# @expects: local 'event'

- cache :featured_events_html, :expires_in => 15.seconds do
  - featured_events ||= Event.featured
  - unless featured_events.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.featured_event_title')
      .list_items
        %ul
          - featured_events.each do |event|
            %li
              .profilePic= local_linked_profile_pic event.user
              = link_to event.name, event_path(event)
              %p= (event.description.present?) ? event.description : 'no description'