-# TODO set up scope for featured article blogs
-# @expects: local 'content'

- cache :featured_contents_fbml, :expires_in => 15.seconds do
  - featured_contents ||= Article.featured
  - unless featured_contents.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.featured_content_title')
      %br
      .list_items
        %ul
          - featured_contents.each do |content|
            %li
              .profilePic= local_linked_profile_pic content.user
              = link_to content.title, content_path(content)
              %p= (content.details.present?) ? content.details : 'no details'