-# @expects: local 'idea'

- cache :featured_ideas_fbml do
  - featured_ideas ||= Idea.featured
  - unless featured_ideas.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.featured_idea_title')
      .list_items
        %ul
          - featured_ideas.each do |idea|
            %li
              .profilePic= local_linked_profile_pic idea.user
              = link_to idea.title, idea_path(idea)
              %p= (idea.details.present?) ? idea.details : 'no details'