-# @expects: local 'comment'

- cache :featured_comments_fbml, :expires_in => 15.seconds do
  - featured_comments ||= Comment.featured
  - unless featured_comments.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('featured_comment_title')
      %ul
        - featured_comments.each do |comment|
          %li
            %p
              = (comment.comments.present?) ? comment.comments : 'no comment'
            .profilePic
              = local_linked_profile_pic comment.user
            %h3
              Posted by
              = local_linked_profile_name comment.user
              #{time_ago_in_words comment.created_at} ago
              -# in %a Sports 
            -# TODO link to item page comment belongs to with bookmark to comment id
            -# = link_to comment.title, comment_path(comment)