-# @expects: local 'newest_events'

- cache :newest_events_html do
  - newest_events ||= Event.active.upcoming
  - unless newest_events.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.newest_events_title')
      .list_items
        %ul
          - newest_events.each do |event|
            %li
              .itemBlock
                %h4= link_to event.name, event_path(event)
                .profilePic= local_linked_profile_pic event.user
                .eventBlockMeta
                  %h3= t('posted_by', :fb_name => local_linked_profile_name(event.user), :date => timeago(event.created_at))
                  %span.btnComment== #{like_link event} #{event.votes_tally}
                  %span.btnComment== #{link_to t('comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}