-# @expects: local 'newest_ideas'

- cache :newest_ideas_fbml do
  - newest_ideas ||= Idea.newest 5
  - unless newest_ideas.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.newest_ideas_title')
      .list_stories
        %ul
          - newest_ideas.each do |idea|
            %li
              %h4= link_to idea.title, idea_path(idea)
              .profilePic= local_linked_profile_pic idea.user
              .storyBlockMeta
                %h3= t('asked_by', :fb_name => local_linked_profile_name(idea.user), :date => time_ago_in_words(idea.created_at))
                %span.btnComment== #{link_to t('like'), like_idea_path(idea.id), :class => "voteUp"} #{idea.votes_tally}
                %span.btnComment== #{link_to t('comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}
                -# %span.btnComment= fb_share_button(ideas_url(idea))
