-# @expects: local 'newest_sent_cards'

- cache :newest_sent_cards_html do
  - newest_sent_cards ||= SentCard.newest 5
  - unless newest_sent_cards.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('cards.newest_sent_cards_title')
      .list_items
        %ul
          - newest_sent_cards.each do |sent_card|
            %li
              .itemBlock
                %h4= link_to sent_card.card.name, card_path(sent_card.card)
                .profilePic= image_tag sent_card.card.image_path
                .itemMeta
                  %h3= t('cards.sent_at', :date => timeago(sent_card.created_at))
                  -#%span.btnComment== #{like_link sent_card} #{sent_card.votes_tally}
                  -#%span.btnComment== #{link_to t('comments'), sent_card_path(sent_card, :anchor => "commentListTop")} #{sent_card.comments_count}
                  -# %span.btnComment= fb_share_button(sent_cards_url(sent_card))
