-# @expects: local 'idea'

- cache :top_ideas_fbml do
  - top_ideas ||= Idea.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc" })
  %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('.top_ideas_title')
    .list_stories
      %ul
        - top_ideas.each do |idea|
          %li
            .storyBlockWrap
              %h4= link_to idea.title, idea_path(idea)
              .profilePic= local_linked_profile_pic idea.user
              .storyBlockMeta
                %h3= t('posted_by', :fb_name => local_linked_profile_name(idea.user), :date => time_ago_in_words(idea.created_at))
                %span.btnComment.float_left== #{like_link idea} #{idea.votes_tally}
                %span.btnComment.float_left== #{link_to t('comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}