-# @expects: local 'top_articles'

- cache :top_articles_html do
  - top_articles ||= Article.active.published.find( :all, :limit => 5, :order => "created_at desc" )  
  - unless top_articles.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('articles.top_title')
      .list_items
        %ul
          - top_articles.each do |article|
            %li
              .itemBlock
                %h4= link_to article.content.title, content_path(article.content)
                .profilePic= local_linked_profile_pic article.author
                .itemMeta
                  %h3= t('posted_by', :fb_name => local_linked_profile_name(article.author), :date => timeago(article.created_at))
                  %span.btnComment== #{like_link article.content} #{article.content.votes_tally}
                  %span.btnComment== #{link_to t('comments'), content_path(article.content, :anchor => "commentListTop")} #{article.content.comments_count}
