-# @expects: local 'story'

- cache :top_stories_html do
  -# top_stories ||= Content.active.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc", :conditions => ["contents.created_at > ?", 1.week.ago] })
  - top_stories = (get_setting('exclude_articles_from_news').value ? Content.top_story_items(5,true ) : Content.top_items(5,true))
  - unless top_stories.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.top_stories_title')
      .list_items
        %ul
          - top_stories.each do |story|
            -# todo hack to fix drafts appearing until we can switch articles out of this widget
            - unless story.is_article? and story.article.is_draft?
              %li
                .itemBlock
                  %h4= link_to story.title, story_path(story)
                  .profilePic= local_linked_profile_pic story.user
                  .itemMeta
                    %h3= t('posted_by', :fb_name => local_linked_profile_name(story.user), :date => time_ago_in_words(story.created_at))
                    %span.btnComment== #{like_link story} #{story.votes_tally}
                    %span.btnComment== #{link_to t('comments'), story_path(story, :anchor => "commentListTop")} #{story.comments_count}
