-# @expects: local 'top_users'
- cache :sidebar_top_users_html, :expires_in => 120.minutes do
  - scores ||= Score.alltime_scores 7
  - unless scores.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.top_users_karma_title')
      .list_items
        %ul
          - scores.each do |score|
            - user = score.user
            %li
              .itemBlock
                .profilePic= local_linked_profile_pic user
                .float_left
                  %h4== #{local_linked_profile_name(user)}
                  -#TODO:: add something in here
                  -#%h3= "City and State"
                .float_right
                  %h4.userPoints= score.total_score
        