- cache :top_sent_cards_html do
  - top_sent_cards ||= SentCard.top
  %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('cards.top_sent_cards_title')
    .list_items
      %ul
        - top_sent_cards.each do |sent_card|
          %li
            .itemBlock
              %h4= link_to sent_card.card.name, card_path(sent_card.card)
              .profilePic= image_tag sent_card.card.image_path
              .itemMeta
                %h3= t('cards.sent_count', :count => pluralize(sent_card.card_count, 'time'))
                -#%span.btnComment== #{link_to t('like'), like_sent_card_path(sent_card.id), :class => "voteUp"} #{sent_card.votes_tally}
                -#%span.btnComment== #{link_to t('comments'), sent_card_path(sent_card, :anchor => "commentListTop")} #{sent_card.comments_count}
