-# @expects: local 'story'

- cache :top_stories_html do
  - top_stories ||= Content.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc" })
  %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('.top_stories_title')
    .list_items
      %ul
        - top_stories.each do |story|
          %li
            .article
              .itemBlock
                %h4= link_to story.title, story_path(story)
                .profilePic= local_linked_profile_pic story.user
                .itemMeta
                  %h3= t('posted_by', :fb_name => local_linked_profile_name(story.user), :date => time_ago_in_words(story.created_at))
                  %span.btnComment.float_left== #{like_link story} #{story.votes_tally}
                  %span.btnComment.float_left== #{link_to t('comments'), story_path(story, :anchor => "commentListTop")} #{story.comments_count}
