-# @expects: local 'topic'

- cache "#{topic.cache_key}_voices" do
  %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('forums.topics.voices_title')
    .subtitle
      %span= t('forums.topics.voices_subtitle')
    .list_items
      %ul
        - topic.voices.uniq.each do |user|
          %li
            .itemBlock
              .profilePic= local_linked_profile_pic user
              .itemMeta
                %h3== #{local_linked_profile_name(user)}