-# @expects: local 'top_users'

- cache :top_users do
  - top_users ||= User.top
  - unless top_users.empty?
    .panel_2
      .panelBar
        %h2= t('.top_users_karma_title')
      .list_stories
        %ul
          - top_users.each do |user|
            %li
              .profilePic= local_linked_profile_pic user
              .storyBlockMeta.float_left
                %h4= link_to user.name, user_path(user)
                %h3= "City and State"               
              .storyBlockMeta.float_right
                %h4.userPoints= "11,230"
                %h3.userPoints= "Points"
