-# @expects: local 'event'

- cache :top_events_html do
  - top_events ||= Event.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc" })
  %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('.top_events_title')
    .list_items
      %ul
        - top_events.each do |event|
          %li
            .itemBlock
              %h4= link_to event.name, event_path(event)
              .profilePic= local_linked_profile_pic event.user
              .eventBlockMeta
                %h3= t('posted_by', :fb_name => local_linked_profile_name(event.user), :date => timeago(event.created_at))
                %span.btnComment== #{like_link event} #{event.votes_tally}
                %span.btnComment== #{link_to t('comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}
