-# later could add FB connect button if not signed in or registered in web connect
- if current_user.present? and current_user.is_established?
  .panel_1.featureWrap
    .item_1.users
      .thumb.user
        = local_linked_profile_pic current_user
      .itemBlock
        %h4= t('welcome_name', :name => current_user.name)
        %h3= t('karma_score', :score => current_user.karma_score)
        %h3= t('activity_score', :score => current_user.activity_score)
        -# %h3 City, State
- else
  - cache :welcome_panel_html do
    - if get_setting('welcome_layout').present?
      - case get_setting('welcome_layout').value
        - when 'host'
          .panel_1
            .welcomePanel
              .thumb.welcome
                - if get_setting('welcome_host').present? and get_setting('welcome_host').value.empty?
                  = image_tag('default/house-ad-profile.jpg')
                - elsif get_setting('welcome_host').present?
                  - host = get_setting('welcome_host').value
                  - user = User.find_by_id(host) || User.find(UserProfile.find_by_facebook_user_id(host).id)
                  - unless user.nil?
                    = local_linked_profile_pic(user)
                  - else
                    = image_tag('default/house-ad-profile.jpg')
              .itemBlock
                %h2= t('.welcome_panel_headline')
                %p= t('.welcome_panel_message_fbml')
        - when 'thumb'
          .panel_1
            .welcomePanel
              .thumb.welcome
                - unless get_setting('welcome_image_url').value.present? and get_setting('welcome_image_url').value.empty?
                  = image_tag('default/house-ad-profile.jpg')
                - else
                  = image_tag(get_setting('welcome_image_url'))
              .itemBlock
                %h2= t('.welcome_panel_headline')
                %p= t('.welcome_panel_message_fbml')
        - when 'banner'
          .panel_1
            .welcomePanel
              .thumb.banner
                - unless get_setting('welcome_image_url').value.present? and get_setting('welcome_image_url').value.empty?
                  = image_tag('default/house-ad-banner.jpg')
                - else
                  = image_tag(get_setting('welcome_image_url'))
              .itemBlock
                %h2= t('.welcome_panel_headline')
                %p= t('.welcome_panel_message_fbml')
        - else
          .panel_1
            .welcomePanel
              .thumb.welcome
                - unless get_setting('welcome_image_url').value.present? and get_setting('welcome_image_url').value.empty?
                  = image_tag('default/house-ad-profile.jpg')
                - else
                  = image_tag(get_setting('welcome_image_url'))
              .itemBlock
                %h2= t('.welcome_panel_headline')
                %p= t('.welcome_panel_message_fbml')