== #{@message[:originator].name} commented on "#{@message[:participant].commentable.item_title}" at
%a{:href=> home_index_url(:only_path => false)}== #{@message[:site_title]}:
%br
%p=   nl2br(@message[:participant].comments)
%br
%a{:href=> polymorphic_url(@message[:participant].item_link, :only_path => false) }= I18n.translate('message.click_respond')
%br
%p= I18n.translate('message.unsubscribe', :href => edit_user_path(@message[:recipient], :only_path => false), :site_title => @message[:site_title] )  
