- if @message.user.present?
  == #{@message.user.name}(#{@message.email}) contacted us in regards to "#{@message.subject}"
- else
  == #{@message.email} contacted us in regards to "#{@message.subject}"
%br
%p= @message.body