- content_for :sub_nav do
  = render :partial => 'shared/breadcrumbs', :locals => { :breadcrumbs => forum_breadcrumbs(@topic) }

#col_left
  - cache @topic do
    - paginate ||= false
    .panel_1
      .panelBar
        %h2= t('forums.topics.item_title', :title => @topic.title)
      .subtitle
        %span= t('forums.topics.item_subtitle', :posts_count => @topic.comments_count, :voices_count => @topic.voices_count)
      .storyList
        .list_stories
          %ul
            - @topic.posts.each do |post|
              = render :partial => 'shared/comment', :locals => { :comment => post}
  = render :partial => 'shared/comment_form', :locals => { :commentable => @topic , :post_locale => 'forums.topics.post_comment', :commit_text => 'forums.topics.commit_reply' }
  = render :partial => 'shared/item_footer', :locals => { :item => @topic,:title => @topic.title }
  - if @topic.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @topic }

#col_right
  = render :partial => 'shared/sidebar/topic_voices', :locals => { :topic => @topic }
