- content_for :sub_nav do
  = render :partial => 'shared/breadcrumbs', :locals => { :breadcrumbs => forum_breadcrumbs(@topic) }
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  - cache @topic do
    - paginate ||= false
    .panel_2
      .panelBar
        %h2= t('forums.topics.item_title', :title => @topic.title)
        %span.bar_link= fb_share_item_button(@topic)
      .subtitle
        %span= t('forums.topics.item_subtitle', :posts_count => @topic.comments_count, :voices_count => @topic.voices_count)
      - if @tags.present?
        .subtitle
          %h3== Tags #{tag_list(@tags, @topic)}
      .itemListWrap
        .list_items
          %ul
            - @topic.posts.each do |post|
              = render :partial => 'shared/comment', :locals => { :comment => post}
  .topic-form= render :partial => 'shared/comment_form', :locals => { :commentable => @topic , :post_locale => 'forums.topics.post_comment', :commit_text => 'forums.topics.commit_reply' }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => @topic,:title => @topic.title }
  - if @topic.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @topic }

#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @topic }
  = render :partial => 'shared/sidebar/newest_topics'
  = render :partial => 'shared/sidebar/top_topics'
  = render :partial => 'shared/sidebar/topic_voices', :locals => { :topic => @topic }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
