- form.inputs do
  = form.input :title
  = form.input :caption
  = form.input :url
  = form.input :tags_string, :required => false
  -# %ul#image_selector.jcarousel-skin-tango{:style => "left: 0px;"}
  = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @content }
