- content_for :head do
  = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js'
  = stylesheet_link_tag 'http://static.flowplayer.org/tools/css/scrollable-wizard.css'
  :javascript
    $(function() {
      var root = $("#wizard").scrollable();
    });

%h1= @setting_group[:title]
#drawer There is an error!
%form{:action => '#', :style => "width: 900px; height: 800px"}
  #wizard{:style => "width: 100%; height:1000px"}
    %ul#status
      - @setting_group[:pages].each_with_index do |page, index|
        %li{:class => index.zero? ? "active" : ""}
          %strong== #{index + 1}.
          = page[:tab_title]

    .items
      - @setting_group[:pages].each_with_index do |page, page_index|
        .page{:style => "width: 850px; height: 800px;"}
          %h2
            %strong== Step #{page_index + 1}:
            = page[:page_title]
            %em= page[:page_description]

          %ul
            - page[:items].each_with_index do |item, item_index|
              - setting = Metadata::Setting.get_setting(item[:setting][0], item[:setting][1])
              %li{:class => item[:required] ? "required" : ""}
                %label
                  %strong== #{item_index + 1}.
                  = item[:title]
                  - if item[:required]
                    %span *
                  - if item[:description]
                    %p= item[:description]
                  - else
                    %br
                  = text_field_tag setting.key_id, setting.value, :class => "text"
                  %br
                  %em= item[:hint]
            - if page_index + 1 < @setting_group[:pages].size
              %li.clearfix
                %button.next.right{:type => "button"} Proceed &raquo;
            - else
              %li.clearfix
                %button.next.right{:type => "submit"} Submit
