.account-tab
%ul
  - if current_user.present? and logged_in?
    %li.account-profile.clearfix
      .float_left.thumb.bio= local_linked_profile_pic(current_user, :size => 'square', :format => 'html')
      %h4.float_left= local_linked_profile_name(current_user, :use_you => false, :format => 'html')
    %hr
    %li
      = link_to t('account_menu.sign_out'), logout_path(:format => 'html')
    %li
      = link_to t('account_menu.invite_friends'), invite_users_path(:format => 'html')
    %li
      = link_to t('account_menu.my_profile'), user_path(current_user, :format => 'html')
  - else
    %li
      = link_to t('account_menu.sign_in'), login_path(:format => 'html')
    %li
      = link_to t('account_menu.register'), signup_path(:format => 'html')
