-# TODO:: add invite friends functionality, not currently working with fb_connect
- unless @success
  - fb_multi_friend_request("Invite", "Invite friends", invite_users_path) do
    == #{fb_name current_user} wants you to sign up for #{APP_CONFIG['site_title']}.
    -#TODO:: get register link working
    -#= fb_req_choice("Sign up!", register_path)
    = fb_req_choice("Take a peek", home_index_url)
- else
  = fb_success_msg "Successfully invited your #{pluralize @fb_user_ids.size, 'friend'} #{fb_list_of_names @fb_user_ids}."
