#col_left
  #myProfile.panel_1
    .panelBar
      %h2= t('.title', :name => profile_fb_name(@user,false))
    .panel_block
      .thumb
        = fb_profile_pic @user, :size => 'normal', :width => '180'
        - if @user.is_moderator?
          = image_tag 'default/icon-fan-app.gif', :class => "moderator"
      .storyBlockWrap
        %h1= profile_fb_name (@user,nil, false, false)
        .pointsTable_profile
          %table
            %tbody
              %tr
                %td.bold
                  %span.pointValue
                    = @user.karma_score
                    %span.pts= t('.karma')
                %td
              -# TODO:: Friends needs to be loaded from Facebooker into user_profile
              -# - if @user.user_profile.present?
              -#  %tr
              -#    %td.bold== #{@user.user_profile.memberFriends.split(/,/).size} friends
              -#    %td
              -#      - if @is_owner
              -#        = link_to t('.invite_friends'), '#'
              %tr
                %td.bold== #{@user.contents.size} stories
                %td
                  - if @is_owner
                    = link_to t('.post_story'), new_story_path
              %tr
                %td.bold== #{@user.comments.size} comments
                %td
                  - if @is_owner
                    = link_to t('.comment_stories'), stories_path
              %tr
                %td.bold== #{@user.votes.size} likes
                %td
                  - if @is_owner
                    = link_to t('.find_stories'), newswires_path
              %tr
                %td.bold= link_to 'RSS', user_path(@user, :format => :atom), :class => 'rss_link', :target => "_blank"
                %td
              -# TODO:: add challenges
  .panel_1
    .panelBar
      %h2= t('.bio_title')
      - if @is_owner
        .bar_link= link_to t('.bio_edit'), '#', :class => "update-bio"
        = render :partial => 'users/bio_form'
    .panel_block
      .storyBlockWrap.current-bio
        %p= (@user.bio.present?) ? @user.bio : default_bio(@user)

  .panel_1
    .panelBar
      %h2= t('.action_feeds')
    #actionFeed
      #navFilter
        .subFilter
          = t('.filter_title')
          %span= link_to t('.filter_all'), user_path(@user, :curr_action => 'all_actions'), :id => 'allFeedFilter', :class => ('feedFilterButton' + (@curr_action == 'all_actions' ? ' selected' : ''))
          &nbsp;
          %span= link_to t('.filter_stories'), user_path(@user, :curr_action => 'stories'), :id => 'storiesFilter', :class => ('feedFilterButton' + (@curr_action == 'stories' ? ' selected' : ''))
          &nbsp;
          %span= link_to t('.filter_articles'), user_path(@user, :curr_action => 'articles'), :id => 'articlesFilter', :class => ('feedFilterButton' + (@curr_action == 'articles' ? ' selected' : ''))
          &nbsp;
          %span= link_to t('.filter_comments'), user_path(@user, :curr_action => 'comments'), :id => 'commentsFilter', :class => ('feedFilterButton' + (@curr_action == 'comments' ? ' selected' : ''))
          &nbsp;
          %span= link_to t('.filter_likes'), user_path(@user, :curr_action => 'likes'), :id => 'likesFilter', :class => ('feedFilterButton' + (@curr_action == 'likes' ? ' selected' : ''))
      #feedList
        .list_stories
          - unless @actions.present?
            %p= t('.action_feed_empty')
          - else
            %ul
              - @actions.each do |action|
                %li.actionFeedItem
                  = build_feed_item(action, action.class.name)
#col_right
  = render :partial => 'shared/sidebar/top_stories', :locals => { :top_stories => @top_stories }
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_skyscraper }
  