- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)

#col_left
  #myProfile.panel_2.featureWrap
    .panelBar
      %h2= t('.title', :name => profile_fb_name(@user,false))
    .half-panel
      .thumb.user-details
        = local_linked_profile_pic @user, :destination => fb_profile_link(@user), :width => '180', :size => 'normal', :target => '_top'
    .half-panel
      .itemBlock
        %h1= link_to profile_fb_name(@user,false, false, false), fb_profile_link(@user), :target => "_top"
        .pointsTable_profile
          %table
            %tbody
              %tr
                %td.bold
                  %span.pointValue
                    = @user.karma_score
                    %span.pts= t('.karma')
                %td
              -# TODO:: Friends needs to be loaded from Facebooker into user_profile
              -# - if @user.user_profile.present?
              -#  %tr
              -#    %td.bold== #{@user.user_profile.memberFriends.split(/,/).size} friends
              -#    %td
              -#      - if @is_owner
              -#        = link_to t('.invite_friends'), '#'
              %tr
                %td.bold== #{@user.contents.size} stories
                %td
                  - if @is_owner
                    = link_to t('.post_story'), new_story_path
              %tr
                %td.bold== #{@user.comments.size} comments
                %td
                  - if @is_owner
                    = link_to t('.comment_stories'), stories_path
              %tr
                %td.bold== #{@user.votes.size} likes
                %td
                  - if @is_owner
                    = link_to t('.find_stories'), newswires_path
              %tr
                %td.bold= link_to 'RSS', user_path(@user, :format => :atom), :class => 'rss_link', :target => "_blank"
                %td
              -# TODO:: add challenges
  .panel_2
    .panelBar
      %h2= t('.bio_title')
      - if @is_owner
        .bar_link= link_to t('.bio_edit'), '#', :class => "update-bio"
        = render :partial => 'users/bio_form'
    .panel_block
      .itemBlock.current-bio
        %p= (@user.bio.present?) ? @user.bio : default_bio(@user)
  = render_ad(:banner, @ad_layout, @ad_banner)
  .panel_2
    .panelBar
      %h2= t('articles.my_articles')
    - unless @articles.empty?
      .itemListWrap
        .list_items
          %ul  
            - @articles.each do |article|
              - content = article.is_a?(Article) ? article.content : article
              %li{'data-id' => content.cache_key}
                = render :partial => 'shared/items/article', :locals => { :article => article} 
      - if @paginate
        .clearfix
          = will_paginate @articles
          %br
    - else
      %br
      %h3= t('articles.user_none')
#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  .panel_1
    .panelBar
      %h2= t('.action_feeds')
    #actionFeed
      #feedList.itemListWrap
        .list_items
          - unless @activities.any?
            %p= t('.action_feed_empty')
          - else
            %ul
              - @activities.each do |activity|
                -#%li.actionFeedItem
                %li.pfeed_container= pfeed_content(activity)
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => @user.articles , :locale_var => 'popular_tags' }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
