-# expects: local 'slot_data'
- if defined? slot_widget_square
  - slot_data = slot_widget_square
- elsif defined? slot_widget_small_square
  - slot_data = slot_widget_small_square
- elsif defined? slot_widget_skyscraper
  - slot_data = slot_widget_skyscraper
- elsif defined? slot_widget_medium_rectangle
  - slot_data = slot_widget_medium_rectangle
- elsif defined? slot_widget_large_rectangle
  - slot_data = slot_widget_large_rectangle
- elsif defined? slot_widget_leaderboard
  - slot_data = slot_widget_leaderboard
- elsif defined? slot_widget_banner
  - slot_data = slot_widget_banner
- else
  - slot_data ||= Metadata.get_default_ad_slot
- if slot_data.present?
  - case slot_data['data'][:width]
    - when "728px"
      - ad_class = "ad_728"
      - panel_id = "adspace"
      - panel_class = ""
    - when "468px"
      - panel_id = ""
      - panel_class = "panel_2"
      - ad_class = "ad_468"
    - when "160px"
      - panel_id = ""
      - panel_class = "panel_1"
      - ad_class = "ad_160"
    - when "200px"
      - panel_id = ""
      - panel_class = "panel_1"
      - ad_class = "ad_200"
    - when "250px"
      - panel_id = ""
      - panel_class = "panel_1"
      - ad_class = "ad_250"
    - when "300px"
      - panel_id = ""
      - panel_class = "panel_1"
      - ad_class = "ad_300"
    - when "336px"
      - panel_id = ""
      - panel_class = "panel_1"
      - ad_class = "ad_336"
  %div{:class => "#{panel_class} #{defined?(widget_page) ? widget_page.css_class : ''}",:id => panel_id}
    %div{:class => ad_class}
      - if APP_CONFIG['ad_platform'].present?
        - case APP_CONFIG['ad_platform']
          - when "openx"
            %iframe{:src => base_url(openx_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}
          - when "helios"
            -# freep
            %iframe{:src => base_url(helios_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}
          - when "helios_alt2" 
            -# kpcc
            %iframe{:src => base_url(helios_alt2_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}          
          - when "helios_alt3" 
            -# wkyc
            %iframe{:src => base_url(helios_alt3_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}          
          - when "helios_alt4" 
            -# boston
            %iframe{:src => base_url(helios_alt4_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}          
          - when "google"
            %iframe{:src => base_url(google_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}
      - else                  
        %iframe{:src => base_url(google_ads_home_path(:slot_name => slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; width: #{slot_data['data'][:width]}; height: #{slot_data['data'][:height]};"}
