- refine ||= true
- page ||= ""
- cache_if page.present?, "articles_list_#{page}html" do
  - contents ||= Article.top_article_items.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
  - paginate ||= false
  .panel_2
    .panelBar
      %h2= t('.articles_title')
      -# if refine===true and contents.present? and contents.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown'
    .subtitle
      %span= t('.articles_subtitle')
    .itemListWrap
      .list_items
        %ul
          - contents.each do |article|
            - content = article.is_a?(Article) ? article.content : article
            %li{'data-id' => content.cache_key}
              = render :partial => 'shared/items/article', :locals => { :article => article} 
    - if paginate
      .clearfix
        = will_paginate contents
        %br
    - else
      .clearfix
      %p= link_to t('read_more'), articles_path, :class => "float_right"
      %br
