-# expects local :commentable => @commentable
#postComment.panel_1
  %a{:id => "postCommentBox", :name => "postCommentBox"}
  .panelBar
    %h2= t '.post_comment'
  .formBox
    - unless current_user.present?
      %p== #{t '.logged_in_error'} #{link_to 'Login now', login_path}
    - else
      .commentMsgDiv
        - semantic_form_for [commentable, Comment.new] do |form|
          - form.inputs do
            = form.input :comments, :input_html => { :rows => '10', :cols => '20' }, :label => false
          - form.buttons do
            = form.commit_button
