-# @expects: local 'comment' %>

.comment_block
  .thumb= local_linked_profile_pic comment.user
  .storyBlockWrap
    .storyBlockMeta.clearfix
      
      %h3= t('.posted_by', :fb_name => (local_linked_profile_name comment.user), :date => time_ago_in_words(comment.created_at))
      %span.btnComment.float_left== #{link_to t('.comments_like'), like_comment_path(comment.id), :class => "thumb-up voteUp"} 
      %span.btnComment.float_left== #{link_to t('.comments_dislike'), dislike_comment_path(comment.id), :class => "thumb-down voteDown"} #{comment.votes_tally}
      - if comment.moderatable?
        = render :partial => 'shared/flag_form', :class => "btnComment, float_left", :locals => { :flaggable => comment }
    %blockquote
      .quotes= comment.comments

  .comment_reply
    %a.commentReply{:href => '#'}= "Reply" 
-# TODO:: ADD TRANSLATION ^^
