-# @expects: local 'comment' %>

%li.comment_block
  %blockquote
    .quotes= nl2br linkify(comment.comments)
  .profilePic= local_linked_profile_pic comment.user
  .itemBlock
    .itemMeta
      %h3= t('.posted_by', :fb_name => (local_linked_profile_name comment.user), :date => timeago(comment.created_at))
      %span.btnComment= votes_link(comment, comment.votes_tally)
      - if comment.moderatable?
        .float_left= render :partial => 'shared/flag_form.html', :locals => { :flaggable => comment }

-#  .comment_reply
-#    %a.commentReply{:href => '#'}= "Reply" 
-# TODO:: ADD TRANSLATION ^^
