- events ||= Event.paginate :page => params[:page], :per_page => 10, :order => "start_time asc"
%ul
  - events.each do |event|
    %li.askQuestionWrap
      .itemBlock
        %p.askQuestionHead= link_to event.name, event_path(event)
        .profilePic= local_linked_profile_pic event.user, :size => :square
        .itemMeta
          %p= t('.events_asked_by', :fb_name => local_linked_profile_name(event.user), :date => timeago(event.created_at))
          %p
            %span.btn_left== #{like_link event} #{event.votes_tally}
            %span.btn_mid== #{link_to t('.events_comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}
            %span.btn_right= fb_share_item_button(event)
