-# expects @title, @events
.panel_1
  .panelBar.clearfix
    %h2= t('.events_title')
  .storyList
    .list_stories.clearfix
      %ul
        - events.each do |event|
          %li.askQuestionWrap
            .storyBlockWrap
              %p.askQuestionHead= link_to event.name, event_path(event)
              .profilePic= local_linked_profile_pic event.user, :size => :square
              .storyBlockMeta
                %p= t('.events_asked_by', :fb_name => local_linked_profile_name(event.user), :date => time_ago_in_words(event.created_at))
                %p
                  %span.btn_left== #{link_to t('.events_like'), like_event_path(event.id), :class => "voteLink"} #{event.votes.size}
                  %span.btn_mid== #{link_to t('.events_comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}
                  %span.btn_right= t('.events_share')
