- events ||= Event.active.paginate :page => params[:page], :per_page => 10, :order => "start_time asc"
%ul
  - events.each do |event|
    %li.askQuestionWrap
      .itemBlock
        %p.askQuestionHead= link_to event.name, event_path(event)
        .itemMeta
          .profilePic= local_linked_profile_pic event.user, :size => :square
          %h3= generic_posted_by event
          %span.btnComment== #{like_link event} #{event.votes_tally}
          %span.btnComment== #{link_to t('.events_comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}
