#featurePanel.clearfix
  .panelBar.clearfix
    %h2 Featured Content
  #featuredStories.clearfix
    - section1 = featured_items.children.first
    - section2 = featured_items.children.second
    - case featured_items.featured_type
      - when 'template_1'
        .featured_story.clearfix
          - primary1 = section1.children.first.featurable
          #story_1_image.thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
          .storyBlockWrap
            %h1#story_1_title= link_to primary1.featured_title, primary1.featured_url
            %p#story_1_caption= primary1.featured_blurb
      - when 'template_2'
        .featured_story_half.clearfix.float_left
          - primary1 = section1.children.first.featurable
          - secondary1 = section1.children.second.featurable
          - secondary2 = section1.children.third.featurable
          #story_1_image.thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
          .storyBlockWrap
            %h1#story_1_title= link_to primary1.featured_title, primary1.featured_url
            %p#story_1_caption= primary1.featured_blurb
            .related_story
              .bullet_list
                %ul
                  %li= link_to secondary1.featured_title, secondary1.featured_url
                  %li= link_to secondary2.featured_title, secondary2.featured_url


        .featured_story_half.clearfix.float_right
          - primary1 = section1.children.first.featurable
          - secondary1 = section1.children.second.featurable
          - secondary2 = section1.children.third.featurable
          #story_1_image.thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
          .storyBlockWrap
            %h1#story_1_title= link_to primary1.featured_title, primary1.featured_url
            %p#story_1_caption= primary1.featured_blurb
            .related_story
              .bullet_list
                %ul
                  %li= link_to secondary1.featured_title, secondary1.featured_url
                  %li= link_to secondary2.featured_title, secondary2.featured_url