- cache :featured_items do
  - featured_items ||= FeaturedItem.find_root_by_item_name('featured_template')
  - if featured_items.present?
    #featurePanel
      #featuredStories
        - section1 = featured_items.children.first
        - section2 = featured_items.children.second
        - case featured_items.featured_type
          - when 'template_1'
            .featured_story
              - primary1 = section1.children.first.featurable
              #story_1_image.thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
              .storyBlockWrap
                %h1#story_1_title= link_to primary1.featured_title, primary1.featured_url
                %p#story_1_caption= primary1.featured_blurb
          - when 'template_2'
            .panel_2.left.feature_bg
              .panelBar
                %h2 Story 1
              - primary1 = section1.children.first.featurable
              - secondary1 = section1.children.second.featurable
              - secondary2 = section1.children.third.featurable
              #story_1_image.thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
              .storyBlockWrap
                %h1#story_1_title= link_to primary1.featured_title, primary1.featured_url
                %p#story_1_caption= primary1.featured_blurb
                .storyBlockMeta
                  %span.btnComment
                    %a.voteUp like
                  %span.btnComment
                    %a Comment



            .panel_2.right.feature_bg
              .panelBar
                %h2 Story 2
              - primary1 = section1.children.first.featurable
              - secondary1 = section1.children.second.featurable
              - secondary2 = section1.children.third.featurable
              #story_1_image.thumb= link_to image_tag(primary1.featured_image_url), primary1.featured_url
              .storyBlockWrap
                %h1#story_1_title= link_to primary1.featured_title, primary1.featured_url
                %p#story_1_caption= primary1.featured_blurb
                .storyBlockMeta
                  %span.btnComment
                    %a.voteUp like
                  %span.btnComment
                    %a Comment