- cache :featured_items_html do
  - animation_speed = get_setting('animation_speed_features').try(:value) || 500
  - featured_items ||= FeaturedItem.find_root_by_item_name('featured_template')
  - if featured_items.present?
    - section1 = featured_items.children.first
    - section2 = featured_items.children.second
    - section3 = featured_items.children.third
    - section4 = featured_items.children.fourth
    - section5 = featured_items.children.fifth
    - section6 = featured_items.children[5]
    #featuredPanel.panel_2.featureWrap
      - case featured_items.featured_type
        - when 'template_1'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel3', :locals => { :item => section1.children.first.featurable }
        - when 'template_2'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel3_subheads', :locals => { :primary1 => section1.children.first.featurable, :secondary1 => section1.children.second.featurable, :secondary2 => section1.children.third.featurable }
        - when 'template_3'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel4', :locals => { :item => section1.children.first.featurable }
          = render :partial => 'shared/featured_items/panel4', :locals => { :item => section2.children.first.featurable }
        - when 'template_4'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel4c', :locals => { :item => section1.children.first.featurable }
          = render :partial => 'shared/featured_items/panel4c', :locals => { :item => section2.children.first.featurable }
        - when 'template_5'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel5', :locals => { :item => section1.children.first.featurable }
          = render :partial => 'shared/featured_items/panel5', :locals => { :item => section2.children.first.featurable }
          = render :partial => 'shared/featured_items/panel5', :locals => { :item => section3.children.first.featurable }
        - when 'template_6'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/video', :locals => { :item => section1.children.first.featurable }
        - when 'template_7'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel4b', :locals => { :item => section1.children.first.featurable }
          = render :partial => 'shared/featured_items/panel4b', :locals => { :item => section2.children.first.featurable }
          = render :partial => 'shared/featured_items/panel4b', :locals => { :item => section3.children.first.featurable }
          = render :partial => 'shared/featured_items/panel4b', :locals => { :item => section4.children.first.featurable }
        - when 'template_8'
          = render :partial => 'shared/featured_items/panelbar'
          = render :partial => 'shared/featured_items/panel_wide', :locals => { :item => section1.children.first.featurable }
        - when 'template_9'
          - a = [ section1.children.first.featurable, section2.children.first.featurable, section3.children.first.featurable, section4.children.first.featurable, section5.children.first.featurable, section6.children.first.featurable ]
          = render :partial => 'shared/featured_items/panelbar'
          .feature_scrollable_panel_3
            .feature_scrollable_items
              - a.each do |item|
                .panel_items
                  = render :partial => 'shared/featured_items/panel3', :locals => { :item => item }                
          :javascript
            $(function() {          	
            	$(".feature_scrollable_panel_3").scrollable({speed : #{animation_speed}, circular: true, mousewheel: false}).autoscroll({ autoplay: true});
            });
        - when 'template_32'
          - box_list = [0, 2, 4]
          - a = [ section1.children.first.featurable, section2.children.first.featurable, section3.children.first.featurable, section4.children.first.featurable, section5.children.first.featurable, section6.children.first.featurable ]
          = render :partial => 'shared/featured_items/panelbar'
          .feature_scrollable_panel_4
            .feature_vertical_scrollable_items
              - box_list.each do |index|
                .panel_items
                  = render :partial => 'shared/featured_items/panel4', :locals => { :item => a[index] }
                  = render :partial => 'shared/featured_items/panel4', :locals => { :item => a[index+1] }
          :javascript
            $(function() {            
              $(".feature_scrollable_panel_4").scrollable({speed : #{animation_speed}, circular: true, vertical: true, mousewheel: false}).autoscroll({ autoplay: true});
            });
        - when 'template_52'
          - box_list = [0, 3]
          - a = [ section1.children.first.featurable, section2.children.first.featurable, section3.children.first.featurable, section4.children.first.featurable, section5.children.first.featurable, section6.children.first.featurable ]
          = render :partial => 'shared/featured_items/panelbar'
          .feature_scrollable_panel_5
            .feature_vertical_scrollable_items
              - box_list.each do |index|
                .panel_items
                  = render :partial => 'shared/featured_items/panel5', :locals => { :item => a[index] }
                  = render :partial => 'shared/featured_items/panel5', :locals => { :item => a[index+1] }
                  = render :partial => 'shared/featured_items/panel5', :locals => { :item => a[index+2] }
          :javascript
            $(function() {            
              $(".feature_scrollable_panel_5").scrollable({speed : #{animation_speed}, circular: true, vertical: true, mousewheel: false}).autoscroll({ autoplay: true});
            });