-# @expects: local 'slot_name'
!!!
%html
  %head
    = javascript_include_tag "http://partner.googleadservices.com/gampad/google_service.js"
    %script{:type => "text/javascript"}
      == GS_googleAddAdSenseService("#{get_setting('google_adsense_account_id').try(:value)}");
      GS_googleEnableAllServices();
    %script{:type => "text/javascript"}
      == GA_googleAddSlot("#{get_setting('google_adsense_account_id').try(:value)}", "#{slot_name}");
    %script{:type => "text/javascript"}
      GA_googleFetchAds();

  %body{:style => "margin: 0px; padding: 0px;"}
    %script{:type => "text/javascript"}
      GA_googleFillSlot("#{slot_name}");
