#header
  = link_to image_tag("default/spacer.gif"), home_index_path
  .dh_links
    -#TODO:: properly handle logged in users
    -# unless false && application_is_installed?
    - if logged_in?
      = pipe_spacer
      = link_to t('.sign_out'), logout_path
      = pipe_spacer
      = link_to t('.invite_friends'), invite_users_path
    - else
      = pipe_spacer
      = link_to t('.register'), link_user_accounts_users_path
    -#TODO:: add share button from 'templates/header.php'
    = pipe_spacer
    -#TODO:: add contact us
    = link_to t('.contact_us'), contact_us_path
  = render :partial => 'shared/page_tabs'

