#header
  .headerTitle
    %h1="Generic Title"
  .dh_links
    -#TODO:: properly handle logged in users
    -# unless false && application_is_installed?
    = pipe_spacer
    = link_to t('header.account'), '#', :class => "account-toggle"
    .account-links{:style => 'display:none'}
    %span.admin-links
      = pipe_spacer
      = link_to t('.admin'), admin_path
  = render :partial => 'shared/page_tabs'
