#header
  .sponsor
    %a
  .headerTitle
    %a{:title => "Front Page - #{APP_CONFIG['site_title']}", :href => "#{home_index_path(:only_path => false)}"}
      %h1= APP_CONFIG['site_title']
  .dh_links
    - if logged_in?
      .account-dropdown
        = link_to t('header.account'), '#', :class => "account-toggle"
        .account-links{:style => 'display:none'}
      %span.admin-links
        = pipe_spacer
        = link_to t('.admin'), admin_path
    - else
      = link_to t('.sign_in'), link_user_accounts_users_path
      = pipe_spacer
      = link_to t('.register'), link_user_accounts_users_path
    = pipe_spacer
    %fb:share-button{:class => 'meta'}
      %meta{:name => 'title', :content => APP_CONFIG['site_title']}
      %meta{:name => 'description', :content => t('header.share_description')}
      %link{:rel => "image_src", :href => base_url('/images/default/icon-fan-app.gif')}
      %link{:rel => "target_url", :href => home_index_path(:only_path => false)}
  = render :partial => 'shared/page_tabs'
