#header
  .sponsor
    %a
  .headerTitle
    %a{:title => "Front Page - #{APP_CONFIG['site_title']}", :href => "#{home_index_path(:only_path => false)}"}
      %h1= APP_CONFIG['site_title']
  .dh_links
    - if logged_in?
      .account-dropdown
        = link_to t('header.account'), account_menu_path, :class => "account-toggle"
        .account-links{:style => 'display:none'}
      %span.admin-links
        = pipe_spacer
        - if iframe_facebook_request?
          = link_to t('.admin'), admin_path, :target => '_admin'
        - else
          = link_to t('.admin'), admin_path
    - else
      - if iframe_facebook_request?
        = link_to t('.register_facebook'), link_user_accounts_users_path(:only_path => false, :canvas => true), :target => '_parent'
      - else
        = link_to t('.sign_in'), login_path
        = pipe_spacer
        = link_to t('.register'), signup_path
    = pipe_spacer
    = fb_share_app_button
  = render :partial => 'shared/page_tabs'
