- ideas ||= Idea.active.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
%ul
  - ideas.each do |idea|
    %li{'data-id' => idea.cache_key}
      .item_1
        .thumb
          - if idea.images.present?
            = image_tag idea.images.first.url(:thumb)
          - else
            = image_tag ('default/watermark.jpg')
        .itemBlock
          %h2= link_to idea.title, idea_path(idea)
          %p= linked_item_details idea
          .profilePic= local_linked_profile_pic idea.user
          .itemMeta
            %h3
              = generic_posted_by idea
              - if idea.idea_board.present?
                in
                = link_to(idea.idea_board.name, idea.idea_board)
            %span.btnComment== #{like_link idea} #{idea.votes_tally}
            %span.btnComment== #{link_to t('.ideas_comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}
