-# expects @title, @ideas
.panel_1
  .panelBar.clearfix
    %h2= t('.ideas_title')
    - if ideas.present? and ideas.first.refineable?
      .refine_link
        = render :partial => 'shared/forms/refine_dropdown'
  .storyList
    .list_stories.clearfix
      %ul
        - @ideas.each do |idea|
          %li.askQuestionWrap
            .thumb
              - if idea.images.present?
                = image_tag idea.images.first.url(:thumb)
              - else
                = image_tag ('default/default_thumb_b.gif', :width => "100%")
            .storyBlockWrap
              %h2= link_to idea.title, idea_path(idea)
              .profilePic= local_linked_profile_pic idea.user, :size => :square
              .storyBlockMeta
                %p= t('.ideas_asked_by', :fb_name => local_linked_profile_name(idea.user), :date => time_ago_in_words(idea.created_at))
                %p
                  %span.btn_left== #{link_to t('.ideas_like'), like_idea_path(idea.id), :class => "voteUp"} #{idea.votes_tally}
                  %span.btn_mid== #{link_to t('.ideas_comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}
                  %span.btn_right= fb_share_button(ideas_url(idea))
