.panel_1
  .panelBar.clearfix
    %h2= t('.title')
  .subtitle
    %span= t('.subtitle')
  .storyList
    .list_stories.clearfix
      %ul
        - idea_boards.each do |idea_board|
          %li
            .storyBlockWrap
              %p.storyHead= link_to idea_board.name, idea_board
              %p.storyCaption= idea_board.description

  - unless @no_paginate
    .clearfix
      = will_paginate idea_boards
      %br
