- ideas ||= Idea.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
%ul
  - ideas.each do |idea|
    %li{'data-id' => idea.cache_key}
      .thumb
        - if idea.images.present?
          = image_tag idea.images.first.url(:thumb)
        - else
          = image_tag ('default/watermark.jpg')
      .itemBlock
        %h2= link_to idea.title, idea_path(idea)
        %p= linked_item_details idea
        .profilePic= local_linked_profile_pic idea.user
        .itemMeta
          %h3= t('posted_by', :fb_name => local_linked_profile_name(idea.user), :date => timeago(idea.created_at))
          %span.btnComment== #{like_link idea} #{idea.votes_tally}
          %span.btnComment== #{link_to t('.ideas_comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}
          %span.btnComment= fb_share_item_button(idea)
