.panel_2
  .panelBar
    %h2= t('.title')
  .subtitle
    %span= t('.subtitle')
  .itemListWrap
    .list_items
      %ul
        - idea_boards.each do |idea_board|
          %li
            .itemBlock
              %p= link_to idea_board.name, idea_board
              %p= idea_board.description

  - unless @no_paginate
    .clearfix
      = will_paginate idea_boards
      %br
