-# expects local :moderatable => moderatable
.moderator-links.mod-links-style
  = toggle_blocked_link moderatable
  = pipe_spacer
  = toggle_featured_link moderatable
  - if moderatable.class.name == 'Content' and moderatable.is_article?
    = pipe_spacer
    = link_to t('articles.edit_draft'), edit_article_path(moderatable.article)
.admin-links
-# TODO:: add this in, need cascading block/unblock
  - if moderatable.user.present? and not moderatable.user.is_blocked?
    = pipe_spacer
    = t('.ban')
    -#{link_to = t('.ban'), ban_moderatable_path(moderatable, :return_to => moderatable_path(moderatable))}
  - else
    = pipe_spacer
    = t('.unban')
    -#{link_to = t('.unban'), ban_moderatable_path(moderatable, :return_to => moderatable_path(moderatable))}