- page ||= ""
- cache_if page.present?, "newswires_list_#{page}html" do
  - newswires ||= Newswire.unpublished.newest.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
  - paginate ||= false
  .panel_2
    .panelBar
      %h2= t '.title'
    .subtitle
      %span= t('.subtitle')
    .itemListWrap
      #front-newswires.list_items
        %ul
          - @newswires.each do |newswire|
            %li{'data-id' => newswire.cache_key}
              = render :partial => 'shared/items/newswire', :locals => { :newswire => newswire }
    - if paginate
      .clearfix
        = will_paginate newswires
        %br
