-# Expects @current_tab to be set, done by default in app_controller
#pageTabs.clearfix
  .tabs.clearfix
    .right_tabs
      %ul#toggle_tabs_unused.toggle_tabs.clearfix
        %li.first= link_to t('.home'), home_index_path, :class => tab_selected?(@current_tab, 'home')
        %li= link_to t('.stories'), stories_path, :class => tab_selected?(@current_tab, 'stories')
        %li= link_to t('.newswire'), newswires_path, :class => tab_selected?(@current_tab, 'newswire')
        %li= link_to t('.ideas'), ideas_path, :class => tab_selected?(@current_tab, 'ideas')
        %li= link_to t('.resources'), resources_path, :class => tab_selected?(@current_tab, 'resources')
        %li= link_to t('.events'), events_path, :class => tab_selected?(@current_tab, 'events')
-#        - if current_user.present?
-#          %li= link_to t('.my_profile'), user_path(current_user), :class => tab_selected?(@current_tab, 'my_profile')
