- from_groups ||= false
.formBox
  .predictions
    - semantic_form_for [prediction_question, PredictionGuess.new] do |form|
      - form.inputs do
        = hidden_field_tag 'from_groups', from_groups
        - case prediction_question.prediction_type
          - when 'multi'
            = form.input :guess, :as => :select, :collection => prediction_question.prediction_choice_options
          - when 'yesno'
            = form.input :guess, :as => :select, :collection => prediction_question.prediction_choice_options
          - when 'year'
            = form.input :guess, :as => :select, :collection => prediction_question.prediction_choice_options
          - when 'numeric'
            = form.input :guess_numeric
          - when 'text'
            = form.input :guess
      - form.buttons do
        = form.submit "Submit"
        %p.suggest_answer= link_to "Is this question out of date?", new_prediction_question_prediction_result_path(prediction_question)
