%li
  .generic.small
    .itemBlock          
      %h4= prediction_question.title
      - unless current_user.present?
        %p== #{t '.logged_in_error'} #{link_to 'Login now', login_path}
      - else
        - unless prediction_question.user_guessed? current_user
          = render :partial => 'shared/prediction_question', :locals => { :prediction_question => prediction_question }
        - else
          - cache "#{prediction_question.cache_key}_stats_html" do
            = render :partial => 'shared/prediction_question_stats', :locals => { :prediction_question => prediction_question }