-# expects local :relatable => @relatable

.panel_2
  %a{:id => "postRelatedItemBox", :name => "postRelatedItemBox"}
  .formBox
    - unless current_user.present?
      %p== #{t '.logged_in_error'} #{link_to 'Login now', login_path}
    - else
      .relatedItemFormDiv
        - semantic_form_for [relatable, RelatedItem.new] do |form|
          - form.inputs do
            = form.input :title
            = form.input :url
          - form.buttons do
            = form.commit_button t('submit_related_item'), :button_html => { :class => 'btn'   }
