.panel_2
  .panelBar.clearfix
    %h2= t('.title')
  .subtitle
    %span= t('.subtitle')
  .itemListWrap
    .list_items.clearfix
      %ul
        - resource_sections.each do |resource_section|
          %li
            .itemBlock
              %p= link_to resource_section.name, resource_section
              %p= resource_section.description

  - unless @no_paginate
    .clearfix
      = will_paginate resource_sections
      %br
