- resources ||= Resource.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
%ul
  - resources.each do |resource|
    %li.askQuestionWrap
      .storyBlockWrap
        %p.askQuestionHead= link_to resource.title, resource_path(resource)
        .profilePic= local_linked_profile_pic resource.user, :size => :square
        .storyBlockMeta
          %p= t('.resources_posted_by', :fb_name => local_linked_profile_name(resource.user), :date => time_ago_in_words(resource.created_at))
          %p
            %span.btn_left== #{link_to t('.resources_like'), like_resource_path(resource.id), :class => "voteLink"} #{resource.votes.size}
            %span.btn_mid== #{link_to t('.resources_comments'), resource_path(resource, :anchor => "commentListTop")} #{resource.comments_count}
            %span.btn_right= fb_share_button(resource_path(resource))
