- page ||= ""
- cache_if page.present?, "stories_list_#{page}html" do
  - contents ||= Content.top_items.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
  - paginate ||= false
  .panel_1
    .panelBar
      %h2= t('.stories_title')
      - if contents.present? and contents.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown'
    .subtitle
      %span= t('.stories_subtitle')
    .itemListWrap
      .list_items
        %ul
          - contents.each do |content|
            -# todo hack to fix drafts appearing until we can switch articles out of this widget
            - unless content.article.present? and content.article.is_draft?
              %li{'data-id' => content.cache_key}
                - if content.article.present?
                  = render :partial => 'shared/items/article', :locals => { :article => content}  
                -else
                  = render :partial => 'shared/items/content', :locals => { :content => content}                  
    - if paginate
      .clearfix
        = will_paginate contents
        %br
    - else
      .clearfix
      %p= link_to t('read_more'), stories_path, :class => "float_right"
      %br