.panel_1.feature_bg
  .panelBar
    %h2
      Featured Stories
  .panel_4.first
    .thumb.tall
      %a= image_tag('default/default_thumb.gif')
  .panel_4
    .storyBlock
      %h2 
        %a Explosion Warning
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        16
        %a
          Comments
  .panel_4
    .thumb.tall
      %a= image_tag('default/default_thumb.gif')
  .panel_4.last
    .storyBlock
      %h2 
        %a Explosion Warning
      %p
        1:45PM Officials shut down an N.C. port and urged people to
        %a
          More...
      %span.btnComment
        16
        %a
          Comments



.panel_1.feature_bg
  .panel_4.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4.last
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies


.panel_1
  %h1
    This is the beginning of Layout A

#featuredPanel.panel_1.feature_bg
  .panelBar
    %h2
      Featured Stories
  .panel_3
    .thumb.nineSixteen
      = image_tag('default/default_thumb.gif')
    .storyBlockWrap
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

  .panel_3
    .thumb.nineSixteen
      = image_tag('default/default_thumb.gif')

    .storyBlockWrap
      %h1
        Video News Title here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

.panel_1
  %h1
    This is the beginning of Layout A

#featuredPanel.panel_1.feature_bg
  .panelBar
    %h2
      Featured Stories
  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')
    .storyBlockWrap
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')

    .storyBlockWrap
      %h1
        Video News Title here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

.panel_1.feature_bg
  .panelBar
    %h2
      Featured News
  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')
  .panel_3
    .storyBlockWrap
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %h4
              %a
                This is a bullet list point
          %li
            %h4
              %a
                This is a bullet list point

.panel_1.feature_bg
  .panelBar
    %h2
      Featured News
  .panel_3
    .storyBlockWrap
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %h4
              %a
                This is a bullet list point
          %li
            %h4
              %a
                This is a bullet list point
  .panel_3
    .thumb.threeFour
      = image_tag('default/default_thumb.gif')

.panel_1.feature_bg
  .panelBar
    %h2
      Featured News
  .panel_3
    .thumb.nineSixteen
      = image_tag('default/default_thumb.gif')
    .storyBlockWrap
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

  .panel_3
    .storyBlockWrap
      .featuredNewsList
        %ul
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li.selected
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...
          %li
            .thumb
              = image_tag('default/default_thumb.gif')
            %h4
              %a
                Gores split after 40 years o...
            %p
              1:45PM Officials shut down an ...

.panel_1.feature_bg
  .panelBar
    %h2
      Featured News
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .storyBlockWrap
    %h1
      Local News Title thats extra long goes here.
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16
.panel_1.feature_bg
  .panelBar
    %h2
      Featured News
  .storyBlockWrap.header-top
    %h1
      Local News Title thats extra long goes here.
  .thumb.wide
    = image_tag('default/default_thumb.gif')
  .storyBlockWrap
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured. 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16
  