.panel_1.feature_bg
  .panel_4.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4.last
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies

.panel_1
  .panel_4.first
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel_4.last
    .thumb
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies



.panel_1
  .panelBar
    %h2
      Top Users
  .storyList
    .list_stories
      %ul
        %li.feature_bg
          .thumb
            = image_tag 'default/icon-fan-app.gif', :class => "moderator"
            %a= image_tag('default/default_thumb.gif')
          .float_left
            %h2.storyHead 
              %a Johnny McJohn-john
              
            %p Seattle Wa
          .storyBlockMeta.float_right
            %h4.userPoints 11,340
            %h3.userPoints points
        %li
          .thumb
            =link_to image_tag('default/default_thumb.gif'), '#'
          .float_left
            %h2.storyHead 
              %a name goes here
            %p city and state
          .storyBlockMeta.float_right
            %h4.userPoints 11,340
            %h3.userPoints points