- content_for :sub_nav do
  = render :partial => 'shared/breadcrumbs', :locals => { :breadcrumbs => forum_breadcrumbs(forum) }

- cache_if page.present?, "#{@forum.cache_key}_topics_list#{page}" do
  - topics ||= forum.topics.active
  - paginate ||= false
  - page ||= ""
  .panel_2
    .panelBar
      %h2= t('forums.topics.list_title', :forum_name => forum.name)
      %span.bar_link= fb_share_item_button(forum)
    .subtitle
      %span= t('forums.topics.list_subtitle', :forum_description => forum.description)
    .itemListWrap
      - if topics.any?
        %table.tablesorter
          %thead
            %tr
              %th Title
              %th Replies
              %th Views
              %th Last Post
          %tbody
            - topics.each do |topic|
              %tr
                %td= link_to topic.title, [forum, topic]
                %td= topic.comments_count
                %td= topic.views_count
                %td= t('posted_by', :fb_name => local_linked_profile_name(topic.replied_user), :date => timeago(topic.replied_at))
      - else
        %p There are no topics yet, create one
    - if paginate
      .clearfix
        = will_paginate topics
        %br

  .panel_2
    %div.float_left= link_to t('forums.topics.new'), new_forum_topic_path(forum), :class => "btn"
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => forum, :title => forum.name }
