- page ||= ""
- cache_if (false and page.present?), "users_list_#{page}html" do
  - scores ||= Score.weekly_scores
  - paginate ||= false
  .panel_2
    .panelBar
      %h2= t('.users_title')
      - if false and users.present? and users.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown'
    .subtitle
      %span= t('.users_subtitle')
    .itemListWrap
      .list_items
        %ul
          - scores.each do |score|
            - user = score.user
            %li{'data-id' => user.cache_key}
              = render :partial => 'shared/items/user', :locals => { :user => user, :score => score }
    - if paginate
      .clearfix
        = will_paginate scores
        %br
