#col_left
  = render :partial => 'shared/featured_items'
  = render :partial => 'shared/ads_banner'
  = render :partial => 'shared/stories'

#col_right
  = render :partial => 'shared/sidebar/top_stories'
  = render :partial => 'shared/sidebar/top_discussed_stories'
  = render :partial => 'shared/sidebar/top_users'
  = render :partial => 'shared/sidebar/newest_users'
  = render :partial => 'shared/sidebar/active_users'
  = render :partial => 'shared/sidebar/add_bookmark'
