#col_left
  - if @featured_items.present?
    = render :partial => 'shared/featured_items', :locals => { :featured_items => @featured_items }
  = render :partial => 'shared/stories'

#col_right
  = render :partial => 'shared/sidebar/top_stories', :locals => { :top_stories => @top_stories }
  = render :partial => 'shared/sidebar/top_discussed_stories', :locals => { :most_discussed_stories => @most_discussed_stories }
  = render :partial => 'shared/sidebar/top_users', :locals => { :top_users => @top_users }
  = render :partial => 'shared/sidebar/newest_users', :locals => { :newest_users => @newest_users }
