#col_full
  - unless @page.present?
    %h1 No content setup yet. Admins please configure your home page.
  - else
    - @main.each do |widget_page|
      - widget = widget_page.widget
      - locals = {}
      - locals = { widget.locals.to_sym => instance_variable_get("@#{widget.locals}")} if widget.locals.present?
      - locals[:widget] = widget
      - locals[:widget_page] = widget_page
      %div{:class => "#{widget_page.css_class} box"}
        = render :partial => widget.partial, :locals => locals
  - unless @page.present?
    %h1 No content setup yet. Admins please configure your home page.
  - else
    - @sidebar.each do |widget_page|
      - widget = widget_page.widget
      - locals = {}
      - locals = { widget.locals.to_sym => instance_variable_get("@#{widget.locals}")} if widget.locals.present?
      - locals[:widget] = widget
      .box= render :partial => widget.partial, :locals => locals
