= render :partial => 'shared/tests/predictions'

= render :partial => 'shared/header_test'

= render :partial => 'shared/tests/v2_FS_WGT_1'

= render :partial => 'shared/tests/v2_FS_WGT_2'

= render :partial => 'shared/tests/v2_META_WGT'

= render :partial => 'shared/tests/v2_GEN_WGT'

= render :partial => 'shared/tests/v2_FS_WGT_3'

= render :partial => 'shared/tests/v2_FS_WGT_4'

= render :partial => 'shared/tests/v2_VERTICAL_WGT'

= render :partial => 'shared/tests/v2_HORIZONTAL_WGT'

= render :partial => 'shared/tests/v2_HORIZONTAL_WGT_FEATURED'

= render :partial => 'shared/tests/v2_AD_WRAPPERS'

= render :partial => 'shared/tests/v2_GAL_WGT'

= render :partial => 'shared/tests/v2_popover_postitem'

= render :partial => 'shared/tests/v2_user_WGT'


