#adspace
  .ad_728
    .test-frame

#col_left
  = render :partial => 'shared/users'
  = render :partial => 'shared/test_users'
  //= render :partial => 'shared/resource_test'
  //= render :partial => 'shared/faq_test'
  = render :partial => 'shared/test_layout_a'
  //= render :partial => 'shared/test_layout_b'
  //= render :partial => 'shared/test_layout_c'


#col_right

  = render :partial => 'shared/sidebar/sidebar_layout_a'
  = render :partial => 'shared/sidebar/sidebar_layout_b'
  = render :partial => 'shared/sidebar/sidebar_layout_c'