#col_left
  = render :partial => 'shared/tests/empty_content'
  = render :partial => 'shared/tests/article_layout'
  //= render :partial => 'shared/tests/resource_test'
  //= render :partial => 'shared/users'
  = render :partial => 'shared/tests/test_users'
  //= render :partial => 'shared/tests/faq_test'
  = render :partial => 'shared/tests/test_featured_story_templates'
  //= render :partial => 'shared/tests/test_layout_b'
  //= render :partial => 'shared/tests/test_layout_c'


#col_right
  = render :partial => 'shared/tests/one_col_layouts'
  = render :partial => 'shared/sidebar/featured_idea'
  = render :partial => 'shared/sidebar/featured_question'
  = render :partial => 'shared/tests/sidebar_layout_a'
  = render :partial => 'shared/tests/sidebar_layout_b'
  //= render :partial => 'shared/tests/sidebar_layout_c'