- if current_facebook_user
  %p=link_to t('.import_events_title'), "#", :class=>"import-events-toggle"
  %p= t('.or_fill_out_form')
  - form_for @event, :html=>{:class=>"formtastic hidden", :id=>'import-events'} do |form|
    %fieldset{:class=>"inputs"}
      %ol
      - @fb_events.each do |event|

        %li.eventBlock
          .eventDetailsBlock
            .storyBlockWrap
              %h4
                = check_box_tag "fb_events[]", event.id, false, :style=>"width: 20px;"
                %span.tag
                  Event:
                = event.name
              .storyBlockMeta
                %h3= event.description                   
          .eventLocationBlock
            %ul
              %li 
                %b Event Details
              %li== #{event.location}
              %li== #{Time.at(event.start_time.to_i).to_date}
    %fieldset{:class=>"buttons"}          
      = form.submit t('.import_events'), :class => 'btn'