- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/events_subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  .panel_2
    .panelBar
      %h2== What's your event for #{APP_CONFIG['site_topic']}?
    .formBox
      - if not @events_allowed
        %br
        = fb_prompt_permission('user_events', t('events.fb_prompt'), 'window.location.reload()');
      - elsif @fb_events.empty?
        %strong No Events to Import
      - else

        - form_for @event, :html=>{:class=>"formtastic", :id=>'import-events'}, :url => import_facebook_events_path do |form|
          %fieldset{:class=>"inputs"}
            %ol
            - @fb_events.each do |event|

              %li.eventBlock
                .eventDetailsBlock
                  .itemBlock
                    %h4
                      = check_box_tag "fb_events[]", event.id, false, :style=>"width: 20px;"
                      %span.tag
                        Event:
                      = event.name
                    .itemMeta
                      %h3= truncate(event.description, :length => 255)       
                .eventLocationBlock
                  %ul
                    %li 
                      %b Event Details
                    %li== #{event.location}
                    %li== #{Time.at(event.start_time.to_i).to_date}
          %fieldset{:class=>"buttons"}
            = form.submit t('.import_events'), :class => 'btn'
#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
