- content_for :sub_nav do
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_leaderboard }
  = render :partial => 'shared/subnav/events_subnav'

#col_left
  = render :partial => 'shared/events', :locals => { :events => @events, :paginate => @paginate, :page => @page }

#col_right
  = render :partial => 'shared/sidebar/events_whatisthis'
  - if @custom_sidebar_widget
    = render :partial => 'shared/custom_widget', :locals => { :widget => @custom_sidebar_widget }
  = render :partial => 'shared/sidebar/top_events', :locals => { :top_events => @top_events }
  = render :partial => 'shared/sidebar/newest_events', :locals => { :newest_events => @newest_events }
