- content_for :sub_nav do
  = render :partial => 'shared/subnav/events_subnav'

#col_left
  .panel_1
    .panelBar
      %h2== What's your event for #{APP_CONFIG['site_topic']}?
    .formBox

      - semantic_form_for @event do |form|
        - form.inputs do
          = form.input :name, :label => t('.label_event_name'), :hint => t('.hint_event_name')
          = form.input :tagline, :required => false, :label => t('.label_event_tagline'), :hint => t('.hint_event_tagline')
          = form.input :description, :input_html => { :rows => 5 }, :label => t('.label_event_description'), :hint => t('.hint_event_description'), :required => false
          = form.input :tags_string,:label => t('tags'),  :required => false, :hint => t('tags_hint')
          = form.input :start_time, :required => true
          = form.input :end_time, :required => false
          = form.input :location, :required => true,:label => t('.label_event_location'), :hint => t('.hint_event_location')
          = form.input :street, :required => false
          = form.input :city, :required => false
          = form.input :state, :required => false
          = form.input :host, :required => false
          = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @event }
        - form.buttons do
          = form.commit_button  :button_html => { :class => 'btn' } 

#col_right
  = render :partial => 'shared/sidebar/top_events', :locals => { :top_events => @top_events }
  = render :partial => 'shared/sidebar/newest_events', :locals => { :newest_events => @newest_events }
