- content_for :sub_nav do
  = render :partial => 'shared/subnav/events_subnav'

#col_left
  .list_stories.clearfix
    %ul
      %li
        .storyBlockWrap
          .profilePicLarger
            = local_linked_profile_pic @event.user
          %p.storyHead= @event.name
          %p.storyCaption= sanitize @event.tagline
          .storyBlockMeta
            %h3= t('.asked_by', :fb_name => local_linked_profile_name(@event.user), :date => time_ago_in_words(@event.created_at))
            %p
              %span.btn_left== #{link_to t('.like'), like_event_path((@event.id), :return_to => event_path(@event)), :class => "voteLink"} #{@event.votes_tally}
              %span.btn_mid== #{link_to t('.post_comment'), event_path(@event, :anchor => "postCommentBox")} #{@event.comments_count}
              %span.btn_right= fb_share_button(event_url(@event))
            - if @tags.present?
              %h3== Tags #{tag_list(@tags,@event)}
            - if @event.moderatable?
              = render :partial => 'shared/flag_form', :locals => { :flaggable => @event }
  - if @event.media_item?
    = render_media_items @event

  %br
  %br
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @slot_data }
  = render :partial => 'shared/comments', :locals => { :comments => @event.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @event }
  = render :partial => 'shared/item_footer', :locals => { :item => @event, :title =>@event.name }
  - if @event.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @event }
#col_right
