- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/events_subnav'

#col_left
  - cache "#{@event.cache_key}_html" do
    #itemDetails.panel_2
      .topBar
        %ul
          %li
            #{like_link @event} #{@event.votes_tally}
          %li
            %a== #{link_to t('comment'), event_path(@event, :anchor => "postCommentBox")} #{@event.comments_count}
          %li= fb_share_item_button(@event)
          %li
            %a= twitter_share_item_link @event, @event.name           
          %li
            = render :partial => 'shared/add_this'
      .itemBlock
        .thumb
          - if @event.images.present?
            = image_tag @event.images.first.url(:medium)
          - if !@event.images.present? && @event.pic.present?
            = image_tag @event.pic
        %h1= @event.name
        .itemMeta
          .eventMetaBlock
            .eventMeta.time
              %h4
                = t('.date_time') 
              %h3 
                == #{@event.start_time.to_s :short_with_time}
                - if @event.end_time.present?
                  == - #{@event.end_time.to_s :short_time} 
            .eventMeta.location
              %h4
                = t('.location') 
              %h3
                =h @event.location
                %br
                =h @event.street
                %br
                == #{h @event.city}, #{h @event.state}
            - if @tags.present?
              .eventMeta.tags
                %h4 Tags:
                %h3==#{tag_list(@tags,@event)}
            -# only show if both event urls are present
            - if @event.alt_url.present? and @event.url.present?
              .eventMeta.website
                %h4
                  = link_to t('.website'), @event.get_url
          %h3
            = t('posted_by', :fb_name => local_linked_profile_name(@event.user), :date => timeago(@event.created_at))
          = link_to(t('.view'), @event.get_view_button_url, :class=>"btn", :target=>"_new") if @event.url.present? or @event.alt_url.present?
          - if @event.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @event }

      %div.itemBlock= sanitize @event.description
    - if @event.media_item?
      = render_media_items @event
    = render_ad(:banner, @ad_layout, @ad_banner)
    = render :partial => 'shared/comments', :locals => { :comments => @event.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @event }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => @event, :title =>@event.name }
  - if @event.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @event }
#col_right
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render :partial => 'shared/sidebar/bio', :locals => { :user => @event.user }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @event, :related_items => @event.related_items }
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @event }
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
