- content_for :head do
  %style
    #sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; }
    #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
    :sass

      #col_full
        #widget-tabs
          float: left
          width: 400px
        #widget-tabs-destination
          float: left
          width: 250px
          border: 1px solid black
          min-height: 250px
          margin-left: 40px
      .float-toggle
        position: absolute
        top: 2px
        right: 2px
      #content-box
        width: 960px
      #left
        width: 700px
        display: inline
        position: relative
        clear: both
        float: left
        .left
          width: 300px
          //position: relative
          //left: 0
          //margin-left: 0px
          float: left
          clear: left
        .right
          //position: absolute
          //right: 0
          width: 300px
          float: right
          clear: right
          //margin-right: 0px
      #right
        width: 200px
      #main-widgets-list
        width: 440px
      #sidebar-widgets-list
        width: 440px
      .box
        margin-left: 25px
        min-height: 500px
        float: left
        border: 1px solid black
      .title
        margin-left: 10px
      .clear
        clear: both
      .draggable-main, .draggable-sidebar
        position: relative
        width: 100px
        //height: 100px
        padding: 5px
        margin: 10px 10px 10px 0
        float: left
        background-color: #AEAEAE
        overflow: hidden

  :javascript
    $(function() {
      var $tabs = $('#widget-tabs').tabs();
      $('ul.sortable, ul.destination').sortable({placeholder:'ui-state-highlight'}).disableSelection();
      $('#widget-tabs-destination').droppable({
        accept: 'li',
        activeClass: 'ui-state-hover',
        hoverClass: 'ui-state-active',
        helper: 'clone',
        drop: function(event, ui) {
        	if (!ui.draggable.parent().hasClass('destination')) {
            var widget = ui.draggable;
            widget.fadeOut(function() {
              widget.appendTo($('ul.destination')).fadeIn();
            });
          }
        }
      });
    });

-#col_full
  #content-box
    - [@main_widgets, @sidebar_widgets].each do |widget_set|
      - widget_set.each do |main_widget|
        - mwidget = main_widget.widget
        - @controller.send mwidget.load_functions if mwidget.load_functions.present?
        - locals = mwidget.locals.present? ? { mwidget.locals.to_sym => instance_variable_get("@#{mwidget.locals}") } : {}
        - locals[:widget] = mwidget

        :javascript
          $(function() {
            var content = $("<div class='box'>#{escape_javascript(render :partial => mwidget.partial, :locals => locals)}</div>");
            console.log(content.html());
            $('#content-box').append(content.html())
              .masonry({ appendedContent : content, columnWidth: 310, itemSelector : '.box' });
          });

#col_full
  #content-box
    #widget-tabs{:style => "width: 410px; float: left;"}
      %ul
        %li
          %a{:href => "#tabs-1"} Tabs 1
        %li
          %a{:href => "#tabs-2"} Tabs 2
        %li
          %a{:href => "#tabs-3"} Tabs 3
        %li
          %a{:href => "#tabs-4"} Tabs 4
        %li
          %a{:href => "#tabs-5"} Tabs 5
      - @widgets = Widget.all(:order => :name)
      - per = (@widgets.size / 5.0).ceil
      - 5.times do |i|
        - index = i * per
        - w_list = @widgets[index,per]
        %div{:id => "tabs-#{i+1}"}
          %ul.sortable.ui-helper-reset
            - w_list.each do |widget|
              %li.ui-state-default= widget.name
    -#widget-tabs-destination{:style => "width: 200px; float: left; border: 1px solid black; min-height: 200px;"}
    #widget-tabs-destination
      %h2 Drop Widgets Here
      %ul.destination
-#
  %h1.title Select Widgets for Your Page Layout
  %br
  %button#save-button.title.fg-button.ui-state-default.ui-corner-all{:type => "button"} Save your layout
  %button#clear-button.title.fg-button.ui-state-default.ui-corner-all{:type => "button"} Clear Widgets
  .clear
  %br
  #left.box.droppable-main.ui-widget-content.ui-state-default
    %h1 Main Column
    %ul#sortable-main
  #right.box.droppable-sidebar.ui-widget-content.ui-state-default
    %h1 Sidebar Column
    %ul#sortable-sidebar
  .clear
  %br
  -# TODO this second button is not working
  -# %button#save-button.title.fg-button.ui-state-default.ui-corner-all{:type => "button"} Save your layout
%br
.clear
%br
-#sidebar-widgets
  %p.title Drag widgets below to their appropriate box and desired position above
  #main-widgets-list.box
    %h1 Wide Widgets
    %ul
      - @main.each do |widget|
        %li.draggable-main.ui-widget-content{:id => "widget_#{widget.id}", :name => widget.name}
          %p== #{widget.name}
  #sidebar-widgets-list.box
    %h1 Narrow Widgets
    %ul
      - @sidebar.each do |widget|
        %li.draggable-sidebar.ui-widget-content{:id => "widget_#{widget.id}", :name => widget.name}
          %p== #{widget.name}
