%h2== Update #{item.class.name.titleize}
- associations ||= {}
- include_media_form ||= false
- semantic_form_for [:admin, item], :html => { :multipart => (!! include_media_form) } do |form|
  - form.inputs do
    - fields.each do |field|
      - if field.is_a? Proc
        = field.call(form)
      - elsif association = association_exists?(field, associations)
        = form.input association
      - else
        = form.input field
    - if include_media_form and item.media_item?
      = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => item }
  - form.buttons do
    = form.commit_button
