#subNav
  .tabs
    %ul#toggle_tabs_unused.toggle_tabs
      %li= link_to t('.browse_ideas'), ideas_path, :class => "tab #{sub_tab_selected?(@current_sub_tab, 'Browse Ideas')}" 
      - if current_user
        %li= link_to t('.my_ideas'), my_ideas_idea_path(:id => current_user), :class => "tab #{sub_tab_selected?(@current_sub_tab, 'My Ideas')}" 
      %li= link_to t('.suggest_idea'), new_idea_path, :class => "tab #{sub_tab_selected?(@current_sub_tab, 'Suggest Idea')}" 
