- form.inputs do
  = form.input :url
  = form.input :title
  = form.input :image_url, :required => false
  = form.input :tags_string, :required => false
  %ul#image_selector.jcarousel-skin-tango{:style => "left: 0px;"}
  = form.input :caption
