- form.inputs do
  = form.input :url
  = form.input :title
  = form.input :image_url
  = form.input :tags_string, :required => false
  = form.input :caption
= render :partial => 'shared/forms/media_items', :locals => { :form => form }
