- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/stories_subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  = render :partial => 'shared/stories', :locals => { :contents => @contents, :paginate => @paginate, :page => @page }

#col_right
  = render :partial => 'shared/sidebar/post_story'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_stories', :locals => { :top_stories => @top_stories }
  = render :partial => 'shared/sidebar/top_discussed_stories', :locals => { :most_discussed_stories => @most_discussed_stories }
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Content , :locale_var => 'top_content_tags' }
  = render :partial => 'shared/sidebar/top_users', :locals => { :top_users => @top_users }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
