- content_for :sub_nav do
  - unless MENU['stories']['new_article'].nil? and MENU['articles'].nil?
    = render :partial => 'shared/subnav/news_subnav'
#col_left
  .panel_2
    .panelBar
      %h2= t('new_story_header')
    .formBox
      - semantic_form_for @story, :url => stories_path, :html => { :multipart => true, :class => "post_story" } do |form|
        = render :partial => 'story_form', :locals => { :form => form, :story => @story }
        - form.buttons do
          -# TODO:: switch this to locale
          = form.commit_button "Post Story", :button_html => { :class => 'btn' }

#col_right
  .panel_1
    .panelBar
      %h2= t('.new_story_bookmarklet_intro')
    = render :partial => 'shared/bookmarklet_panel'
