- content_for :title do
  = @story.item_title
- content_for :meta_description do
  = meta_description @story
- if @story.images.present?
  - content_for :meta_image do
    = meta_image @story.images.first

- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)

#col_left
  - cache "#{@story.cache_key}_top_html" do
    #itemDetails.panel_2
      .topBar
        %ul
          %li
            %a== #{like_link @story} #{@story.votes_tally}
          %li
            %a== #{link_to t('comment'), story_path(@story, :anchor => "postCommentBox")} #{@story.comments_count}
          %li= fb_share_item_button(@story)
          %li
            = twitter_share_item_link @story, @story.title
          %li
            = render :partial => 'shared/add_this'
      .itemBlock
        .half-panel
          - if @story.images.present?
            .thumb= image_tag @story.images.first.url(:medium)
        - if @story.moderatable?
          .half-panel.clearfix
            .float_right= render :partial => 'shared/moderate_form', :locals => { :moderatable => @story }
            .float_left= render :partial => 'shared/flag_form', :locals => { :flaggable => @story }

        %h1= @story.title
        .itemMeta
          - unless @story.is_article?
            - unless @story.source.present?
              %h3= t('posted_by_via', :fb_name => local_linked_profile_name(@story.user), :source => story_source_link(@story), :date => timeago(@story.created_at))
            - else
              %h3= t('posted_by_via', :fb_name => local_linked_profile_name(@story.user), :source => source_link(@story), :date => timeago(@story.created_at))
          - else
            %h3 
              = t('posted_by', :fb_name => local_linked_profile_name(@story.user), :date => timeago(@story.created_at))
              = pipe_spacer
              - if current_user.present? and @story.user == current_user
                = link_to t('articles.edit_draft'), edit_article_path(@story.article)
          - if @tags.present?
            .tag-wrap
              == Tags: #{tag_list(@tags, (@story.is_article? ? @story.article : @story))}
        - if @story.is_article?
          %p= sanitize nl2br(@story.caption)
        - elsif @story.full_html?
          %p= nl2br(@story.caption)
        - else
          %p= sanitize caption(@story.caption, 500)
        - if @story.url.present?
          .float_left= link_to t('.read_story'), @story.url, :target => "_cts", :class => "btn"
      - if @story.media_item?
        = render_media_items @story, :size => 'large'


    = render_ad(:banner, @ad_layout, @ad_banner)
    = render :partial => 'shared/comments', :locals => { :comments => @story.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @story }

  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'

  = render :partial => 'shared/item_footer', :locals => { :item => @story,:title => @story.title }


#col_right
  - if  @story.is_article? and @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  - cache "#{@story.cache_key}_sidebar_html" do
    = render :partial => 'shared/sidebar/bio', :locals => { :user => @story.user }
    = render :partial => 'shared/sidebar/other_posts', :locals => { :story => @story }
    = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @story }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @story, :related_items => @story.related_items }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)