- content_for :title do
  = @story.item_title
- content_for :meta_description do
  = meta_description @story
- if @story.images.present?
  - content_for :meta_image do
    = meta_image @story.images.first

#col_left
  - cache "#{@story.cache_key}_top_html" do
    #readArticle.panel_1
      .topBar
        %ul
          %li
            %a== #{like_link @story} #{@story.votes_tally}
          %li
            %a== #{link_to t('.post_comment'), story_path(@story, :anchor => "postCommentBox")} #{@story.comments_count}
          %li= fb_share_item_button(@story)
          %li
            = twitter_share_item_link @story, @story.title
      .thumb
        - if @story.images.present?
          = image_tag @story.images.first.url(:medium)
      .storyBlockWrap
        %h1.storyHead= @story.title
        .storyBlockMeta
          %h3= t('.via', :source => link_to(@story.source, @story.url), :date => @story.created_at) unless @story.source.empty?
          %h3= t('.posted_by', :fb_name => local_linked_profile_name(@story.user), :date => time_ago_in_words(@story.created_at))
          - if @story.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @story }
          - if @tags.present?
            %h3== Tags #{tag_list(@tags, (@story.is_article? ? @story.article : @story))}
      - if @story.is_article?
        %div.bodyArticle= sanitize nl2br(@story.caption)
      - elsif @story.full_html?
        %div.bodyArticle= nl2br(@story.caption)
      - else
        %div.bodyArticle= sanitize caption(@story.caption, 500)
      - if @story.url.present?
        %div.float_left= link_to t('.read_story'), @story.url, :target => "_cts", :class => "btn"
    - if @story.media_item?
      = render_media_items @story, :size => 'large'
    = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_banner }
    = render :partial => 'shared/comments', :locals => { :comments => @story.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @story }
  = render :partial => 'shared/item_footer', :locals => { :item => @story,:title => @story.title }
  - if @story.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @story }
#col_right
  - cache "#{@story.cache_key}_sidebar_html" do
    = render :partial => 'shared/sidebar/bio', :locals => { :user => @story.user }
    = render :partial => 'shared/sidebar/other_posts', :locals => { :story => @story }
    = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_skyscraper }
    