#col_left
  = render :partial => 'shared/stories', :locals => {:contents => @contents, :paginate => @paginate }

#col_right
  = render :partial => 'shared/sidebar/top_stories', :locals => { :top_stories => @top_stories }
  = render :partial => 'shared/sidebar/top_discussed_stories'
  = render :partial => 'shared/sidebar/top_users', :locals => { :top_users => @top_users }
  = render :partial => 'shared/sidebar/newest_users', :locals => { :newest_users => @newest_users }
