- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/predictions_subnav'

#col_left
  - cache "#{@prediction_group.cache_key}_top_html" do
    #itemDetails.panel_2
      .topBar
        %ul
          %li
            %a== #{like_link @prediction_group} #{@prediction_group.votes_tally}
          %li
            %a== #{link_to t('comment'), prediction_group_path(@prediction_group, :anchor => "postCommentBox")} #{@prediction_group.comments_count}
          %li= fb_share_item_button(@prediction_group)
          %li
            = twitter_share_item_link @prediction_group, @prediction_group.title
          %li
            = render :partial => 'shared/add_this'
      .itemBlock
        .thumb
          - if @prediction_group.images.present?
            = image_tag @prediction_group.images.first.url(:medium)
        %h1= @prediction_group.title
        .itemMeta
          %h3= t('posted_by', :fb_name => local_linked_profile_name(@prediction_group.user), :date => timeago(@prediction_group.created_at))
          - if @prediction_group.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @prediction_group }
          - if @tags.present?
            %h3== Tags #{tag_list(@tags, @prediction_group)}
        - if @prediction_group.media_item?
          =render_media_items @prediction_group, :size => 'large'        
        - unless @prediction_group.description.empty?
          %p= sanitize @prediction_group.description
    = render_ad(:banner, @ad_layout, @ad_banner)
    -# expects prediction_group,
    - unless @prediction_group.prediction_questions.empty?    
      %ul
        - @prediction_group.prediction_questions.each do |question|
          -# todo - did user answer already?
          %li
            .generic.small
              .itemBlock          
                %h4= render :partial => 'shared/prediction_question', :locals => { :question => question }
      %br
    %p
      - unless @next_prediction_group.nil?
        = link_to t('predictions.next_topic'), prediction_group_path(@next_prediction_group), :class => "btn float_right"
      - unless @previous_prediction_group.nil?
        = link_to t('predictions.previous_topic'), prediction_group_path(@previous_prediction_group), :class => "btn float_right", :class => "btn"
    %br
    %br
    = render :partial => 'shared/comments', :locals => { :comments => @prediction_group.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @prediction_group }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => @prediction_group,:title => @prediction_group.title }
  - if @prediction_group.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @prediction_group }

#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/newest_prediction_groups', :locals => { :prediction_groups => @newest_prediction_groups }
  = render :partial => 'shared/sidebar/newest_prediction_questions', :locals => { :prediction_questions => @newest_prediction_questions }
  = render :partial => 'shared/sidebar/top_prediction_groups', :locals => { :prediction_groups => @top_prediction_groups }
  = render :partial => 'shared/sidebar/top_prediction_questions', :locals => { :prediction_questions => @top_prediction_questions }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
