-# expects 'comment => @comment'

%li
  .thumb
    - if comment.commentable.images.present?
      = image_tag comment.commentable.images.first.url(:thumb)
    - else
      = image_tag ('default/watermark.jpg', :width => "100%")
  .itemBlock
    %blockquote
      .quotes      
        %p= linked_comment_caption comment
    .profilePic= local_linked_profile_pic comment.user, :width => '30px', :height => '30px'    
    %h3
      = t('posted_by', :fb_name => local_linked_profile_name(comment.user), :date => timeago(comment.created_at || comment.date))
    %h3
      Re: 
      = link_to caption(comment.commentable.title,120), comment.commentable
    %span.btnComment== #{like_link comment.commentable} #{comment.commentable.votes_tally}
    %span.btnComment== #{link_to t('comments'), content_path(comment.commentable, :anchor => "commentListTop")} #{comment.commentable.comments_count}
