-# expects 'story => @story'

%li
  .thumb
    - if story.images.present?
      = image_tag story.images.first.url(:thumb)
    - else
      = image_tag ('default/watermark.jpg', :width => "100%")
  .itemBlock
    %h2= link_to story.title, story_path(story)
    %p= linked_story_caption story
    .profilePic= local_linked_profile_pic story.user
    .itemMeta
      %h3= t('posted_by', :fb_name => local_linked_profile_name(story.user), :date => timeago(story.created_at))
      %span.btnComment== #{like_link story} #{story.votes_tally}
      %span.btnComment== #{link_to t('comments'), story_path(story, :anchor => "commentListTop")} #{story.comments_count}
