- content_for :head_content do
  :javascript
    $(function() {
    	$('a.classifieds-refine').click(function(event) {
    		event.preventDefault();
    		$('.classifieds-filter').toggle()
      });
    });

.classifieds-filter{:style => "min-height: 100px; border: 1px solid black; display: block;"}
  %form{:action => classifieds_path}
    %ul{:style => "list-style: none"}
      %li
        Categories:
        = categories_select Classified
      -#%li
        Subcategories:
        = subcategories_select Classified
      -#%li
        Allow:
        = allow_type_select
      %li
        Listing Type:
        = listing_type_select
      -#%li
        Sort:
        = select_tag 'sort', options_for_select(['newest', 'most_discussed', 'votes_count', 'comments_count'].map {|s| [s.humanize, s]})
    %p
      Keyword:
      = text_field_tag 'keyword'
    %p
      = submit_tag "Filter"
