- content_for :head_content do
  :javascript
    $(function() {
    	$('a.classifieds-refine').click(function(event) {
    		event.preventDefault();
    		$('.classifieds-filter').toggle()
      });
    });

.panel-2.classifieds-filter.top-secondary-corners.bottom-secondary-corners
  %form{:action => classifieds_path}
    %ul
      %li
        %label 
          Category:
        = categories_select Classified
      -#%li
        %label 
          Subcategy:
        = subcategories_select Classified
      -#%li
        %label 
          Allow:
        = allow_type_select
      %li
        %label 
          Type:
        = listing_type_select
      -#%li
        %label 
          Sort:
        = select_tag 'sort', options_for_select(['newest', 'most_discussed', 'votes_count', 'comments_count'].map {|s| [s.humanize, s]})
      %li
        %label 
          Keyword:
        = text_field_tag 'keyword'
      %li
        = submit_tag "Search", :button_html => { :class => 'btn' }, :class => 'btn'
      .clearfix