- content_for :sub_nav do
  = render :partial => 'shared/subnav/idea_boards_subnav'

#col_left
  .panel_1
    .panelBar.clearfix
      %h2= @idea_board.name
    .subtitle
      %span= @idea_board.description
    .storyList
      .list_stories.clearfix
        %ul
          - @idea_board.ideas.each do |idea|
            %li.askQuestionWrap
              .storyBlockWrap
                %p.askQuestionHead= link_to idea.title, [@idea_board, idea]
                .profilePic= local_linked_profile_pic idea.user, :size => :square
                .storyBlockMeta
                  %p= t('.asked_by', :fb_name => local_linked_profile_name(idea.user), :date => time_ago_in_words(idea.created_at))
                  %p
                    %span.btn_left== #{like_link idea} #{idea.votes_tally}
                    %span.btn_mid== #{link_to t('.comments'), [@idea_board, idea]}
                    %span.btn_right= t('.share')
  - cache "#{@idea_board.cache_key}_bottom_html" do
    = render :partial => 'shared/item_footer', :locals => { :item => @idea_board,:title => @idea_board.name }

#col_right
  = render :partial => 'shared/sidebar/ideas_list', :locals => { :ideas => @top_ideas, :title => t('ideas.top_board_ideas', :name => @idea_board.name) }
  = render :partial => 'shared/sidebar/ideas_list', :locals => { :ideas => @newest_ideas, :title => t('ideas.newest_board_ideas', :name => @idea_board.name) }
