#subNav
  .tabs
    %ul#toggle_tabs_unused.toggle_tabs
      %li= link_to t('.browse_resources'), resources_path, :class => "tab #{ sub_tab_selected?(@current_sub_tab, 'Browse Resources')}"
      %li= link_to t('.suggest_resource'), new_resource_path, :class =>"tab #{sub_tab_selected?(@current_sub_tab, 'Suggest Resource')}" 
      - if current_user
        %li= link_to t('.my_resources'), my_resources_resource_path(:id => current_user), :class => "tab #{sub_tab_selected?(@current_sub_tab, 'My Resources')}"

