- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'subnav'

#col_left
  = render_ad(:banner, @ad_layout, @ad_banner)
  = render :partial => 'shared/resources', :locals => { :resources => @resources, :paginate => @paginate, :page => @page }

#col_right
  = render :partial => 'shared/sidebar/resources_whatisthis'
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/resource_sections_list', :locals => { :resource_sections => @newest_resource_sections }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('.top_resources') }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('.newest_resources') }
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Resource , :locale_var => 'popular_tags' }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
