- content_for :sub_nav do
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @slot_data }
  = render :partial => 'subnav'

#col_left
  = render :partial => 'shared/resources', :locals => { :resources => @resources, :title => t('.resources_title') }

#col_right
  = render :partial => 'shared/sidebar/resources_whatisthis'
  = render :partial => 'shared/sidebar/resource_sections_list', :locals => { :resource_sections => @newest_resource_sections }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('.top_resources') }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('.newest_resources') }
