- content_for :sub_nav do
  = render :partial => 'subnav'

#col_left
  #newIdea
    .panel_1
      .panelBar
        %h2 
          Add a new link
      .formBox
        %h4.title== What's your suggested link for #{APP_CONFIG['site_title']}?
        
        - semantic_form_for @resource do |form|
          - form.inputs do
            = form.input :title, :label => t('.label_title'),:hint =>t('.hint_title')
            = form.input :url, :label => t('.label_url'), :hint =>t('.hint_url')
            = form.input :resource_section, :required => true, :include_blank => false,:label => t('.label_section'),:hint => t('.hint_section')
            = form.input :details, :input_html => { :rows => 5 },:required => false, :label => t('.label_details'),:hint =>t('.hint_details')
            = form.input :mapUrl, :label => t('.label_map'), :hint =>t('.hint_map'),:required => false
            = form.input :twitterName, :label => t('.label_twitter'), :hint=>t('.hint_twitter'), :required => false
            = form.input :tags_string, :required => false, :label => t('tags'),:hint => t('tags_hint')
            = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @resource }
            = render :partial => 'shared/forms/wall_postable', :locals => { :form => form }            
          - form.buttons do
            = form.commit_button :label =>t('.label_create'), :button_html => { :class => 'btn'   } 

#col_right
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @ad_skyscraper }
