- content_for :sub_nav do
  = render :partial => 'subnav'

#col_left
  .list_stories.clearfix
    %ul
      %li
        .storyBlockWrap
          .profilePicLarger
            = local_linked_profile_pic @resource.user
          %p.storyHead= @resource.title
          %p.storyCaption= sanitize @resource.details
          .storyBlockMeta
            %h3= t('.posted_by', :fb_name => local_linked_profile_name(@resource.user), :date => time_ago_in_words(@resource.created_at))
            %p
              %span.btn_left== #{link_to t('.like'), like_resource_path(@resource, :return_to => resource_path(@resource)), :class => "voteLink"} #{@resource.votes.size}
              %span.btn_right= fb_share_button(resource_url(@resource))
            - if @tags.present?
              %h3== Tags #{tag_list(@tags,@resource)}
            - if @resource.moderatable?
              = render :partial => 'shared/flag_form', :locals => { :flaggable => @resource }
  - if @resource.media_item?
    = render_media_items @resource
  %br
  %br
  = render :partial => 'shared/ads_banner' ,:locals => { :slot_data => @slot_data }
  = render :partial => 'shared/comments', :locals => { :comments => @resource.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @resource }
  = render :partial => 'shared/item_footer', :locals => { :item => @resource, :title => @resource.title }


#col_right
