- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'subnav'

#col_left
  - cache "#{@resource.cache_key}_html" do
    #itemDetails.panel_2
      .topBar
        %ul
          %li
            %a==  #{like_link @resource} #{@resource.votes_tally}
          %li
            %a== #{link_to t('comment'), resource_path(@resource, :anchor => "postCommentBox")} #{@resource.comments_count}
          %li= fb_share_item_button(@resource)
          %li
            %a= twitter_share_item_link @resource, @resource.title
          %li
            = render :partial => 'shared/add_this'
      .itemBlock
        .thumb
          - if @resource.images.present?
            = image_tag @resource.images.first.url(:medium)
        %h1= @resource.title
        .itemMeta
          %h3
            = t('posted_by', :fb_name => local_linked_profile_name(@resource.user), :date => timeago(@resource.created_at))
            - if @resource.resource_section.present?
              = t('in')
              = link_to(@resource.resource_section.name, @resource.resource_section)
          - if @tags.present?
            %h3== #{tag_list(@tags,@resource)}
          - if @resource.moderatable?
            = render :partial => 'shared/flag_form', :locals => { :flaggable => @resource }
      %div.itemBlock= sanitize @resource.details
      - if @resource.url.present?
        %div.float_left= link_to t('.visit_url'), @resource.url, :target => "_resource", :class => "btn"
    - if @resource.media_item?
      = render_media_items @resource
    = render_ad(:banner, @ad_layout, @ad_banner)
    = render :partial => 'shared/comments', :locals => { :comments => @resource.comments }
  = render :partial => 'shared/comment_form', :locals => { :commentable => @resource }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => @resource, :title => @resource.title }
  - if @resource.moderatable?
    = render :partial => 'shared/moderate_form', :locals => { :moderatable => @resource }

#col_right
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/bio', :locals => { :user => @resource.user }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @resource, :related_items => @resource.related_items }
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @resource }
  = render :partial => 'shared/sidebar/resource_sections_list', :locals => { :resource_sections => @newest_resource_sections }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
