%h1 Settings Detail
%hr

%p== Key Type: #{@metadata.key_type}
%p== Key Name: #{@metadata.key_name}
- @metadata.data.each do |key, value|
  %p== #{key}: #{value}
%p== Created At: #{@metadata.created_at}

%p== Actions: #{link_to 'Settings', admin_settings_path} | #{link_to 'Edit', edit_admin_setting_path(@metadata)}
