- content_for :head_content do
  = stylesheet_link_tag 'cards'

  = javascript_include_tag cards_path(:format => 'js', :only_path => false)

- content_for :sub_nav do
  = render :partial => 'shared/subnav/cards_subnav'

.card-blocks{:style => "display: none;"}
  - @cards.each do |card|
    %div{:id => "block-card-link-#{card.id}"}
      = render :partial => 'card_dialog', :locals => { :card => card }
  -#%fb:js-string{:var => "card_loading_msg"}
    = t('cards.loading_message')

#col_left
  .cards_fancyTitle.cards_floatwide
    = image_tag 'cardGraphic.jpg', :width => '13', :height => '14'
    %span.cards_fancyTitleText= t('cards.send')
  #iconPane.cards_floatwide
    #thumbPanel
      - @cards.each do |card|
        = link_to image_tag(card.image_path, :title => card.name, :class => "cards_image"), polymorphic_url(card, :only_path => false), :id => "card-link-#{card.id}", :class => "card_link"
  .cards_pagerWrap.cards_floatwide
    .cards_pagerBar
      %b PAGE:
      %span.card_pagination_links
        = (@cards.size / 6.0).ceil.times.entries.map {|k| link_to k+1, '#'}.join(' | ').html_safe
  #selCardStage
    .cards_insideSelStage
      &nbsp;
      %b= t('cards.select_stage_text')
  %div{:style => "clear: both"}
  %br
  #card-request-box

#col_right
  = render :partial => 'shared/sidebar/top_sent_cards'
  = render :partial => 'shared/sidebar/newest_sent_cards'
