- content_for :head_content do
  = stylesheet_link_tag 'cards'

  :javascript
    $(function() {
      $('.cards_pagerBar a').click(function(event) {
        event.preventDefault();
        var pager_width = 486;
      	var page_links = $('.cards_pagerBar a');
        var page_count = page_links.length
      	var curr_page = $.indexOf(this, page_links.nodes) + 1;
        var new_x = pager_width - (curr_page * pager_width);
        $('#thumbPanel').animate({left: new_x});
      });

      $('.card_link').click(function(event) {
      	event.preventDefault();
      	$('.selCardStage').fbml(details[$(this).attr('id')]);
      	setShowLink();
      	setHideLink();
      });

      function setShowLink() {
        $('.showLink a').click(function(event) {
          event.preventDefault();
          var wrapper = $(this).parents().filter('.cards_displayCaption');
          //$(wrapper.children().filter('.cards_displayLongCaption')).animate({height: 'auto', width: 'auto', opacity: 1}, 'slow', 'blind', false).show();
          //$(wrapper.children().filter('.cards_displayLongCaption')).animate({opacity: 1}, 'slow', 'blind', false).show();
          var long_caption = wrapper.children().filter('.cards_displayLongCaption').nodes[0];
          var show_link = wrapper.children().filter('.showLink').nodes[0];
          var hide_link = wrapper.children().filter('.hideLink').nodes[0];
          Animation(long_caption).to('height', 'auto').from('0px').to('width', 'auto').from('auto').to('opacity', 1).from(0).show().blind().go();
          $(show_link).hide();
          $(hide_link).show();
          //$(foo).animate({height: 'auto', width: 'auto', opacity: 1}, 'slow', 'blind', false).show();
          //$(wrapper.children().filter('.cards_displayLongCaption')).animate({opacity: 1}, 2000).show();
          //$(wrapper.children().filter('.cards_displayLongCaption')).fadeIn();
          //Animation(wrapper.children().filter('.cards_displayLongCaption')).to('height', 'auto').from('0px').to('width', 'auto').from('0px').to('opacity', 1).from(0).blind().show().go();
        });
      }

      function setHideLink() {
        $('.hideLink a').click(function(event) {
          event.preventDefault();
          var wrapper = $(this).parents().filter('.cards_displayCaption');
          var long_caption = wrapper.children().filter('.cards_displayLongCaption').nodes[0];
          var show_link = wrapper.children().filter('.showLink').nodes[0];
          var hide_link = wrapper.children().filter('.hideLink').nodes[0];
          Animation(long_caption).to('height', '0px').to('width', '0px').to('opacity', 0).hide().go();
          $(show_link).show();
          $(hide_link).hide();
          //$(foo).animate({height: 'auto', width: 'auto', opacity: 1}, 'slow', 'blind', false).show();
          //$(wrapper.children().filter('.cards_displayLongCaption')).animate({opacity: 1}, 2000).show();
          //$(wrapper.children().filter('.cards_displayLongCaption')).fadeIn();
          //Animation(wrapper.children().filter('.cards_displayLongCaption')).to('height', 'auto').from('0px').to('width', 'auto').from('0px').to('opacity', 1).from(0).blind().show().go();
        });
      }

    });

- content_for :sub_nav do
  = render :partial => 'shared/subnav/cards_subnav'

- @cards.each do |card|
  %fb:js-string{:var => "details.card_#{card.id}"}
    = render :partial => 'card_dialog', :locals => { :card => card }

#col_left
  .cards_fancyTitle.cards_floatwide
    = image_tag 'cardGraphic.jpg', :width => '13', :height => '14'
    %span.cards_fancyTitleText= t('cards.send')
  #iconPane.cards_floatwide
    #thumbPanel
      - @cards.each do |card|
        = link_to image_tag(card.image_path, :title => card.name, :class => "cards_image"), card, :id => "card_#{card.id}", :class => "card_link"
  .cards_pagerWrap.cards_floatwide
    .cards_pagerBar
      %b PAGE:
      %span.card_pagination_links
        = (@cards.size / 6.0).ceil.times.entries.map {|k| link_to k+1, '#'}.join ' | '
  .selCardStage
    .cards_insideSelStage
      &nbsp;
      %b= t('cards.select_stage_text')
  .card_form
    %form
      %p
        %b To:
        = fb_multi_friend_input :width => "100%", :border_color => "#64B74D"
      %p
        %b Message:
        %br
        = t('cards.send_message_text')
        %br
        = text_area :card, :msg, :class => 'cards_textarea'

#col_right
  = render :partial => 'shared/sidebar/top_stories'
