- content_for :sub_nav do
  = render :partial => 'shared/subnav/cards_subnav'

- @paginate ||= false

#col_left
  .panel_2
    .panelBar
      %h2= t('cards.my_sent_title')
    .subtitle
      %span= t('cards.my_sent_subtitle')
    .itemListWrap
      .list_items
        %ul
          - @my_cards.each do |my_card|
            %li
              .thumb
                = image_tag my_card.card.image_path
              .itemBlock
                %h2= link_to my_card.card.name, card_path(my_card.card)
                %p= my_card.card.short_caption
                - if my_card.to_user
                  .profilePic= local_linked_profile_pic my_card.to_user
                - else
                  .profilePic= fb_profile_pic my_card.to_fb_user_id
                .itemMeta
                  - if my_card.to_user
                    %h3= t('cards.sent_to', :fb_name => local_linked_profile_name(my_card.to_user), :date => timeago(my_card.created_at))
                  - else
                    %h3= t('cards.sent_to', :fb_name => fb_name(my_card.to_fb_user_id), :date => timeago(my_card.created_at))
                  -#%span.btnComment== #{link_to t('.stories_like'), like_story_path(card.id), :class => "voteUp"} #{card.votes_tally}
                  -#%span.btnComment== #{link_to t('comments'), story_path(card, :anchor => "commentListTop")} #{card.comments_count}
    - if @paginate
      .clearfix
        = will_paginate @my_cards
        %br

#col_right
  = render :partial => 'shared/sidebar/top_sent_cards'
  = render :partial => 'shared/sidebar/newest_sent_cards'

