- content_for :head_content do
  = stylesheet_link_tag 'cards'

- content_for :sub_nav do
  = render :partial => 'shared/subnav/cards_subnav'

#col_left
  #selCardStage
    .cards_insideSelStage
      &nbsp;
      %b== #{local_linked_profile_name @sent_card.from_user} sent you the card "#{@sent_card.card.name}"
      .cards_displayOuter
        .cards_displayImage= image_tag @sent_card.card.image_path, :class => 'cards_thumb'
        .cards_displayCaption
          %span.cards_displayCaptionSpan= @sent_card.card.short_caption
          %br
          - if @sent_card.card.long_caption.present?
            .long_text= @sent_card.card.long_caption

#col_right
  = render :partial => 'shared/sidebar/top_sent_cards'
  = render :partial => 'shared/sidebar/newest_sent_cards'
