.answer.large
  %blockquote
    .quotes= nl2br linkify(answer.answer)
  .itemBlock
    .profilePic= local_linked_profile_pic answer.user
    .itemMeta
      %h3= t('answered_by', :fb_name => local_linked_profile_name(answer.user), :date => timeago(answer.created_at))
      %span.btnComment.btn_left== #{like_link answer} #{answer.votes.size}
      %span.btnComment.btn_mid= link_to answer_comments_translate(answer.comments.size), '#', :class => 'answer_comments_link'
  - if show_comments.present?
    %br
    .clearfix
    = render :partial => 'shared/comments', :locals => { :comments => answer.comments }
    = render :partial => 'shared/comment_form', :locals => { :commentable => answer }
  