- content = article.is_a?(Article) ? article.content : article
.article.large
  .thumb
    - if content.images.present?
      = image_tag content.images.first.url(:thumb)
    - else
      = image_tag ('default/watermark.jpg')
  .itemBlock
    %h2= link_to content.title, story_path(content)
    %p.storyCaption= linked_story_caption content
    .profilePic= local_linked_profile_pic content.user
    .itemMeta
      %h3= t('.stories_posted_by', :fb_name => local_linked_profile_name(content.user), :date => time_ago_in_words(content.created_at))
      %span.btnComment== #{like_link content} #{content.votes_tally}
      %span.btnComment== #{link_to t('comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count}
