- content = article.is_a?(Article) ? article.content : article
.blog
  .itemBlock
    %h2= link_to content.title, story_path(content)
    %h3= t('posted_by', :fb_name => local_linked_profile_name(content.user), :date => timeago(content.created_at))
    .itemContent
      - if content.images.present?
        .thumb
          = image_tag content.images.first.url(:thumb)
      - else
        .thumb{:style =>"display: none"}
          = image_tag ('default/watermark.jpg')
      %p
        - unless content.article.preamble.nil? or content.article.preamble.empty?
          = content.article.preamble
        - else
          = content.caption
    .itemMeta
      %span.btnComment== #{like_link content} #{content.votes_tally}
      %span.btnComment== #{link_to t('comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count}
      - if content.article.preamble_complete
        %span.btnComment== #{link_to t('articles.permalink'), story_path(content)} 
      - else
        %span.btnComment== #{link_to t('articles.read_full'), story_path(content)} 