- content = article.is_a?(Article) ? article.content : article
.article.large
  .itemBlock
    .thumb.article-list
      - if content.images.present?
        = image_tag content.images.first.url(:thumb)
      - else
        = image_tag ('default/watermark.jpg')
    %h2= link_to content.title, story_path(content)
    .preamble
      = content.article.preamble
    .itemMeta
      .profilePic.float_left= local_linked_profile_pic content.user
      %h3= t('posted_by', :fb_name => local_linked_profile_name(content.user), :date => time_ago_in_words(content.created_at))
      %span.btnComment== #{like_link content} #{content.votes_tally}
      %span.btnComment== #{link_to t('comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count}
      %span.btnComment== #{link_to t('permalink'), story_path(content)} 
