.content.large
  .thumb
    - if content.images.present?
      = image_tag content.images.first.url(:thumb)
  .itemBlock
    %h2= link_to content.title, story_path(content)
    %p= linked_story_caption content
    .profilePic= local_linked_profile_pic content.user
    .itemMeta
      %h3= t('posted_by', :fb_name => local_linked_profile_name(content.user), :date => timeago(content.created_at))
      %span.btnComment== #{like_link content} #{content.votes_tally}
      %span.btnComment== #{link_to t('.stories_comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count}
