- if content.images.present?
  .item-with-image
    .item-thumb
      %a= image_tag content.images.first.url(:thumb)
    .item-text
      %h3= link_to content.title, story_path(content)
    .meta-data
      .profilePic= local_linked_profile_pic content.user
      %h6= t('posted_by', :fb_name => local_linked_profile_name(content.user), :date => timeago(content.created_at))
      %h6 
        %span.count== #{like_link content} #{content.votes_tally}
        %span.count== #{link_to t('comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count}
- else
  .item-with-no-image
    .item-text
      %h3= link_to content.title, story_path(content)
    .meta-data
      .profilePic= local_linked_profile_pic content.user
      %h6= t('posted_by', :fb_name => local_linked_profile_name(content.user), :date => timeago(content.created_at))
      %h6 
        %span.count== #{like_link content} #{content.votes_tally}
        %span.count== #{link_to t('comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count}