.event.large
  .eventBlock
    .eventDetailsBlock
      .itemBlock
        %h4
          -# %span.tag
          -# could be used to show type of event e.g. Lecture, Party, etc.                    
          = link_to event.name, event_path(event)
        .profilePic= local_linked_profile_pic event.user, :size => :square
        .itemMeta
          %h3= t('posted_by', :fb_name => local_linked_profile_name(event.user), :date => timeago(event.created_at))                  
          %span.btnComment== #{like_link event} #{event.votes_tally}
          %span.btnComment== #{link_to t('.events_comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}
    .eventLocationBlock
      %ul
        %li 
          %b== #{event.location}
        %li
          == #{event.start_time.to_s :short_with_time}
          - unless @event.end_time.nil?
            == - #{@event.end_time.to_s :short_time}