-# expects: local 'item, index'
- if index == 0
  .featured
    %div{:class => "item_1 event"}
      .thumb
        - if item.images.present?
          = image_tag item.images.first.url(:thumb)
        -else
          = image_tag ('default/watermark.jpg')
      .itemBlock
        %h2
          %span.ellipsis_title_2
            = link_to item.item_title, path_to_self(item.item_link),{ :class => 'ellipsis_text'}
        .itemMeta
          %h3
            = t('events.place', :place => item.location)
          %h3
            = t('events.start_time', :start_time => item.start_time.to_s(:short_with_time) )
        .itemMeta
          %span.btnComment== #{link_to t('comments'), polymorphic_url(item.item_link, :anchor => "commentListTop")} #{item.comments_count}
          %span.btnComment== #{like_link item.item_link} #{item.votes_tally}
- else
  .item_2
    .item_block
      %h4= link_to item.item_title, path_to_self(item.item_link)
      .itemMeta
        %h3
          = t('events.place', :place => item.location)
        %h3
          = t('events.start_time', :start_time => item.start_time.to_s(:short_with_time) )
      