-# expects: local 'item, index' optional thumb_type
- model_name = item.class.name.underscore
- thumb_type = thumb_type || "profile"
- index = index || 0
- if index == 0
  .featured
    %div{:class => "item_2 #{model_name}"}
      .itemBlock
        %p.ellipsis_caption_3
          %span.ellipsis_text
            = item.item_description
        .itemMeta
          .profilePic= local_linked_profile_pic item.user
          %h3= t('asked_by', :fb_name => local_linked_profile_name(item.user), :date => timeago(item.created_at))
          %h3
            = link_to item.item_title, path_to_self(item.item_link)
- else
  .item_2
    .itemBlock
      %h4
        = link_to item.item_title, path_to_self(item.item_link)