-# expects: local 'item, index' optional thumb_type
- model_name = item.class.name.underscore
- thumb_type = thumb_type || "item_image"
- if model_name == "article"
  - item = item.content
- if index == 0
  .featured
    %div{:class => "item_1 #{model_name}"}
      .thumb
        - if thumb_type.present? and thumb_type == 'profile'
          .profilePic= local_linked_profile_pic item.user
          -# , :width => '30px', :height => '30px'
        - else
          - if item.images.present?
            = image_tag item.images.first.url(:thumb)
          -else
            = image_tag ('default/default_thumb.gif')
      .itemBlock
        %h2
          = link_to item.item_title, path_to_self(item.item_link)
        .itemMeta
          %span.btnComment== #{link_to t('comments'), polymorphic_url(item.item_link, :anchor => "commentListTop")} #{item.comments_count}
          %span.btnComment== #{like_link item.item_link} #{item.votes_tally}
- else
  .item_2
    .item_block
      %h4= link_to item.item_title, path_to_self(item.item_link)