- canvas_preference ||= false
- external_widget ||= external_widget
- item_type ||= 'topic'
.generic.small
  .profilePic.margins= local_linked_profile_pic item.user
  .itemBlock
    - unless external_widget
      %h4= link_to item.title, path_to_self(item)
    - else
      %h4= link_to item.title, path_to_self(item, canvas_preference), :target => "_top"
    .itemMeta
      - if item_type == 'topic'
        %h3= t('posted_by_in_topic', :fb_name => local_linked_profile_name(item.user), :topic => item.forum.item_title)
      - elsif item_type == 'prediction'
        %h3= t('posted_by_in_topic', :fb_name => local_linked_profile_name(item.user), :topic => item.prediction_group.item_title)
      - else
        %h3= t('posted_by', :fb_name => local_linked_profile_name(item.user), :date => timeago(item.created_at))
      
      