.question.large
  .thumb
    - if question.images.present?
      = image_tag question.images.first.url(:thumb)
    - else
      = image_tag ('default/default_thumb_b.gif')
  .storyBlockWrap.storyBlockSpacer
    %h2.storyHead= link_to question.question, question
    %p.storyCaption= linked_item_details question
    .profilePic= local_linked_profile_pic question.user
    .storyBlockMeta.float_left
      %h3= t('asked_by', :fb_name => local_linked_profile_name(question.user), :date => time_ago_in_words(question.created_at))
      %span.btnComment.float_left== #{like_link question} #{question.votes.size}
      %span.btnComment.float_left== #{link_to answer_translate(question.answers.count), question_path(question, :anchor => "commentListTop")}
      %span.btnComment.float_left= fb_share_item_button question

