.content.small
  .itemBlock
    %h4= link_to content.title, content_path(content)
    .profilePic= local_linked_profile_pic content.user
    .itemMeta
      %h3= t('posted_by', :fb_name => local_linked_profile_name(content.user), :date => timeago(content.created_at))
      %span.btnComment== #{like_link content} #{content.votes_tally}
      %span.btnComment== #{link_to t('comments'), content_path(content, :anchor => "commentListTop")} #{content.comments_count}
