.event.small
  .itemBlock
    %h4= link_to event.name, event_path(event)
    .profilePic= local_linked_profile_pic event.user
    .complexBlockMeta
      %h3= generic_posted_by event
      %span.btnComment== #{like_link event} #{event.votes_tally}
      %span.btnComment== #{link_to t('comments'), event_path(event, :anchor => "commentListTop")} #{event.comments_count}
