.idea.small
  .itemBlock
    %h4= link_to idea.title, idea_path(idea)
    .profilePic= local_linked_profile_pic idea.user
    .itemMeta
      %h3= t('posted_by', :fb_name => local_linked_profile_name(idea.user), :date => timeago(idea.created_at))
      %span.btnComment== #{like_link idea} #{idea.votes_tally}
      %span.btnComment== #{link_to t('comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}