.gallery.small
  .itemBlock
    %h4= link_to gallery.title, gallery_path(gallery)
    .profilePic= local_linked_profile_pic gallery.user
    .itemMeta
      %h3= generic_posted_by gallery
      %span.btnComment== #{like_link gallery} #{gallery.votes_tally}
      %span.btnComment== #{link_to t('galleries.item_count', :count => gallery.gallery_items.count), gallery_path(gallery)}
