.answer.small
  .itemBlock
    %h4= link_to caption(answer.answer,80), question_path(answer.question)
    .profilePic= local_linked_profile_pic answer.user
    .itemMeta
      %h3= t('answered_by', :fb_name => local_linked_profile_name(answer.user), :date => timeago(answer.created_at))
      %span.btnComment== #{like_link answer} #{answer.votes_tally}
      %span.btnComment== #{link_to answer_comments_translate(answer.comments_count), question_path(answer.question, :anchor => "commentListTop")}
