.forum_topic
  .itemBlock
    %h2= link_to topic.title, topic.item_link
    %p= caption topic.item_description
    .profilePic= local_linked_profile_pic topic.user
    .itemMeta
      %h3= t('.posted_by', :fb_name => local_linked_profile_name(topic.user), :date => timeago(topic.created_at))
      -#%span.btnComment== #{like_link topic} #{topic.votes_tally}
      %span.btnComment== #{link_to t('comments'), topic.item_link} #{topic.comments_count}
