.itemBlock
  %h4= link_to item.title, content_path(item, :only_path => false)
  .profilePic= local_linked_profile_pic(item.article.author,:only_path => false, :width => "30", :height => "30")
  %h3= t('posted_by', :fb_name => local_linked_profile_name(item.article.author, :only_path => false), :date => timeago(item.created_at))
  %span.btnComment== #{link_to t('comments'), content_path(item, :only_path => false, :anchor => "commentListTop")} #{item.comments_count}  
