- canvas_preference ||= false
.itemBlock
  %h4= link_to item.title, content_path(item, :only_path => false, :canvas => canvas_preference), :target => "_top"
  .profilePic= local_linked_profile_pic(item.user, :only_path => false, :target => "_top", :canvas => canvas_preference)
  %h3= t('posted_by', :fb_name => local_linked_profile_name(item.user, :only_path => false, :target => "_top", :canvas => canvas_preference), :date => timeago(item.created_at)).html_safe
  %span.btnComment== #{link_to t('comments'), content_path(item, :only_path => false, :anchor => "commentListTop", :canvas => canvas_preference), :target => "_top"} #{item.comments_count}  
