#col_left
  .panel_2
    .panelBar
      %h2= t('galleries.new')
    .formBox
      - unless current_user.present?
        %p== #{t 'galleries.logged_in_error'} #{link_to 'Login now', login_path}
      - else
        - semantic_form_for @gallery do |form|
          - form.inputs do
            = form.input :title
            = form.input :description, :input_html => { :rows => 5 }
            = form.input :is_public, :required => false, :hint => t('galleries.public_hint')
            = form.input :tag_list, :label => t('tags'), :required => false, :hint => t('tags_hint')
            = render :partial => 'shared/forms/wall_postable', :locals => { :form => form }
          - @gallery.gallery_items.build if @gallery.gallery_items.empty?
          - form.semantic_fields_for :gallery_items do |item_form|
            -# TODO:: get style working for <legend> in <fieldset>
            -# item_form.inputs :id => "gallery-items-fieldset" do
            - item_form.inputs :id => "gallery-items-fieldset", :title => "Gallery Items" do
              = item_form.input :item_url, :hint => t('galleries.item_url_hint')
              = add_gallery_item_simple(form)
          - form.buttons do
            = form.commit_button  :class => 'float_right', :button_html => { :class => "btn" }

#col_right
  = render :partial => 'shared/sidebar/newest_galleries'
  = render :partial => 'shared/sidebar/top_galleries'
