- form.inputs do
  = form.input :name
  = form.input :email
  = form.input :is_admin
  = form.input :is_moderator
  = form.input :is_blocked
  = form.input :cached_slug
  = form.input :karma_score
%br
