- content_for :sub_nav do
  = render :partial => 'shared/subnav/resource_sections_subnav'

#col_left
  .panel_2
    .panelBar.clearfix
      %h2= @resource_section.name
      %span.bar_link= fb_share_item_button(@resource_section)
    .subtitle
      %span= @resource_section.description
    .itemListWrap
      .list_items
        %ul
          - @resource_section.resources.each do |resource|
            %li{'data-id' => resource.cache_key}
              .thumb
                - if resource.images.present?
                  = image_tag resource.images.first.url(:thumb)
                - else
                  = image_tag ('default/watermark.jpg')
              .itemBlock
                %h2= link_to resource.title, [@resource_section, resource]
                %p= linked_item_details resource
                .profilePic= local_linked_profile_pic resource.user
                .itemMeta
                  %h3= t('posted_by', :fb_name => local_linked_profile_name(resource.user), :date => timeago(resource.created_at))
                  %span.btnComment== #{like_link resource} #{resource.votes_tally}
                  %span.btnComment== #{link_to t('comments'), [@resource_section, resource]} #{resource.comments_count}
                  %span.btnComment= fb_share_item_button(resource)

  = render :partial => 'shared/index_footer', :locals => { :index_path => resource_section_path(:only_path => false, :canvas => iframe_facebook_request?), :title => @resource_section.name }
                  
#col_right
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('resources.top_resource_sections', :name => @resource_section.name) }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('resources.newest_resource_sections', :name => @resource_section.name) }
  = render :partial => 'shared/sidebar/resource_sections_list', :locals => { :resource_sections => @newest_resource_sections }
