- content_for :sub_nav do
  = render :partial => 'shared/subnav/resource_sections_subnav'

#col_left
  .panel_1
    .panelBar.clearfix
      %h2= @resource_section.name
    .subtitle
      %span= @resource_section.description
    .storyList
      .list_stories.clearfix
        %ul
          - @resource_section.resources.each do |resource|
            %li.askQuestionWrap
              .storyBlockWrap
                %p.askQuestionHead= link_to resource.title, [@resource_section, resource]
                .profilePic= local_linked_profile_pic resource.user, :size => :square
                .storyBlockMeta
                  %p= t('.asked_by', :fb_name => local_linked_profile_name(resource.user), :date => time_ago_in_words(resource.created_at))
                  %p
                    %span.btn_left== #{link_to t('.like'), like_resource_path(resource.id), :class => "voteLink"} #{resource.votes_tally}
                    %span.btn_mid== #{link_to t('.comments'), [@resource_section, resource]}
                    %span.btn_right= t('.share')

#col_right
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('resources.top_resource_sections', :name => @resource_section.name) }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('resources.newest_resource_sections', :name => @resource_section.name) }
