- content_for :head do
      
  :javascript
    $(function() {
    	var widget_data = {
    		section1: {
    			primary: null,
    			secondary1: null,
    			secondary2: null
        }, section2: {
    			primary: null,
    			secondary1: null,
    			secondary2: null
        }, section3: {
    			primary: null,
    			secondary1: null,
    			secondary2: null
        }, section4: {
    			primary: null,
    			secondary1: null,
    			secondary2: null
        }, section5: {
    			primary: null,
    			secondary1: null,
    			secondary2: null
        }, section6: {
    			primary: null,
    			secondary1: null,
    			secondary2: null
        },
        template: null
      };

      $('.template').click(function(event) {
        if ($(this).attr('id').match(/^template_10/)) {
        //  alert("At this time template 11 is disabled. Check back soon. (You selected "+$(this).attr('id')+")");
        //  return false;
        }
      	var url = "/admin/featured_items/"+$(this).attr('id')+"/load_template";
      	$('#content').load(url, {}, function(responseText, textStatus, XMLHttpRequest) {
      		$('#section-1-primary, #section-1-secondary1, #section-1-secondary2, #section-2-primary, #section-2-secondary1, #section-2-secondary2,#section-3-primary, #section-3-secondary1, #section-3-secondary2,#section-4-primary, #section-4-secondary1, #section-4-secondary2,#section-5-primary, #section-5-secondary1, #section-5-secondary2,#section-6-primary, #section-6-secondary1, #section-6-secondary2,').droppable({
      			accept: 'li.ui-widget-content',
      			activeClass: 'ui-state-hover',
      			hoverClass: 'ui-state-active',
      			drop: function(event, ui) {
              var section = false;
              var box = false;
      				if ((match = $(this).attr('id').match(/^(section-[0-9]+)-(.*)$/)) !== null) {
      					if (match[1] == 'section-1') {
      						section = 'section1';
                } else if (match[1] == 'section-2') {
                	section = 'section2';
                } else if (match[1] == 'section-3') {
                	section = 'section3';
                } else if (match[1] == 'section-4') {
                	section = 'section4';
                } else if (match[1] == 'section-5') {
                	section = 'section5';
                } else if (match[1] == 'section-6') {
                	section = 'section6';
                } else {
                	return false;
                }
                if (match[2] == 'primary') {
                	box = match[2];
                } else if (match[2] == 'secondary1') {
                	box = match[2];
                } else if (match[2] == 'secondary2') {
                	box = match[2];
                } else {
                	return false;
                }
              } else {
              	return false;
              }
              $(this).addClass('dropped').removeClass('drop-error');
              widget_data[section][box] = ui.draggable.attr('id');
              widget_data.template = $(this).parent().parent().attr('id');
      				$('#'+section+'-'+box+'-title').html("<h1>"+$('h5', ui.draggable).text()+"</p>");
      				if (box == 'primary') {
      				  $(this).html('<img src="'+$('img', ui.draggable).attr('src')+'" />');
              }
      				//$('#section-1-primary').append('<img src="'+$('img', ui.draggable.parent()).attr('src')+'" />');
            }
          });
      		$('#items').html("<p>Loading items...</p>");
      		$.get('/admin/featured_items/contents/load_items', null, null, 'script');
      	});
      });

      $('#featured-items-select').live('change', function() {
      	var type = $('option:selected', this).val();
      	$.get('/admin/featured_items/'+type+'/load_items', null, null, 'script');
      });

      $('#items ul a').live("click", function() { return false; });
      $('#items .pagination a').live("click", function(event) {
      	event.preventDefault();
      	var url = this.href.replace(/^(.+load_items\/)([0-9]+).*$/, "$1page/$2");
      	$(this).parent().html("Loading items...");
      	$.get(url, null, null, 'script');
      });

    	$('#save-button')
    	  .live('mousedown', function() {
        	$(this).addClass('ui-state-active');
        }).live('mouseup', function() {
    	  	$(this).removeClass('ui-state-active');
        }).live('click', function() {
        	var error_count = 0;
        	$.each($('.ui-droppable'), function(index, value) {
        		var item = $(value);
        		if ( ! item.hasClass('dropped') ) {
        			error_count += 1;
        			item.addClass('drop-error');
            }
          });
          if (error_count > 0) {
          	alert('You are missing '+error_count+' items in this featured template. Please drag items for all boxes in this template');
          } else {
            $.post("/admin/featured_items/save.json", {featured_items: JSON.stringify(widget_data)}, function(data) {
              if (typeof(data.success) !== 'undefined') {
                alert(data.success);
              } else {
                alert('There was a problem saving your page');
              }
            }, "json");
          }
        }
      );
    });

#content
  %h2 Select the template you would like to use:
  .featured-item-templates
    .template-column
      .template#template_1
        = image_tag "featured/template_1.jpg"
      .template#template_3
        = image_tag "featured/template_3.jpg"
      .template#template_5
        = image_tag "featured/template_5.jpg"
      .template#template_7
        = image_tag "featured/template_7.jpg"
      .template#template_2
        = image_tag "featured/template_2.jpg"
    .template-column
      .template#template_9
        = image_tag "featured/template_9.jpg"
      .template#template_32
        = image_tag "featured/template_32.jpg"
      .template#template_52
        = image_tag "featured/template_52.jpg"
      .template#template_6
        = image_tag "featured/template_6.jpg"
      .template#template_8
        = image_tag "featured/template_8.jpg"
      -#.template#template_4
        = image_tag "featured/template_4.jpg"
    .template-column
      #featured-items-selector
        -# %p Items Loader
