#content
  #admin-actions
    = link_to 'Return to template selector', admin_featured_items_path
    %button#save-button.admin-btn.float_right{:type => "button"} Save Featured Stories

- case @template_id
  - when "template_1"
    %h2 Template Builder for Template 1
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_1.jpg'

      #template_1.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop Primary Item 1 Here
          #section1-primary-title
  - when "template_2"
    %h2 Template Builder for Template 2
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_2.jpg'

      #template_2.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop Primary Item 1 Here
          #section-1-secondary1.secondary-drop.clear
            %p Drop Secondary Item 1 Here
            .clear
          #section-1-secondary2.secondary-drop
            %p Drop Secondary Item 2 Here
            .clear
        #section1-primary-title
        #section1-secondary1-title
        #section1-secondary2-title
  - when "template_3"
    %h2 Template Builder for Template 3
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_3.jpg'

      #template_3.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop Primary Item 1 Here
          #section-2-primary.primary-drop
            %p Drop Primary Item 2 Here
            .clear
        #section1-primary-title
        #section2-primary-title
  - when "template_4"
    %h2 Template Builder for Template 4
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_4.jpg'

      #template_4.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop Primary Item 1 Here
          #section-2-primary.primary-drop
            %p Drop Primary Item 2 Here
            .clear
        #section1-primary-title
        #section2-primary-title
  - when "template_5"
    %h2 Template Builder for 3 Pic Skybox
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_5.jpg'

      #template_5.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop First Item
            .clear
          #section-2-primary.primary-drop
            %p Drop Second Item
            .clear
          #section-3-primary.primary-drop
            %p Drop Third Item
            .clear
        #section1-primary-title
        #section2-primary-title
        #section3-primary-title
  - when "template_6"
    %h2 Template Builder for Template 6
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_6.jpg'

      #template_6.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop Primary Item 1 Here
          #section1-primary-title
  - when "template_7"
    %h2 Template Builder for Skyboxes
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_7.jpg'

      #template_7.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop First Item
            .clear
          #section-2-primary.primary-drop
            %p Drop Second Item
            .clear
          #section-3-primary.primary-drop
            %p Drop Third Item
            .clear
          #section-4-primary.primary-drop
            %p Drop Fourth Item
            .clear
        #section1-primary-title
        #section2-primary-title
        #section3-primary-title
        #section4-primary-title
  - when "template_8"
    %h2 Large one pic headline
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_8.jpg'

      #template_8.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop Primary Item 1 Here
          #section1-primary-title
  - when "template_9"
    %h2 Scrollable version of template1
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_1.jpg'

      #template_9.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop First Item
            .clear
          #section-2-primary.primary-drop
            %p Drop Second Item
            .clear
          #section-3-primary.primary-drop
            %p Drop Third Item
            .clear
          #section-4-primary.primary-drop
            %p Drop Fourth Item
            .clear
          #section-5-primary.primary-drop
            %p Drop Fifth Item
            .clear
          #section-6-primary.primary-drop
            %p Drop Sixth Item
            .clear
        #section1-primary-title
        #section2-primary-title
        #section3-primary-title
        #section4-primary-title
        #section5-primary-title
        #section6-primary-title
  - when "template_32"
    %h2 Scrollable version of template1
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_3.jpg'

      #template_32.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop First Item
            .clear
          #section-2-primary.primary-drop
            %p Drop Second Item
            .clear
          #section-3-primary.primary-drop
            %p Drop Third Item
            .clear
          #section-4-primary.primary-drop
            %p Drop Fourth Item
            .clear
          #section-5-primary.primary-drop
            %p Drop Fifth Item
            .clear
          #section-6-primary.primary-drop
            %p Drop Sixth Item
            .clear
        #section1-primary-title
        #section2-primary-title
        #section3-primary-title
        #section4-primary-title
        #section5-primary-title
        #section6-primary-title
  - when "template_52"
    %h2 Scrollable version of template5
    .template-builder-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
      = image_tag 'featured/template_5.jpg'

      #template_52.template-builder
        .drop-zone
          #section-1-primary.primary-drop
            %p Drop First Item
            .clear
          #section-2-primary.primary-drop
            %p Drop Second Item
            .clear
          #section-3-primary.primary-drop
            %p Drop Third Item
            .clear
          #section-4-primary.primary-drop
            %p Drop Fourth Item
            .clear
          #section-5-primary.primary-drop
            %p Drop Fifth Item
            .clear
          #section-6-primary.primary-drop
            %p Drop Sixth Item
            .clear
        #section1-primary-title
        #section2-primary-title
        #section3-primary-title
        #section4-primary-title
        #section5-primary-title
        #section6-primary-title        
  
.template-item-selector-column.ui-widget.ui-widget-content.ui-corner-all.ui-droppable
  %h2 Items
  = select_tag 'featured-items-select', options_for_select(@featurables)
  #items