!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    - title = (out = yield(:title)) ? "#{out} - #{APP_CONFIG['site_title']}" : APP_CONFIG['site_title']
    %title= title
    %meta{:name => 'title', :content => title}
    - if get_setting('google-site-verification').present?
      %meta{:name => 'google-site-verification', :content => "#{get_setting('google-site-verification').value}"}
    - if get_setting('yahoo-site-verification').present?
      %meta{:name => 'y_key', :content => "#{get_setting('yahoo-site-verification').value}"}
    %meta{:name => 'description', :content => (out = yield(:meta_description)) ? out : ""}
    %meta{:name => 'medium', :content => 'news'}
    %link{:rel  => "image_src", :content => (out = yield(:meta_image)) ? out : base_url('/images/default/icon-fan-app.gif')}
    
    - if iframe_facebook_request?
      = stylesheet_link_tag 'compiled/fb_grid.css', :media => 'screen, projection'
    - else
      = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = stylesheet_link_merged :base

    - if APP_CONFIG['typekit'].present? and APP_CONFIG['typekit']
      = javascript_include_tag "http://use.typekit.com/#{APP_CONFIG['typekit']}.js"
      :javascript
        try{Typekit.load();}catch(e){}
          
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js', "http://platform.twitter.com/anywhere.js?id=#{get_setting('oauth_key').value}&v=1"
    = javascript_include_merged :base

    = javascript_include_tag 'application'
    - if iframe_facebook_request?
      = javascript_include_tag '/iframe/users/current'
    - else
      = javascript_include_tag '/users/current'

    - unless @sponsor_zone_code.nil?
      = javascript_include_tag 'http://ads.trafficspaces.net/v1.22/adservice.js'
      :javascript
        $(function() {
          TS_AdService.FetchAds();
        });

    :javascript
      $(function() {
        var audio = $('#audioplayer_1');
        if (audio) {
          AudioPlayer.setup("#{APP_CONFIG['base_url']}" + "/swfs/audio_player.swf", {
            width: 290
          });
        }
      });

      $(function() {
      	$('.left').removeClass('left');
      	$('.right').removeClass('right');
      	var runMasonry = function() {
          $('#col_full').masonry({
            columnWidth: #{iframe_facebook_request? ? 250 : 313},
            itemSelector: '.box'
          });
        };
        /* MAKE DAMN WELL SURE THIS RUNS IN FACEBOOK */
        runMasonry();
        setTimeout(function() { runMasonry(); }, 1000);
        setTimeout(function() { runMasonry(); }, 3000);
        setTimeout(function() { runMasonry(); }, 5000);
        window.onload = function() { runMasonry(); };
        /* </annoying_facebook_hack> */
      });

    -# IE Debugging 
    =# javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'

    = auto_discovery_link_tag(:atom, @auto_discovery_rss)

    = yield :head_content
              
    - stream_post = build_app_stream_post
    :javascript
      $(function() {
        $('.app-share-button').click(function(event) {
          event.preventDefault();
          #{fb_connect_stream_publish(stream_post, t('facebook_share') )}
        });
      });

  %body
    #bodyWrapper
      = fb_connect_javascript_tag
      - if @share_item
        - init_fb_connect "XFBML", :js => :jquery do
          = fb_connect_stream_publish(build_stream_post(@share_item), t('facebook_share'))
      - else
        = init_fb_connect "XFBML", :js => :jquery

      = render :partial => 'shared/header'
      = flash_messages

      = yield :sub_nav

      = yield
      
      = render :partial => 'shared/footer'
    -# Move these out of the footer, they can't be in a wrapper class... oh IE how I loathe thee
    #overlay.standard_overlay
      .contentWrap
    #login-overlay.standard_overlay
      .contentWrap
 

    = render :partial => 'shared/google_analytics'

    - if iframe_facebook_request?
      <!-- Note: Include this div markup as a workaround for a known bug in this release on IE where you may get a "operation aborted" error -->
      <div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div>

      <script type="text/javascript"> FB_RequireFeatures(["CanvasUtil"], function(){ FB.XdComm.Server.init('/xd_receiver.html'); FB.CanvasClient.startTimerToSizeToContent(); }); </script>

    -# HACK:: non floating div eliminates webkit resizing issues with facebook javascript
    %div{:style => "clear: both;"}
