%fb:fbml
  = fb_title ((title = yield(:title)) ? title : APP_CONFIG['site_title'])

  = stylesheet_link_tag 'compiled/fb_grid'

  %style
    :sass
      .moderator-links
        display: none !important
      .admin-links
        display: none !important

  %script
    == var SITE_URL = "#{APP_CONFIG['fb_ajax_url']}";
  = fb_jqjs_library
  = javascript_include_tag 'application.fbjs'

  = fb_connect_javascript_tag
  = init_fb_connect "XFBML"

  =# javascript_include_tag current_users_path(:canvas => false, :only_path => false, :t => Time.now.to_i, :format => 'js')
  =# javascript_include_tag '/users/current.fbml'
  = javascript_include_tag "/users/current.fbml?#{Time.now.to_i}"

  = render :partial => 'shared/header'
  #appFrame
    = display_facebook_messages
    = yield :sub_nav
    = yield
  = render :partial => 'shared/footer'
  = render :partial => 'shared/fb_strings'

  - if APP_CONFIG['google_analytics_account_id'].present?
    = fb_google_analytics APP_CONFIG['google_analytics_account_id'], :udn => 'none', :ulink => 1
