!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = stylesheet_link_tag 'cards'

    = javascript_include_tag 'jquery.min', 'jquery.ui.min', 'jquery.jcarousel.pack', 'jquery.quicksand.min', 'application'
    = javascript_include_tag '/users/current'

    = auto_discovery_link_tag(:atom, stories_path(:format => :atom))
    %style
      :sass
        .moderator-links
          display: none !important
        .admin-links
          display: none !important

    = yield :head_content

  %body
    #bodyWrapper
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML", :js => :jquery
      = render :partial => 'shared/header'
      = flash_messages
      -# if flash[:error].present? || flash[:success].present? || flash[:notice].present?
        .flash{:style => "border: 1px solid black;"}
        - if flash[:error]
          %p= flash[:error]
        - else
          %p= (flash[:success] || flash[:notice])

      = yield :sub_nav
      = yield
      = render :partial => 'shared/footer'
    = render :partial => 'shared/google_analytics'
