!!!

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=UTF-8'}/
    %title== N2 -- #{APP_CONFIG['site_topic']} Admin Interface

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js', 'jquery.jcarousel.pack', 'jquery.quicksand.min', 'application'
    = javascript_include_tag 'hoverIntent'
    = javascript_include_tag 'superfish'
    = javascript_include_tag 'jquery.tablesorter.min'

    -# IE Debugging 
    =# javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'

    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = stylesheet_link_tag 'superfish'
    = stylesheet_link_tag 'tablesorter'

    :javascript
      $(function() {

        $('#admin-menu').superfish();

        // TODO:: get this working with pagination to work across the board
        //$('table').addClass('tablesorter').tablesorter();
        $('table').addClass('tablesorter');
        $('table.sort-table').tablesorter();

        $('table tbody tr').mouseover(function() {
          $(this).addClass('current-row');
        }).mouseout(function() {
          $(this).removeClass('current-row');
        });

      });

    %style
      :sass
        form.formtastic
          display: block
          fieldset ol li
            display: block
        .admin-menu-content
          padding-left: 30px
          padding-bottom: 30px
        .admin-blocked
          background-color: red

    = yield :head
    = yield :extra_javascript

  %body
    #admin-content.ui-tabs-panel.ui-widget-content.ui-corner-bottom
      .admin-menu-content
        %ul#admin-menu.sf-menu.sf-js-enabled.sf-shadow
          %li= link_to 'Dashboard', admin_path
          %li
            %a{:href => "#home-page"} Front Page
            %ul
              %li= link_to 'Feature Stories', admin_featured_items_path
              %li
                %a{:href => "#widgets"} Build Layout
                %ul
                  %li= link_to 'Choose Widgets', admin_widgets_path
                  %li= link_to 'Custom Widgets', admin_metadata_custom_widgets_path
              %li= link_to 'Announcements', admin_announcements_path
          %li
            %a{:href => "#contents"} Content
            %ul
              %li= link_to 'Flagged Items', admin_flags_path
              %li= link_to 'Stories', admin_contents_path
              %li= link_to 'Newswires', admin_newswires_path
              %li= link_to 'Comments', admin_comments_path
              %li= link_to 'RSS Feeds', admin_feeds_path
              %li= link_to 'News Sources', admin_sources_path
              %li= link_to 'Related Items', admin_related_items_path
          %li
            %a{:href => "#modules"} Modules
            %ul
              %li
                %a{:href => "#modules-ideas"} Ideas
                %ul
                  %li= link_to 'Ideas', admin_ideas_path
                  %li= link_to 'Topics', admin_idea_boards_path
              %li
                %a{:href => "#modules-resources"} Directory
                %ul
                  %li= link_to 'Links', admin_resources_path
                  %li= link_to 'Categories', admin_resource_sections_path
              %li
                = link_to 'Calendar', admin_events_path
                %ul
                  %li= link_to "Manage Events", admin_events_path
                  %li= link_to "Import from Zvents", import_zvents_admin_events_path
              %li
                %a{:href => "#modules-questions"} Q & A
                %ul
                  %li= link_to 'Questions', admin_questions_path
                  %li= link_to 'Answers', admin_answers_path
              %li
                %a{:href => "#forums-questions"} Forums
                %ul
                  %li= link_to 'Forums', admin_forums_path
                  %li= link_to 'Topics', admin_topics_path
              %li
                %a{:href => "#predictions"} Predictions
                %ul
                  %li= link_to 'Groups', admin_prediction_groups_path
                  %li= link_to 'Questions', admin_prediction_questions_path
                  %li= link_to 'Guesses', admin_prediction_guesses_path
          %li
            %a{:href => "#members"} Members
            %ul
              %li= link_to 'Users', admin_users_path
          %li
            %a{:href => "#module-settings"} Communicate
            %ul
              %li= link_to 'Dashboard', admin_dashboard_messages_path
              %li= link_to 'Clear Dashboard', clear_global_admin_dashboard_messages_path
              %li= link_to 'Dashboard FAQ', 'http://support.newscloud.com/faqs/managing-your-application/where-do-dashboard-messages-that-i-send-appear-to-the-reader'
          %li
            %a{:href => "#module-settings"} Settings
            %ul
              %li
                %a{:href => "#modules-metadata"} Custom Data
                %ul
                  %li= link_to 'Ad layouts', admin_metadata_ad_layouts_path
                  %li= link_to 'Ad banners', admin_metadata_ads_path
                  %li= link_to 'App settings', admin_metadata_settings_path
                  %li= link_to 'Custom widgets', admin_metadata_custom_widgets_path
                  %li= link_to 'Skip images', admin_metadata_skip_images_path
                  %li= link_to 'Headline filters', admin_metadata_title_filters_path
                  %li= link_to 'Activity scores', admin_metadata_activity_scores_path
              %li
                %a{:href => "#modules-settings-locales"} Languages
                %ul
                  %li= link_to 'Default text', admin_locale_translations_path(:locale_id => 'en')
                  %li= link_to 'Default pages', admin_locale_translations_path(:locale_id => 'en',:type => 'static_pages')
                  %li= link_to 'Locales', admin_locales_path
                  %li= link_to 'Translations', admin_translations_path
                  %li= link_to 'Reflect changes (use rarely)', refresh_admin_locales_path
          %li
            %a{:href => "#home-page"} Links
            %ul
              %li= link_to 'Web site', home_index_path
              %li= link_to 'Facebook Application', "http://apps.facebook.com/#{ENV['FACEBOOKER_RELATIVE_URL_ROOT']}"
              %li= link_to 'Facebook App Page', "http://www.facebook.com/apps/application.php?id=#{APP_CONFIG['facebook_application_id']}"
              %li= link_to 'Facebook App Statistics', "http://www.facebook.com/business/insights/app.php?id=#{APP_CONFIG['facebook_application_id']}"
              - if APP_CONFIG['google_analytics_site_id'].present? and APP_CONFIG['google_analytics_site_id']
                %li= link_to 'Google Analytics', "https://www.google.com/analytics/reporting/?reset=1&id=#{APP_CONFIG['google_analytics_site_id']}"
              - elsif APP_CONFIG['google_analytics_account_id'].present? and APP_CONFIG['google_analytics_account_id']
                %li= link_to 'Google Analytics', "https://www.google.com/analytics/reporting/?reset=1"
              %li= link_to 'Report a problem', 'http://support.newscloud.com/discussions/problems'
          -#
            %li= link_to 'Comments', '#comments'
            %li= link_to 'Users', '#users'
            %li= link_to 'User Infos', '#user_infos'
            %li= link_to 'Votes', '#votes'
      .main-content.clear
        .div{:style => 'clear:both'}
        %br
        = flash_messages
        = yield
