!!!

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=UTF-8'}/
    %title== N2 -- #{get_setting('site_title').try(:value)} Admin Interface

    =# javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js', 'jquery.jcarousel.pack', 'jquery.quicksand.min', 'jquery.ThreeDots.min.js', 'application', 'jquery.masonry.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js', 'jquery.jcarousel.pack', 'jquery.quicksand.min', 'jquery.ThreeDots.min.js', 'jquery.masonry.js'
    = javascript_include_tag 'hoverIntent'
    = javascript_include_tag 'superfish'
    = javascript_include_tag 'jquery.tablesorter.min'
    = javascript_include_tag 'admin.js'

    -# IE Debugging 
    =# javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'

    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = stylesheet_link_tag 'compiled/admin'
    = stylesheet_link_tag 'superfish'
    = stylesheet_link_tag 'tablesorter'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.7.2.custom'

    :javascript
      $(function() {

        $('#admin-menu').superfish();

        // TODO:: get this working with pagination to work across the board
        //$('table').addClass('tablesorter').tablesorter();
        $('table').addClass('tablesorter');
        $('table.sort-table').tablesorter();

        $('table tbody tr').mouseover(function() {
          $(this).addClass('current-row');
        }).mouseout(function() {
          $(this).removeClass('current-row');
        });

      });



    = yield :head
    = yield :extra_javascript

  %body
    #admin-content.clearfix
      .admin-menu-content
        %ul#admin-menu.sf-menu.sf-js-enabled.sf-shadow
          %li= link_to 'Dashboard', admin_path
          %li
            %a{:href => "#home-page"} Front Page
            %ul
              %li= link_to 'Feature Stories', admin_featured_items_path
              %li
                %a{:href => "#widgets"} Build Layout
                %ul
                  - if APP_CONFIG['use_view_objects']
                    %li= link_to 'Choose Widgets', newer_widgets_admin_widgets_path
                  - else
                    %li= link_to 'Choose Widgets', new_widgets_admin_widgets_path
                  %li= link_to 'Custom Widgets', admin_metadata_custom_widgets_path
              %li= link_to 'Announcements', admin_announcements_path
          %li
            %a{:href => "#contents"} Content
            %ul
              %li= link_to 'Flagged Items', admin_flags_path
              %li= link_to 'Stories', admin_contents_path
              %li= link_to 'Images', admin_images_path
              %li= link_to 'Newswires', admin_newswires_path
              %li= link_to 'Comments', admin_comments_path
              %li= link_to 'RSS Feeds', admin_feeds_path
              %li= link_to 'News Sources', admin_sources_path
              %li= link_to 'Related Items', admin_related_items_path
          %li
            %a{:href => "#modules"} Modules
            %ul
              %li
                %a{:href => "#modules-ideas"} Ideas
                %ul
                  %li= link_to 'Ideas', admin_ideas_path
                  %li= link_to 'Topics', admin_idea_boards_path
              %li
                %a{:href => "#modules-resources"} Directory
                %ul
                  %li= link_to 'Links', admin_resources_path
                  %li= link_to 'Categories', admin_resource_sections_path
              %li
                = link_to 'Calendar', admin_events_path
                %ul
                  %li= link_to "Manage Events", admin_events_path
                  %li= link_to "Import from Zvents", import_zvents_admin_events_path
              %li
                %a{:href => "#modules-questions"} Q & A
                %ul
                  %li= link_to 'Questions', admin_questions_path
                  %li= link_to 'Answers', admin_answers_path
              %li
                %a{:href => "#forums-questions"} Forums
                %ul
                  %li= link_to 'Forums', admin_forums_path
                  %li= link_to 'Topics', admin_topics_path
                  %li= link_to 'Reorder Forums', reorder_admin_forums_path
              %li
                %a{:href => "#predictions"} Predictions
                %ul
                  %li= link_to 'Groups', admin_prediction_groups_path
                  %li= link_to 'Questions', admin_prediction_questions_path
                  %li= link_to 'Guesses', admin_prediction_guesses_path
                  %li= link_to 'Results', admin_prediction_results_path
                  %li= link_to 'Refresh All Scores', refresh_all_admin_prediction_scores_path
          %li
            %a{:href => "#members"} Members
            %ul
              %li= link_to 'Users', admin_users_path
          %li
            %a{:href => "#module-settings"} Communicate
            %ul
              %li= link_to 'Dashboard', admin_dashboard_messages_path
              %li= link_to 'Clear Dashboard', clear_global_admin_dashboard_messages_path
              %li= link_to 'Dashboard FAQ', 'http://support.newscloud.com/faqs/managing-your-application/where-do-dashboard-messages-that-i-send-appear-to-the-reader'
          %li
            %a{:href => "#module-settings"} Settings
            %ul
              %li
                %a{:href => "#modules-metadata"} Configuration
                %ul
                  %li= link_to 'App settings', admin_metadata_settings_path
                  %li= link_to 'Headline filters', admin_metadata_title_filters_path
                  %li= link_to 'Skip images', admin_metadata_skip_images_path
                  %li= link_to 'Activity scores', admin_metadata_activity_scores_path
                  %li= link_to 'Custom widgets', admin_metadata_custom_widgets_path
                  %li= link_to 'Twitter Settings', admin_twitter_settings_path
              %li
                %a{:href => "#modules-metadata-advertising"} Advertising
                %ul
                  %li= link_to 'Ad layouts', admin_metadata_ad_layouts_path
                  %li= link_to 'Ad banners', admin_metadata_ads_path
                  %li= link_to 'Sponsor zones', admin_metadata_sponsor_zones_path
              %li
                %a{:href => "#modules-settings-locales"} Languages
                %ul
                  %li= link_to 'Default text', admin_locale_translations_path(:locale_id => 'en')
                  %li= link_to 'Default pages', admin_locale_translations_path(:locale_id => 'en',:type => 'static_pages')
                  %li= link_to 'Locales', admin_locales_path
                  %li= link_to 'Translations', admin_translations_path
                  %li= link_to 'Refresh changes', refresh_admin_locales_path
          %li
            %a{:href => "#home-page"} Links
            %ul
              %li= link_to 'Web site', home_index_path, :target => "_fbc"
              %li= link_to 'Facebook Application', "http://apps.facebook.com/#{ENV['FACEBOOKER_RELATIVE_URL_ROOT']}", :target => "_fbapp"
              %li= link_to 'Facebook App Page', "http://www.facebook.com/apps/application.php?id=#{APP_CONFIG['facebook_application_id']}", :target => "_facebook"
              %li= link_to 'Facebook App Statistics', "http://www.facebook.com/business/insights/app.php?id=#{APP_CONFIG['facebook_application_id']}", :target => "_facebook"
              - if get_setting('google_analytics_site_id').try(:value)
                %li= link_to 'Google Analytics', "https://www.google.com/analytics/reporting/?reset=1&id=#{get_setting('google_analytics_site_id').try(:value)}", :target => "_analytics"
              - elsif get_setting('google_analytics_account_id').try(:value)
                %li= link_to 'Google Analytics', "https://www.google.com/analytics/reporting/?reset=1", :target => "_analytics"
              %li= link_to 'Report a problem', 'http://support.newscloud.com/discussions/problems', :target => "_support"
      .main-content.clearfix
        = flash_messages
        = yield
