!!!

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=UTF-8'}/
    %title== N2 -- #{APP_CONFIG['site_topic']} Admin Interface

    = javascript_include_tag 'all'
    = javascript_include_tag 'hoverIntent'
    = javascript_include_tag 'superfish'

    = stylesheet_link_tag 'all'
    = stylesheet_link_tag 'superfish'

    :javascript
      $(function() {

        $('#admin-menu').superfish();

      });

    %style
      :sass
        form.formtastic
          display: block
          fieldset ol li
            display: block
        .admin-menu-content
          padding-left: 30px
          padding-bottom: 30px
        .admin-blocked
          background-color: red

    = yield :head
    = yield :extra_javascript

  %body
    #admin-content.ui-tabs-panel.ui-widget-content.ui-corner-bottom
      .admin-menu-content
        %ul#admin-menu.sf-menu.sf-js-enabled.sf-shadow
          %li= link_to 'Dashboard', admin_path
          %li
            %a{:href => "#home-page"} Home Page
            %ul
              %li= link_to 'Widgets', admin_widgets_path
              %li= link_to 'Featured Items', admin_featured_items_path
          %li
            %a{:href => "#modules"} Modules
            %ul
              %li
                %a{:href => "#modules-ideas"} Ideas
                %ul
                  %li= link_to 'Ideas', admin_ideas_path
                  %li= link_to 'Idea Boards', admin_idea_boards_path
              %li
                %a{:href => "#modules-resources"} Resources
                %ul
                  %li= link_to 'Resources', admin_resources_path
                  %li= link_to 'Resource Sections', admin_resource_sections_path
              %li= link_to 'Calendar', admin_events_path
          %li
            %a{:href => "#members"} Members
            %ul
              %li= link_to 'Users', admin_users_path
          %li
            %a{:href => "#contents"} Contents
            %ul
              %li= link_to 'Stories', admin_contents_path
              %li= link_to 'Content Images', admin_content_images_path
              %li= link_to 'Newswires', admin_newswires_path
              %li= link_to 'Feeds', admin_feeds_path
          -#
            %li= link_to 'Comments', '#comments'
            %li= link_to 'Users', '#users'
            %li= link_to 'User Infos', '#user_infos'
            %li= link_to 'Votes', '#votes'
      .main-content.clear
        = yield
