!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    - title = (out = yield(:title)) ? "#{out} - #{APP_CONFIG['site_title']}" : APP_CONFIG['site_title']
    %title= title
    %meta{:name => 'title', :content => title}
    %meta{:name => 'description', :content => (out = yield(:meta_description)) ? out : ""}
    %meta{:name => 'medium', :content => 'news'}
    %link{:rel  => "image_src", :content => (out = yield(:meta_image)) ? out : base_url('/images/default/icon-fan-app.gif')}
    
    - if iframe_facebook_request?
      = stylesheet_link_tag 'compiled/fb_grid.css', :media => 'screen, projection'
    - else
      = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = stylesheet_link_tag 'cards'

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js', 'jquery.jcarousel.pack', 'jquery.quicksand.min', "http://platform.twitter.com/anywhere.js?id=#{get_setting('oauth_key').value}&v=1",'application'
    = javascript_include_tag '/users/current'

    -# IE Debugging 
    =# javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'

  %body{:style=>"width: 450px; padding-left:5px;"}
  
    = flash_messages

    = yield

    - if iframe_facebook_request?
      <!-- Note: Include this div markup as a workaround for a known bug in this release on IE where you may get a "operation aborted" error -->
      <div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div>

      <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
      <script type="text/javascript"> FB_RequireFeatures(["CanvasUtil"], function(){ FB.XdComm.Server.init('/xd_receiver.html'); FB.CanvasClient.startTimerToSizeToContent(); }); </script>

    -# HACK:: non floating div eliminates webkit resizing issues with facebook javascript
    %div{:style => "clear: both;"}