!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    - title = (out = yield(:title)) ? "#{out} - #{APP_CONFIG['site_title']}" : APP_CONFIG['site_title']
    %title= title
    %meta{:name => 'title', :content => title}
    %meta{:name => 'description', :content => (out = yield(:meta_description)) ? out : ""}
    %meta{:name => 'medium', :content => 'news'}
  
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = stylesheet_link_merged :base

    - if APP_CONFIG['typekit'].present? and APP_CONFIG['typekit']
      = javascript_include_tag "http://use.typekit.com/#{APP_CONFIG['typekit']}.js"
      :javascript
        try{Typekit.load();}catch(e){}
        
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js', "http://platform.twitter.com/anywhere.js?id=#{get_setting('oauth_key').value}&v=1"
    = javascript_include_merged :base

    = javascript_include_tag 'application'

    = yield :head_content
              
  %body#widgets
    #bodyWrapper
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML", :js => :jquery

      = render :partial => 'widgets/header'

      = yield

      = render :partial => 'widgets/footer'

    -# HACK:: non floating div eliminates webkit resizing issues with facebook javascript
    %div{:style => "clear: both;"}